<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="name" :label="$t('special.name')" width="120"></el-table-column>
      <el-table-column prop="category" :label="$t('special.category')">
        <template slot-scope="scope">
          <span>{{(scope.row.category&&scope.row.category[1])?scope.row.category[1].name:''}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="creator" :label="$t('special.creator')">
        <template slot-scope="scope">
          <div>{{scope.row.creator?scope.row.creator.userName:(scope.row.adminCreator?scope.row.adminCreator.userName:'')}}</div>
        </template>
      </el-table-column>
      <el-table-column prop="approver" :label="$t('special.approver')">
        <template slot-scope="scope">
          <div>{{scope.row.approver?scope.row.approver.userName:''}}</div>
        </template>
      </el-table-column>
      <el-table-column prop="comments" :label="$t('special.comments')"></el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            plain
            round
            @click="editSpecial(scope.$index, dataList)"
          >
            <i class="fa fa-edit"></i>
          </el-button>
          <!-- <el-button
            size="mini"
            type="danger"
            plain
            round
            icon="el-icon-delete"
            @click="deleteSpecial(scope.$index, dataList)"
          ></el-button>-->
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editSpecial(index, rows) {
      let rowData = rows[index];
      let specialType = [],
        specialData = JSON.parse(JSON.stringify(rowData));
      let creator = "";
      if (specialData.category) {
        specialData.category.map((item, index) => {
          item && specialType.push(item._id);
        });
        specialData.category = specialType;
      }
      if (specialData.creator) {
        specialData.creator = specialData.creator._id;
         this.$emit("changeUserList", specialData.creator.userName);
      }
      this.$store.dispatch("showSpecialForm", {
        edit: true,
        formData: specialData
      });
    },
    deleteSpecial(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteSpecial({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getSpecialList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>