<template>
  <div class="adminUser">
    <SpecialForm
      ref="specialform"
      :dialogState="formState"
      :contentCategoryList="contentCategoryList"
    ></SpecialForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="special" :pageInfo="specialList.pageInfo"></TopBar>
        <DataTable
          :pageInfo="specialList.pageInfo"
          :dataList="specialList.docs"
          @changeUserList="changeUserList"
        ></DataTable>
        <Pagination :pageInfo="specialList.pageInfo" pageType="special"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import SpecialForm from "./specialForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    SpecialForm,
    Pagination
  },
  methods: {
    changeUserList(userName) {
      this.$refs.specialform.queryUserListByParams({
        searchkey: userName,
        group: "1"
      });
    }
  },
  computed: {
    ...mapGetters(["specialList", "contentCategoryList"]),
    formState() {
      return this.$store.getters.specialFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getSpecialList");
    this.$store.dispatch("getContentCategoryList");
  }
};
</script>

<style lang="">
</style>