<template>
    <div class="adminUser">
        <ResetAmountForm :dialogState="formState"></ResetAmountForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="resetAmount" :pageInfo="resetAmountList.pageInfo"></TopBar>
                <DataTable :pageInfo="resetAmountList.pageInfo" :dataList="resetAmountList.docs"></DataTable>
                <Pagination :pageInfo="resetAmountList.pageInfo" pageType="resetAmount"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import ResetAmountForm from './resetAmountForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            ResetAmountForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'resetAmountList'
            ]),
            formState() {
                return this.$store.getters.resetAmountFormState
            }
        },
        mounted() {
            this.$store.dispatch('getResetAmountList');
        }
    }
</script>

<style lang="">

</style>