<template>
  <div class="dr-ResetAmountForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      size="small"
      title="修改类别"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item :label="$t('resetAmount.money')" prop="money">
          <el-input size="small" v-model="dialogState.formData.money"></el-input>
        </el-form-item>
        <el-form-item :label="$t('resetAmount.default')" prop="default">
          <el-switch
            :on-text="$t('main.radioOn')"
            :off-text="$t('main.radioOff')"
            v-model="dialogState.formData.default"
          ></el-switch>
        </el-form-item>
        <el-form-item :label="$t('resetAmount.unit')" prop="unit">
          <el-select v-model="dialogState.formData.unit" placeholder="请选择">
            <el-option
              v-for="item in unitOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button
            size="medium"
            type="primary"
            @click="submitForm('ruleForm')"
          >{{dialogState.edit ? $t('main.form_btnText_update') : $t('main.form_btnText_save')}}</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array
  },
  data() {
    return {
      unitOptions: [
        { label: "MEC", value: "MEC" },
        { label: "MVPC", value: "MVPC" },
        { label: "MBT", value: "MBT" }
      ],
      rules: {
        unit: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("ResetAmount.name")
            }),
            trigger: "blur"
          },
          {
            min: 1,
            max: 12,
            message: this.$t("validate.rangelength", { min: 1, max: 12 }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    confirm() {
      this.$store.dispatch("hideResetAmountForm");
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.dialogState.formData;
          // 更新
          if (this.dialogState.edit) {
            services.updateResetAmount(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideResetAmountForm");
                this.$store.dispatch("getResetAmountList");
                this.$message({
                  message: this.$t("main.updateSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          } else {
            // 新增
            services.addResetAmount(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideResetAmountForm");
                this.$store.dispatch("getResetAmountList");
                this.$message({
                  message: this.$t("main.addSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>