<template>
    <div class="adminUser">
        <TagForm :dialogState="formState" :pageInfo="communityTagList.pageInfo"></TagForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="communityTag" :pageInfo="communityTagList.pageInfo"></TopBar>
                <DataTable :pageInfo="communityTagList.pageInfo" :dataList="communityTagList.docs"></DataTable>
                <Pagination :pageInfo="communityTagList.pageInfo" pageType="communityTag"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
import TagForm from "./tagForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    TagForm,
    Pagination
  },

  methods: {},
  computed: {
    ...mapGetters(["communityTagList"]),
    formState() {
      return this.$store.getters.communityTagFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getCommunityTagList");
  }
};
</script>

<style lang="">
</style>