<template>
    <div class="adminUser">
        <Mstt_bookForm :dialogState="formState"></Mstt_bookForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="mstt_book" :pageInfo="mstt_bookList.pageInfo"></TopBar>
                <DataTable :pageInfo="mstt_bookList.pageInfo" :dataList="mstt_bookList.docs"></DataTable>
                <Pagination :pageInfo="mstt_bookList.pageInfo" pageType="mstt_book"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import Mstt_bookForm from './mstt_bookForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            Mstt_bookForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'mstt_bookList'
            ]),
            formState() {
                return this.$store.getters.mstt_bookFormState
            }
        },
        mounted() {
            this.$store.dispatch('getMstt_bookList');
        }
    }
</script>

<style lang="">

</style>