<template>
    <div class="adminUser">
        <ClassTypeForm :dialogState="formState"></ClassTypeForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="classType" :pageInfo="classTypeList.pageInfo"></TopBar>
                <DataTable :pageInfo="classTypeList.pageInfo" :dataList="classTypeList.docs"></DataTable>
                <Pagination :pageInfo="classTypeList.pageInfo" pageType="classType"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import ClassTypeForm from './classTypeForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            ClassTypeForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'classTypeList'
            ]),
            formState() {
                return this.$store.getters.classTypeFormState
            }
        },
        mounted() {
            this.$store.dispatch('getClassTypeList');
        }
    }
</script>

<style lang="">

</style>