<template>
    <div class="adminUser">
        <Action_limit_masterForm :dialogState="formState"></Action_limit_masterForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="action_limit_master" :pageInfo="action_limit_masterList.pageInfo"></TopBar>
                <DataTable :pageInfo="action_limit_masterList.pageInfo" :dataList="action_limit_masterList.docs"></DataTable>
                <Pagination :pageInfo="action_limit_masterList.pageInfo" pageType="action_limit_master"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import Action_limit_masterForm from './action_limit_masterForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            Action_limit_masterForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'action_limit_masterList'
            ]),
            formState() {
                return this.$store.getters.action_limit_masterFormState
            }
        },
        mounted() {
            this.$store.dispatch('getAction_limit_masterList');
        }
    }
</script>

<style lang="">

</style>