<template>
  <div class="integralonfigForm">
    <el-row class="dr-datatable">
      <el-col :span="24">
        <el-form
          :model="integralonfig.configs"
          :rules="rules"
          ref="ruleForm"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="首次登陆" prop="login_first">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.login_first"
              :min="0"
              :max="1000"
              label="首次登陆"
            ></el-input-number>
          </el-form-item>

          <el-form-item label="浏览" prop="browse">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.browse"
              :min="0"
              :max="300"
              label="浏览"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.browse_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>

          <el-form-item label="点赞" prop="give_thumbs_up">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.give_thumbs_up"
              :min="0"
              :max="300"
              label="点赞"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.give_thumbs_up_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>
          <el-form-item label="文章评论" prop="comment">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.comment"
              :min="0"
              :max="300"
              label="文章评论"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.comment_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>
          <el-form-item label="社群评论" prop="community_comment">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.community_comment"
              :min="0"
              :max="300"
              label="社群评论"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.community_comment_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>
          <el-form-item label="打赏" prop="appreciate">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.appreciate"
              :min="0"
              :max="300"
              label="打赏"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.appreciate_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>
          <el-form-item label="收藏" prop="collections">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.collections"
              :min="0"
              :max="300"
              label="收藏"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.collections_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>
          <el-form-item label="关注" prop="collections">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.follow"
              :min="0"
              :max="300"
              label="关注"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.follow_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>
          <el-form-item label="转发" prop="forward">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.forward"
              :min="0"
              :max="300"
              label="转发"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.forward_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>
          <el-form-item label="社群建设" prop="community_building">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.community_building"
              :min="0"
              :max="300"
              label="社群建设"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">每日限制</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.community_building_limit"
                :min="0"
                :max="300"
                label="每日限制"
              ></el-input-number>
              <span class="txt">次</span>
            </div>
          </el-form-item>
          <el-form-item label="邀请" prop="invitation">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.invitation"
              :min="0"
              :max="300"
              label="邀请"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="举报" prop="report">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.report"
              :min="0"
              :max="300"
              label="举报"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="审核" prop="review">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.review"
              :min="0"
              :max="300"
              label="审核"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="内容创作" prop="creat_content">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.creat_content"
              :min="0"
              :max="300"
              label="内容创作"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="实名认证" prop="creat_identity">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.creat_identity"
              :min="0"
              :max="300"
              label="实名认证"
            ></el-input-number>
          </el-form-item>

          <el-form-item label="课程订购" prop="subscribe">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.subscribe"
              :min="0"
              :max="300"
              label="课程订购"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="购买会员" prop="buyVip">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.buyVip"
              :min="0"
              :max="300"
              label="购买会员"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="签到" prop="signIn">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.signIn"
              :min="0"
              :max="300"
              label="签到"
            ></el-input-number>
            <div class="limitInput">
              <span class="txt">连续7天</span>
              <el-input-number
                controls-position="right"
                size="small"
                v-model="integralonfig.configs.signIn_continuity"
                :min="0"
                :max="300"
                label="连续7天奖励"
              ></el-input-number>
              <span class="txt">&nbsp;</span>
            </div>
          </el-form-item>
          <el-form-item label="生日奖励" prop="brithday">
            <el-input-number
              controls-position="right"
              size="small"
              v-model="integralonfig.configs.brithday"
              :min="0"
              :max="300"
              label="生日奖励"
            ></el-input-number>
          </el-form-item>

          <el-form-item>
            <el-button
              :loading="loadingState"
              size="medium"
              type="primary"
              @click="submitForm('ruleForm')"
            >{{$t('main.form_btnText_save')}}</el-button>
            <el-button size="medium" @click="resetForm('ruleForm')">{{$t('main.reSetBtnText')}}</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import services from "../../store/services.js";
import _ from "lodash";

export default {
  name: "index",
  data() {
    return {
      loadingState: false,
      rules: {}
    };
  },
  components: {},
  methods: {
    submitForm(formName) {
      this.loadingState = true;
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.integralonfig.configs;
          // 更新
          services.updateIntegralonfig(params).then(result => {
            if (result.data.status === 200) {
              this.$store.dispatch("getIntegralonfigList");
              this.loadingState = false;
              this.$message({
                message: this.$t("main.updateSuccess"),
                type: "success"
              });
            } else {
              this.$message.error(result.data.message, result.message);
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  },
  computed: {
    ...mapGetters(["integralonfig"])
  },
  mounted() {
    this.$store.dispatch("getIntegralonfigList");
  }
};
</script>

<style lang="scss">
.integralonfigForm {
  padding-top: 40px;

  .limitInput {
    display: inline-block;
    margin: 0 20px;
    .txt {
      margin: 0 15px;
    }
  }
}
.el-input--small .el-input__inner {
  height: 34px;
}
</style>