<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="name" :label="$t('identityAuthentication.name')" width="120"></el-table-column>
      <el-table-column prop="user" :label="$t('identityAuthentication.user')">
        <template
          slot-scope="scope"
        >{{(scope.row.user&&scope.row.user.userName)?scope.row.user.userName:''}}</template>
      </el-table-column>
      <el-table-column prop="cardType" :label="$t('identityAuthentication.cardType')">
        <template slot-scope="scope">
          <span v-if="scope.row.cardType == '0'">身份证</span>
          <span v-if="scope.row.cardType == '1'">护照</span>
          <span v-if="scope.row.cardType == '2'">其他有效证件</span>
        </template>
      </el-table-column>
      <el-table-column prop="areaType" :label="$t('identityAuthentication.areaType')">
        <template slot-scope="scope">
          <span v-if="scope.row.areaType == '0'">大陆</span>
          <span v-if="scope.row.areaType == '1'">港澳</span>
          <span v-if="scope.row.areaType == '2'">台湾</span>
          <span v-if="scope.row.areaType == '4'">外籍</span>
        </template>
      </el-table-column>
      <el-table-column prop="idCardNo" :label="$t('identityAuthentication.idCardNo')"></el-table-column>

      <el-table-column prop="state" :label="$t('identityAuthentication.state')">
        <template slot-scope="scope">
          <span v-if="scope.row.state == '0'">待审核</span>
          <span v-if="scope.row.state == '1'">审核通过</span>
          <span v-if="scope.row.state == '2'">审核不通过</span>
        </template>
      </el-table-column>
      <el-table-column prop="approver" :label="$t('identityAuthentication.approver')">
        <template slot-scope="scope">{{scope.row.approver?scope.row.approver.userName:''}}</template>
      </el-table-column>
      <el-table-column prop="date" :label="$t('creativeRight.date')"></el-table-column>
      <el-table-column prop="updatetime" :label="$t('creativeRight.updatetime')"></el-table-column>
      <el-table-column prop="comments" :label="$t('identityAuthentication.comments')"></el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150" fixed="right">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            :disabled="scope.row.state == '1'"
            plain
            round
            @click="editIdentityAuthentication(scope.$index, dataList)"
          >
            <i class="fa fa-edit"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editIdentityAuthentication(index, rows) {
      let rowData = rows[index];
      this.$store.dispatch("showIdentityAuthenticationForm", {
        edit: true,
        formData: rowData
      });
    }
  }
};
</script>

<style lang="scss">
.cardImg {
  img {
    width: 100%;
  }
}
</style>
