<template>
    <div class="adminUser">
        <MasterCategoryForm :dialogState="formState"></MasterCategoryForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="masterCategory" :pageInfo="masterCategoryList.pageInfo"></TopBar>
                <DataTable :pageInfo="masterCategoryList.pageInfo" :dataList="masterCategoryList.docs"></DataTable>
                <Pagination :pageInfo="masterCategoryList.pageInfo" pageType="masterCategory"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import MasterCategoryForm from './masterCategoryForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            MasterCategoryForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'masterCategoryList'
            ]),
            formState() {
                return this.$store.getters.masterCategoryFormState
            }
        },
        mounted() {
            this.$store.dispatch('getMasterCategoryList');
        }
    }
</script>

<style lang="">

</style>