<template>
    <div class="adminUser">
        <Threshold_masterForm :dialogState="formState"></Threshold_masterForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="threshold_master" :pageInfo="threshold_masterList.pageInfo"></TopBar>
                <DataTable :pageInfo="threshold_masterList.pageInfo" :dataList="threshold_masterList.docs"></DataTable>
                <Pagination :pageInfo="threshold_masterList.pageInfo" pageType="threshold_master"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import Threshold_masterForm from './threshold_masterForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            Threshold_masterForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'threshold_masterList'
            ]),
            formState() {
                return this.$store.getters.threshold_masterFormState
            }
        },
        mounted() {
            this.$store.dispatch('getThreshold_masterList');
        }
    }
</script>

<style lang="">

</style>