<template>
    <div class="adminUser">
        <HotSearchForm :dialogState="formState"></HotSearchForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="hotSearch" :pageInfo="hotSearchList.pageInfo"></TopBar>
                <DataTable :pageInfo="hotSearchList.pageInfo" :dataList="hotSearchList.docs"></DataTable>
                <Pagination :pageInfo="hotSearchList.pageInfo" pageType="hotSearch"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import HotSearchForm from './hotSearchForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            HotSearchForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'hotSearchList'
            ]),
            formState() {
                return this.$store.getters.hotSearchFormState
            }
        },
        mounted() {
            this.$store.dispatch('getHotSearchList');
        }
    }
</script>

<style lang="">

</style>