<template>
  <div class="dr-BillRecordForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      size="small"
      title="邀请详情"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item
          :label="$t('billRecord.user')"
          prop="user"
        >{{dialogState.formData.user.userName}}</el-form-item>
        <el-form-item :label="$t('billRecord.type')" prop="type">{{dialogState.formData.type}}</el-form-item>
        <el-form-item :label="$t('billRecord.action')" prop="action">邀请</el-form-item>
        <el-form-item label="邀请者信息" prop="user">
          <ul>
            <li>
              <label>用户名：</label>
              {{dialogState.formData.user.userName}}
            </li>
          </ul>
        </el-form-item>
        <el-form-item label="被邀请者信息" prop="targetUser">
          <ul>
            <li>
              <label>用户名：</label>
              {{dialogState.formData.target_user.userName}}
            </li>
          </ul>
        </el-form-item>
        <!-- <el-form-item :label="$t('billRecord.coins')" prop="coins">{{dialogState.formData.coins}}</el-form-item> -->
        <el-form-item :label="$t('billRecord.date')" prop="date">{{dialogState.formData.date}}</el-form-item>

      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array
  },
  data() {
    return {
      rules: {
        name: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("BillRecord.name")
            }),
            trigger: "blur"
          },
          {
            min: 1,
            max: 12,
            message: this.$t("validate.rangelength", { min: 1, max: 12 }),
            trigger: "blur"
          }
        ],
        comments: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("main.comments_label")
            }),
            trigger: "blur"
          },
          {
            min: 2,
            max: 30,
            message: this.$t("validate.ranglengthandnormal", {
              min: 2,
              max: 30
            }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    confirm() {
      this.$store.dispatch("hideBillRecordForm");
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.dialogState.formData;
          // 更新
          if (this.dialogState.edit) {
            services.updateBillRecord(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideBillRecordForm");
                this.$store.dispatch("getBillRecordList");
                this.$message({
                  message: this.$t("main.updateSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          } else {
            // 新增
            services.addBillRecord(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideBillRecordForm");
                this.$store.dispatch("getBillRecordList");
                this.$message({
                  message: this.$t("main.addSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>