<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="user" label="邀请者" width="120">
        <template slot-scope="scope">{{scope.row.user.userName}}</template>
      </el-table-column>
      <el-table-column prop="user" label="被邀请者" width="120">
        <template slot-scope="scope">{{scope.row.target_user.userName}}</template>
      </el-table-column>
      <!-- <el-table-column prop="action" :label="$t('billRecord.action')">
        <template slot-scope="scope">{{scope.row.action.logs}}</template>
      </el-table-column>-->
      <!-- <el-table-column prop="coins" :label="$t('billRecord.coins')"></el-table-column>
      <el-table-column prop="unit" :label="$t('billRecord.unit')"></el-table-column>-->
      <el-table-column prop="logs" :label="$t('billRecord.logs')"></el-table-column>
      <el-table-column prop="uuid" :label="$t('billRecord.uuid')"></el-table-column>
      <el-table-column prop="date" :label="$t('billRecord.date')"></el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150" fixed="right">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            plain
            round
            @click="editBillRecord(scope.$index, dataList)"
          >
            <i class="fa fa-eye"></i>&nbsp;详情
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editBillRecord(index, rows) {
      let rowData = rows[index];
      this.$store.dispatch("showInvitionForm", {
        edit: true,
        formData: rowData
      });
    }
  }
};
</script>