<template>
  <div class="adminUser">
    <BillRecordForm :dialogState="formState"></BillRecordForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="invitationRecord" :pageInfo="invitionRecordList.pageInfo"></TopBar>
        <DataTable :pageInfo="invitionRecordList.pageInfo" :dataList="invitionRecordList.docs"></DataTable>
        <Pagination :pageInfo="invitionRecordList.pageInfo" pageType="invitationRecord"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import BillRecordForm from "./billRecordForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    BillRecordForm,
    Pagination
  },
  methods: mapActions([]),
  computed: {
    ...mapGetters(["invitionRecordList"]),
    formState() {
      return this.$store.getters.invitionRecordFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getInvitionList");
  }
};
</script>

<style lang="">
</style>