<template>
    <div class="adminUser">
        <Review_hisForm :dialogState="formState"></Review_hisForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="review_his" :pageInfo="review_hisList.pageInfo"></TopBar>
                <DataTable :pageInfo="review_hisList.pageInfo" :dataList="review_hisList.docs"></DataTable>
                <Pagination :pageInfo="review_hisList.pageInfo" pageType="review_his"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import Review_hisForm from './review_hisForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            Review_hisForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'review_hisList'
            ]),
            formState() {
                return this.$store.getters.review_hisFormState
            }
        },
        mounted() {
            this.$store.dispatch('getReview_hisList');
        }
    }
</script>

<style lang="">

</style>