// @import "~bootstrap/dist/css/bootstrap";
// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/**
    清除浮动
    */

.clearfloat:after {
    display: block;
    content: "$";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.clearfloat {
    zoom: 1;
}

// body{
//     position: relative;
// }
.navbarInverse {
    padding: 0;
    color: #9d9d9d;
    height: 52px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(26, 26, 26, .1);
    background-clip: content-box; //当屏幕大于768时的效果

    @media screen and (min-width: 768px) {
        overflow: hidden;
    }

    &.navbar {
        margin-bottom: 10px;
    }

    &.is-fixed {
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        box-sizing: border-box;
        -webkit-font-smoothing: subpixel-antialiased
    }

    .container {
        position: relative;
        height: 50px;

        .navbar-header {
            flex-wrap: wrap;
            flex: 1;
            margin-right: -15px;
            font-size: 16px; //logo

            .navbar-brand {
                float: left;
                display: flex;
                align-items: center;
                padding: 2px 15px 0;

                img {
                    height: 70%;
                    margin-right: 20px;
                }
            }

            .MobileAppHeader-downloadLink {
                padding-top: 12px;
                margin-right: 10px;
                float: right;
            }

            .navbar-toggle {
                position: relative;
                float: right;
                padding: 9px 10px;
                margin-top: 8px;
                margin-right: 10px;
                margin-bottom: 8px;
                background-color: transparent;

                .icon-bar {
                    background-color: #8590a6;
                    display: block;
                    width: 22px;
                    height: 2px;
                    border-radius: 1px;

                    &+.icon-bar {
                        margin-top: 4px;
                    }
                }
            }

            &:before {
                display: table;
                content: ""
            }

            &:after {
                display: table;
                content: "";
                clear: both;
            }
        }

        .navbar-collapse {
            background: #fff;

            &.defaultHeader {

                // 当浏览器尺寸大于768px时候的代码
                @media screen and (min-width: 768px) {
                    &:not(.in) {
                        &.is-hidden {
                            -webkit-transform: translateY(-100%);
                            transform: translateY(-100%)
                        }
                    }
                }
            }

            &.PageHeader {
                z-index: 99;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100% !important;
                transition: -webkit-transform .3s;
                transition: transform .3s;
                transition: transform .3s, -webkit-transform .3s;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;

                &:not(.is-shown) {
                    -webkit-transform: translateY(100%);
                    transform: translateY(100%)
                }

                .topSearch {
                    float: right;
                }

                .scrollTab {
                    float: left;
                    padding: 0;
                    margin: 0;

                    &>div {
                        display: inline-block;
                        padding: 0 20px;
                        list-style-type: none;

                        .link {
                            padding: 14px 0;
                            position: relative;
                            display: inline-block;
                            font-size: 16px;
                            line-height: 22px;
                            color: #1a1a1a;
                            text-align: center;
                            font-weight: normal;
                            text-decoration: none;

                            &.active {
                                font-weight: 600;

                                &:after {
                                    position: absolute;
                                    right: 0;
                                    bottom: -1px;
                                    left: 0;
                                    height: 3px;
                                    background: #0084ff;
                                    content: ""
                                }
                            }
                        }
                    }
                }
            }

            @media (min-width: 768px) {
                &.PageHeader {
                    width: 750px;
                }
            }

            @media (min-width: 992px) {
                &.PageHeader {
                    width: 970px;
                }
            }

            @media (min-width: 1200px) {
                &.PageHeader {
                    width: 1170px;
                }
            }

            .navbar-nav {
                margin: 0;
                padding-top: 15px;
                font-size: 16px;

                a {
                    color: #9D9D9A;
                }
            }

            .downloadLink {
                padding-top: 14px;
                margin-right: 10px;
                float: right;
            }

            .topSearch {
                float: left;
                margin-top: 7px;
                margin-right: 10px;
                width: 200px;

                input {
                    box-shadow: none;
                }

                .btn {
                    border-left: 0;
                    border-left: none;

                    &:hover {
                        background-color: #fff;
                        border-color: #ccc;
                    }

                    i {
                        color: #9d9d9d;
                    }
                }
            }

            .navbar-right {
                li {
                    float: left;

                    a {
                        color: #9D9D9A;
                    }

                    //当屏幕大于768时的效果
                    @media screen and (min-width:768px) {
                        &.toWrite {

                            // 定位方式
                            position: relative;
                            margin-right: 10px;

                            a {
                                position: absolute;
                                left: 0;
                                top: -5px;
                                width: 80px;
                                height: 30px;
                                line-height: 30px !important;
                                text-align: center;
                                color: #fff !important;
                                border-radius: 15px;
                                background: #4263ad;

                                &:hover {
                                    color: #fff;
                                    background: #4263ad !important;
                                }
                            }
                        }

                        &.myHome {
                            padding: 0;

                            .smShow {
                                text-indent: -9999px;
                            }

                            .img {
                                display: inline-block;
                                background: lightgray;
                                margin: 5px 33px 0;
                                width: 42px;
                                height: 42px;
                                border-radius: 21px;
                                background-size: contain !important;
                                cursor: pointer;
                            }
                        }
                    }
                }

                @media (max-width: 640px) {
                    li {
                        float: none;
                    }
                }
            }

            &.collapse {
                .navbar-right.loginIn {
                    padding-top: 0 !important;

                    .toWrite {

                        a {
                            top: 10px;
                        }
                    }
                }

                &.collapsing {
                    .navbar-right {
                        li {
                            float: none;
                        }
                    }
                }

                &.in {
                    display: block;
                    overflow-y: auto;
                    min-height: 400px;
                    position: fixed;
                    width: 100%;

                    .navbar-nav {
                        margin: 0;

                        li {
                            a {
                                padding: 10px 15px;
                                border-bottom: 1px solid #ebebeb;
                            }
                        }
                    }

                    .navbar-right {
                        margin: 0;

                        li {
                            float: none;

                            .img {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                position: absolute;
                                right: 0;
                                top: 5px;
                            }

                            a {
                                padding: 10px 15px;
                                border-bottom: 1px solid #ebebeb;
                            }

                            //小屏幕手机
                            &.toWrite {
                                position: initial;
                                margin-right: 15px;

                                a {
                                    position: initial;
                                    width: auto;
                                    height: auto;
                                    line-height: 30px !important;
                                    text-align: left;
                                    color: #9d9d9d !important;
                                    border-radius: 15px;
                                    background: transparent;

                                    &:hover {
                                        color: #9d9d9d;
                                        background: transparent !important;
                                    }
                                }
                            }

                            &:last-of-type {
                                a {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .nav {
                    margin-bottom: 0;
                    padding: 15px 0 0 0;
                    list-style: none;

                    &>li {
                        position: relative;
                        display: block; // padding: 0 11px;

                        &>a {
                            position: relative;
                            display: block;
                            padding: 0 15px;
                            color: #9d9d9d;
                            line-height: 20px;

                            &:hover,
                            &:focus {
                                color: #175199;
                                text-decoration: none;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

//头部退出弹出
.myHomePopItem {
    a {
        cursor: pointer;
        line-height: 28px;
        color: #9d9d9d;

        &:hover {
            color: #175199;
        }
    }
}

//尾部开始
.bs-docs-footer {
    bottom: 0;
    padding: 15px 0;
    color: #c9c7c7;
    text-align: center;
    background-color: #2d2d2d;

    .footerLogo {
        width: 130px;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.bs-docs-footer a {
    color: #c9c7c7;
    text-decoration: underline;

    &:hover {
        color: #fff;
    }
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 10px;

    a {
        font-size: 12px;
        text-decoration: none;
    }
}

.reserved {
    font-size: 12px;
}

.bs-docs-footer-links li {
    display: inline-block;
}

.bs-docs-footer-links li+li {
    margin-left: 25px;
}

@media (min-width: 768px) {
    .bs-docs-footer {
        text-align: left;
    }

    .bs-docs-footer p {
        margin-bottom: 0;
    }
}

.footerFr {
    dl {
        display: flex;

        dt {
            flex: 1;
            position: relative;

            a {
                display: block;
                width: 55px;
                height: 55px;
                margin: 0 auto;
                line-height: 55px;
                text-align: center;
                border-radius: 50%;
                color: #c8c8c8;
                font-size: 18px;
                background: #656565;
            }

            .WeChat {
                display: none;
                position: absolute;
                top: -106px;
                width: 100%;
                text-align: center;

                i {
                    position: absolute;
                    bottom: -9px;
                    left: 50%;
                    margin: 0 0 0 -10px;
                    border-width: 10px;
                    border-color: #fff;
                    border-bottom-width: 0;
                    border-style: dashed;
                    border-top-style: solid;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    font-size: 0;
                    line-height: 0;
                }

                img {
                    width: 90px;
                    height: 90px;
                }
            }

            &.dtFirst:hover {
                .WeChat {
                    display: block;
                }
            }
        }
    }

    // 社交平台小图标
    i {
        font-size: 24px;
        text-decoration: none;
    }
}

// rCard
.rCard {
    margin-bottom: 14px;
    color: #8590a6;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-sizing: border-box;

    h2 {
        margin: 0;
        padding: 10px;
        font-size: 16px;
        font-weight: normal;

        .more {
            margin: 0;
            cursor: pointer;
            float: right;
            font-size: 12px;
            font-weight: normal;

            i {
                margin: 4px 7px 0 0;
            }

            &:hover {
                color: orangered;
            }
        }
    }

    .attentionAdd {
        padding: 0 10px 10px;

        .btn-primary {
            background: #4263ad;
            border-color: #4263ad;
        }
    }

    &.notice {
        padding: 10px 0 10px;
        background: #fef4e2; // box-shadow: none;

        // border: 1px solid #eee;
        ul {
            margin: 0;
            padding: 0 10px;

            li {
                list-style-type: none;
                line-height: 200%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                a {
                    color: #8590a6;
                }

                &.red {
                    color: red;

                    a {
                        color: red;
                    }
                }

                .fa {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;

                    &::before {
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    &.specialRecommend {
        padding-bottom: 8px;

        li {
            float: left;
            width: 50%;
            margin-top: 10px;

            .specialRecommendContent {
                display: block;
                position: relative;
                width: 110px;
                height: 120px;
                margin-left: 10px;

                .text {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 5px;
                    word-break: break-word;
                    max-height: 41px;
                    cursor: pointer;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    font-size: 12px;
                    color: #fff;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0))
                }
            }

            @media (max-width:1200px) {
                .advertCont {
                    position: relative;
                    width: 90px;
                    height: 90px;

                }
            }
        }
    }

    .recommendWriterList {
        padding: 10px 10px 0;

        dl {
            @include flexbox;
            @include align-items('center');
            margin-bottom: 14px;

            dt {
                @include flex(1);
                font-weight: normal;

                &:hover {
                    cursor: pointer;
                    color: #175199;

                    .circleImg {
                        background: #8390a8;
                    }
                }

                .circleImg {
                    float: left;
                    margin-right: 7px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 2px solid #4263ad;

                    img {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                    }
                }

                p {
                    margin-bottom: 4px;
                    font-size: 12px;

                    &.writer {
                        font-size: 14px;
                    }

                    span {
                        display: inline-block;
                        margin-right: 4px;
                    }
                }
            }

            dd {
                padding-left: 4px;
                width: 50px;

                span {
                    display: inline-block;
                    margin-top: 7px;
                    cursor: pointer;
                    color: #4263ad;

                    i {
                        margin-right: 2px;
                    }
                }
            }
        }
    }

    .recommendGroupList {
        padding: 10px 10px 0;

        dl {
            @include flexbox;
            @include align-items('center');
            margin-bottom: 14px;

            dt {
                display: inline-block;
                margin-right: 7px;
                width: 40px;
                height: 40px; // background: red;
                border-radius: 4px;
                font-weight: normal;
                overflow: hidden;

                img {
                    border: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                }
            }

            dd {
                @include flex(1);

                &:hover {
                    color: #175199;
                    cursor: pointer;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    height: 25px;
                    overflow: hidden;

                    li {
                        list-style-type: none;
                        float: left;
                        width: 50%;
                        height: 25px;
                        line-height: 25px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        &.tit {
                            font-size: 14px;
                        }

                        &.countData {
                            font-size: 12px;

                            span {
                                display: inline-block;
                                margin-right: 4px;
                            }
                        }
                    }
                }

                p {
                    padding: 0;
                    margin: 0;
                    line-height: 12px;
                    height: 25px;
                    overflow: hidden;
                    font-size: 12px;
                }
            }
        }
    }
}


.areaCode {
    position: absolute;
    color: #666;
    display: inline-block;
    top: 0;
    left: 30px;
    height: 30px;
    margin-top: 9px;
    padding-right: 5px;
    border-right: solid 1px #e5e5e5;
    line-height: 30px;
    font-size: 14px;

    &:hover {
        cursor: pointer;
    }
}

.area_code_list {
    display: none;
    position: absolute;
    left: 16px;
    top: 45px;
    z-index: 10;
    width: 200px;
    max-height: 288px;
    border: 1px solid #d0d0d0;
    text-align: left;
    overflow-y: scroll;
    background-color: #fff;

    dl {
        line-height: 36px;
        cursor: default;

        dt {
            padding: 0 12px;
            color: #999;
            background-color: #FBFBFB;
        }

        dd {
            padding: 5px 12px;
            color: #555;

            &:hover {
                cursor: pointer;
                color: #0079FE;
            }

            span {
                display: inline-block;
                width: 48%;
                text-align: left;

                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}