@charset "UTF-8";
$pic_url: "../assets";
$font_url: "../fonts";
$font_url2: "../../fonts";
// 闭合子元素的浮动
@mixin clearfix ($extend:true) {
    @if $extend {
        @extend %clearfix;
    }
    @else {
        *zoom: 1;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
}

%clearfix {
    @include clearfix(false);
}

// Hide from both screenreaders and browsers: h5bp.com/u
// 既隐藏于视觉也隐藏于屏幕浏览器
@mixin hidden ($extend:true) {
    @if $extend {
        @extend %hidden;
    }
    @else {
        display: none !important;
        visibility: hidden;
    }
}

%hidden {
    @include hidden(false);
}