// @import "~swiper/dist/css/swiper.min.css";
.tab-weibo {
    .tabWeiboCard {
      display: flex;
      padding: 20px;
      .pic{
        width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 20px;
        img{
          width: 100%;
        }
      }
      .weiboText{
        flex: 1;
        h4{
          margin: 3px 0 3px 0;
          font-size: 15px;
          font-weight: bold;
        }
        .time{
          margin: 3px 0 3px 0;
          font-size: 14px;
          color: #999;
        }
        p.tit{
          margin: 3px 0 3px 0;
          font-size: 14px;
          color: #666;
        }
        .slide{
          margin-top: 15px;
          .slideImg{
            img{
              width: 100%;
            }
          }
        }
        .slideCont{
          margin-top: 5px;
           .slideImg{
             max-width :600px;
             .img{
               width: 100%;
               margin-top: 10px;
               padding-bottom: 100%;
               background: no-repeat center center / cover;
               cursor: pointer;
             }
           }
          .advertSmallImg{
            display: none;
            max-width :600px;
            .bigImg{
              img{
                max-width: 100%;
              }
            }
            .smallCont{
              padding: 0 8px;
            }
            .previewImage{
              opacity: 0.6;
              &.active{
                opacity: 1;
              }
            }
            .smallImg{
              width: 100%;
              margin-top: 10px;
              padding-bottom: 100%;
              background: no-repeat center center / cover;

              cursor: pointer;


            }
          }
          video{
            width: 100%;
          }

        }
      }
    }
  .rowLine{
    width: 100%;
    ul{
      padding: 8px 0;
      border-top: solid 1px #e5e5e5;
      border-bottom: solid 1px #e5e5e5;
      li{
        float: left;
        width: 25%;
        text-align: center;
        a{
          display: block;
          border-right: solid 1px #e5e5e5;
          color: #666;
          i{
            margin-right: 5px;
          }
          &:hover,&.active{
            text-decoration: none;
            color: #eb7350;
          }
        }
        &:last-child{
          a{
            border-right: none;
          }
        }
      }
    }
  }
}