// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import "~swiper/dist/css/swiper.min.css";
//图标库 http://fontawesome.dashgame.com/
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contentMain {
    background: #f6f6f6;

    .container {
        margin-bottom: 20px;
    }

    .dslCol {
        padding-left: 7px;
        padding-right: 7px;
    }

    .article {
        padding: 30px;
        background: #fff;

        h2 {
            margin: 0;
            padding: 0;
            font-size: 26px;
            font-weight: 700;
        }

        @media (max-width: 768px) {
            h2 {
                font-size: 18px;
            }
        }

        .articleCont {
            p {
                margin: 15px 0;
                line-height: 28px;
                font-size: 16px;
                color: #333;
            }

            img {
                width: 100%;
                margin: 15px 0;
            }
        }

        h5 {
            padding: 0;
            margin: 40px 0 10px 0;
            line-height: 28px;
            font-size: 16px;
            font-weight: normal;
            color: #333;
        }

        h4.tit {
            margin-top: 30px;
        }
    }
}