// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import "~swiper/dist/css/swiper.min.css";
//图标库 http://fontawesome.dashgame.com/
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contentMain {
  background: #f6f6f6;

  .container {
    margin-bottom: 20px;
  }

  .dslCol {
    padding-left: 7px;
    padding-right: 7px;
  }

  .article {
    padding: 30px;
    background: #fff;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 26px;
      font-weight: normal;
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 18px;
      }
    }

    .userTop {
      display: flex;
      padding: 30px 18px 10px 0;
      background: #fff;

      .headPortrait {
        margin-right: 15px;
        width: 55px;
        height: 55px;

        img {
          width: 55px;
          height: 55px;
          border: solid 1px #ddd;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      @media (max-width: 768px) {
        .headPortrait {
          width: 25%;
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .userInfo {
        -moz-flex: 1;
        flex: 1;

        h3 {
          margin: 10px 0 5px 0;
          padding: 0;
          font-size: 18px;
          font-weight: normal;
          color: #666;
        }

        @media (max-width: 768px) {
          h3 {
            font-size: 16px;
          }
        }

        .industry {
          padding: 0;
          margin: 0 0 5px 0;
          font-size: 16px;
          font-weight: normal;
          color: #999;

          span {
            display: inline-block;
          }

          .editUser {
            float: right;
            padding: 0 16px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
            background: none;
            border: 1px solid #0084ff;
            border-radius: 20px;
            font-weight: normal;
            font-size: 14px;
            color: #0084ff;

            i {
              margin-right: 10px;
            }

            &:hover {
              text-decoration: none;
              opacity: 0.8;
            }
          }
        }
      }
    }

    .articleCont {
      p {
        margin: 15px 0;
        line-height: 28px;
        font-size: 16px;
        color: #333;
      }

      img {
        width: 100%;
        margin: 15px 0;
      }
    }

    h5 {
      padding: 0;
      margin: 40px 0 10px 0;
      line-height: 28px;
      font-size: 16px;
      font-weight: normal;
      color: #333;
    }

    .articleUl {
      li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 5px 0;
        height: 25px;
        font-size: 16px;
        color: #0084ff;

        a {
          font-size: 16px;
          color: #0084ff;
        }
      }
    }

    .speech {
      margin-top: 30px;

      .textFl {
        display: inline-block;
        font-size: 15px;
        color: #0084ff;

        i {
          margin-right: 5px;
        }
      }

      .textFr {
        float: right;
        font-size: 15px;
        color: #333;

        i {
          margin-right: 5px;
        }
      }
    }

    .reward {
      margin-top: 60px;
      text-align: center;

      a {
        display: inline-block;
        width: 92px;
        height: 92px;
        overflow: hidden;
        margin-right: 15px;
        border: solid 1px #e5e5e5;
        border-radius: 6px;
        text-align: center;
        color: #666;

        i {
          margin-top: 23px;
          font-size: 20px;

          &.cur {
            color: orange
          }
        }

        p {
          overflow: hidden;
          margin: 0;
          font-size: 14px;
        }

        &:hover {
          text-decoration: none;
          color: orange
        }
      }
    }

    .comment {
      margin-top: 60px;

      h6 {
        font-size: 26px;
        font-weight: normal;

        a {
          float: right;
          font-size: 14px;
          color: #0084ff;
        }
      }

      .commentUl {
        padding: 30px 18px 10px 0;
        background: #fff;

        li {
          display: flex;
          margin-top: 3px;
          padding-bottom: 10px;
          border-bottom: solid 1px #f0f2f7;
        }

        .headPortrait {
          margin-right: 15px;
          width: 35px;
          height: 35px;

          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
          }
        }

        .userInfo {
          -moz-flex: 1;
          flex: 1;
          margin-top: 10px;

          h3 {
            margin: 10px 0 5px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 18px;
            padding: 0;
            font-size: 14px;
            font-weight: normal;
            color: #666;

            span.time {
              margin-left: 15px;
              color: #999;
            }
          }

          .industry {
            padding: 0;
            margin: 0 0 5px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 25px;
            font-size: 14px;
            font-weight: normal;
            color: #666;

            span {
              display: inline-block;
            }

            .editUser {
              float: right;
              font-size: 14px;
              color: #999;

              &:hover {
                text-decoration: none;
                opacity: 0.8;
              }
            }
          }

          .operation {
            span {
              margin-right: 20px;
              font-size: 13px;
              color: #ccc;

              i {
                margin-right: 3px;
                font-size: 14px;

                &.cur {
                  color: orange;
                }
              }

              &:hover {
                i {
                  color: orange;
                }
              }
            }
          }
        }
      }
    }
  }

  .contentContFr {
    position: sticky;
    top: 62px;
    padding: 10px;
    background: #fff;

    .frCont {
      position: relative;
      margin-top: 45px;
      padding: 10px;
      border: solid 1px #e5e5e5;

      .headImg {
        position: absolute;
        top: -35px;
        display: inline-block;
        background: lightgray;
        width: 70px;
        height: 70px;
        border-radius: 50%;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
      }

      .contentContFrTit {
        margin-top: 40px;
        font-size: 15px;
        font-weight: bold;
        color: #333;
      }

      .introduce {
        margin-top: 8px;
        font-size: 14px;
        color: #999;
      }

      .recent {
        margin-top: 15px;
        padding-top: 20px;
        border-top: solid 1px #e5e5e5;

        h4 {
          font-size: 15px;
          color: #333;
          font-weight: bold;
        }

        ul {
          li {
            margin-bottom: 12px;

            p {
              width: 230px;
              margin: 5px 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            @media (max-width: 1200px) {
              p {
                width: 200px;
              }
            }

            .cont {
              .time {
                font-size: 12px;
                color: #999;
              }

              a {
                float: right;
                font-size: 12px;
              }
            }
          }
        }
      }

      .downloadBtn {
        margin-top: 15px;
      }
    }
  }

}