// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import url(//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css);

#download {


  section {
    position: relative;
    width: 100%;
    height: 100vh;


    .download-area {
      position: absolute;
      width: 400px;
      top: 60%;
      right: 50%;
      margin-right: -428px;

      .btns {
        width: 60%;
        float: left;
        padding: 0px 15px;

        .dbtn {
          cursor: pointer;
          position: relative;
          border: 1px solid #FFF;
          background-color: #4659F7;
          margin-bottom: 10px;
          color: #fff;
          font-size: 20px;
          padding: 15px 10px;
          text-align: center;

          i {
            position: absolute;
            top: 15px;
            left: 18px;
            font-size: 25px;
          }
        }

        .dbtn:hover {
          background-color: #ffffff;
          color: #4659F7;
          border: 1px solid #4659F7;
        }
      }

      .qrcode {
        width: 40%;
        height: 100%;
        border: 1px solid #fff;
        float: right;
        padding: 10px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .section-dl {
    background: url(/themes/dorawhite/images/download/background.jpg) center center / cover;

    .col {
      height: calc(100vh - 100px);
    }

    .col-right {
      position: relative;
      background: url(/themes/dorawhite/images/download/text.png) no-repeat 0 80px;
    }

    .dl-area {
      position: absolute;
      left: 50px;
      top: 360px;
      width: 600px;
      height: 200px;

      .dl {
        position: absolute;
        left: 0;
        display: block;
        width: 310px;
        height: 84px;
      }

      .dl-ios {
        top: 0;
        background: url(/themes/dorawhite/images/download/ios.png);
      }

      .dl-android {
        top: 106px;
        background: url(/themes/dorawhite/images/download/android.png);
      }

      .qrcode {
        display: block;
        position: absolute;
        top: 0;
        left: 369px;
        width: 198px;
        height: 198px;
        background: url(/themes/dorawhite/images/download/qrcode.png);
      }
    }
  }

  .nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .logo {
    font-size: 18px;
    color: #FFF;

    img {
      margin-right: 10px;
    }
  }

  .links {
    font-size: 16px;

    a {
      display: inline-block;
      text-decoration: none;
      color: #FFF;

      &:not(:last-child):after {
        display: inline-block;
        content: "/";
        margin: 0 10px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .section-master {
    .col {
      height: 100vh;
    }

    .col-right {
      background: url(/themes/dorawhite/images/download/master.jpg) no-repeat center bottom / 719px 722px;
    }

    .col-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 500px;
      float: right;
    }
  }

  .section-tech {
    text-align: center;
    padding-top: 80px;
    background: url(/themes/dorawhite/images/download/tech.jpg) center center / cover;
  }

  .section-read {
    .col {
      height: 100vh;
    }

    .col-left {
      background: url(/themes/dorawhite/images/download/read.jpg) no-repeat right bottom / 737px 773px;
    }

    .col-text {
      height: 100vh;
      width: 500px;
      float: left;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .section-value {
    text-align: center;
    padding-top: 40px;
    background: url(/themes/dorawhite/images/download/value.jpg) center center / cover;
  }
}