*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.appMain.identityAuth {
    background: #F6F6F6;
    .container.identityAuth {
        &>div {
            margin-top: 62px;
        }
    }
}
.identityAuth{
    margin-bottom: 20px;
    h3{
        border-bottom: solid 1px #ddd;

        margin: 20px 0;
        font-size: 22px;
        font-weight: normal;
        span{
            display: inline-block;
            padding: 0 5px 5px 5px;
            border-bottom: solid 2px #0084ff;
        }
    }
    p.title{
        margin: 15px 0;
        font-size: 14px;
        color: #0084ff;
    }
    .uploadCont {
        position: relative;
        width: 200px;
        margin-top: 10px;
        .uploadFile {
            width: 200px;
            line-height: 200px;
            min-height: 200px;
            text-align: center;
            margin-bottom: 20px;
            color: gray;
            background: #f7f8f9;
            .cameraIco {
                font-size: 32px;
            }
            .img-container{
                //background: #fff;
            }
        }
        .trashIco {
            display: none;
            position: absolute;
            z-index: 99;
            right: 0;
            bottom: 0;
            padding: 8px;
            font-size: 22px;
            color: #fff;
            background: rgba(0, 0, 0, .75);
        }
    }
    h4{
        margin: 20px 0 10px 0;
        font-size: 18px;
        font-weight: normal;
    }
    .courseBtn{
        margin: 20px auto;
        border: none;
        background-color: #3c9ff5;
    }
    .addCourseInput{
        display: none;
        margin-top: 10px;
    }
    .lTabBox {
        margin: 14px 0 0;
        dt {
            width: 100%;
            background: #fff;
            overflow: hidden;
            border-radius: 2px;
            box-sizing: border-box;
            .tabNav {
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    padding: 0 20px;
                    list-style-type: none;
                    .link {
                        padding: 18px 0;
                        position: relative;
                        display: inline-block;
                        font-size: 16px;
                        line-height: 22px;
                        color: #1a1a1a;
                        text-align: center;
                        font-weight: normal;
                        text-decoration: none;
                        &.active {
                            font-weight: 600;
                            &:after {
                                position: absolute;
                                right: 0;
                                bottom: -1px;
                                left: 0;
                                height: 3px;
                                background: #0084ff;
                                content: ""
                            }
                        }
                    }
                }
            }
        }
        .tabIdentityAuthCont{
            .textP{
                margin-top: 5px;
                font-size: 12px;
                color: #999;
            }
        }
    }
    .identityAuthAuditCont{
        padding: 30px 0;
        text-align: center;
        .auditIco{
            font-size: 60px;
            color:#0084ff ;
        }
        .auditText{
            margin: 15px 0;
            font-size: 18px;
            color: #333;
        }
        .auditIn{
            font-size: 18px;
            color: #0084ff;
        }
        .identityAuthAuditReturn{
            margin: 15px 0
        }
    }
}


#progressMain{ padding:0 10px 0 50px;}
#progressMain .y-step-parent{ margin-bottom:40px;  padding:0 0 0 0px}
#progressMain .y-step-parent:last-child .well.y-step{ background: none;background: none;border: none;}
#progressMain .y-step-parent:last-child .bg-success.cur{ background:none!important}
#progressMain .y-step-parent .well.y-step{margin-bottom:0px; padding:2px 0px 2px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none; border-radius:0; color:#fff; border:3px solid #DCDCDC;background:#DCDCDC}
.y-step-parent .well.y-step .step-name{ position:absolute; left:-16px; top:-33px; color:#888}
.y-step-parent .well.y-step .step-name2{ position:absolute; left:-16px; top:25px; color:#888}
.y-step-parent .well.y-step .step-info{ position:absolute; left:-20px; bottom:-58px; height:40px; font-size:10px;  color:#888;z-index:1;}
.y-step-parent .well.y-step .step-info .desc-name{ display:block}
.y-step-parent .well.y-step .circle{position:absolute; left:-10px; top:-3px; display:block; width:24px; height:24px; border-radius:15px; border:3px solid #DCDCDC; background:#DCDCDC; text-align:center; box-shadow:0 0 3px rgba(0,0,0,.3);}
.y-step-parent .bg-success.cur{ background:#dcdcdc!important}
.y-step-parent .y-step.bg-success{ background:#0084ff!important}
.y-step-parent .y-step.bg-success .circle{ background:#0084ff}
.y-step-parent .y-step .bg-success.circle{ background:#0084ff}
.y-step-parent .y-step .circle.success{ background:#0084ff}
.y-step-parent .y-step .step-info.success{ color:#0084ff}
.y-step-parent .y-step.bg-success .step-name,.y-step-parent .y-step.bg-success .step-name2,.y-step-parent .y-step.bg-success .step-info{ color:#0084ff; }