@import "mixin";
@import "flexbox";
@import "common";
// @import "bootstrap";
@import "login";
// @import "register";
@import "user";
@import "content";
@import "masterCourse";
@import "masterCourseDetail";
@import "download";
@import "resetPassword";
@import "weibo";
@import "newBuiltCourse";
@import "applyCreation";
@import "personInfo";
@import "identityAuth";

// @import "~swiper/dist/css/swiper.min.css";
//图标库 http://fontawesome.dashgame.com/
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:hover,
a:visited {
  text-decoration: none !important;
}

// .imgTest{
//   display:inline-block;width:200px; height:200px;background:url('/static/img/index/banner1.jpg');background-size: contain;
// }
// @font-face {
//     font-family: 'avalonregular';
//     src: url("#{$font_url}/Avalon/Avalon-Book-webfont.eot");
//     src: url("#{$font_url}/Avalon/Avalon-Book-webfont.eot?#iefix") format("embedded-opentype"),
//     url("#{$font_url}/Avalon/Avalon-Book-webfont.woff") format("woff"),
//     url("#{$font_url}/Avalon/Avalon-Book-webfont.ttf") format("truetype"),
//     url("#{$font_url}/Avalon/Avalon-Book-webfont.svg#avalonregular") format("svg");
//     font-weight: normal;
//     font-style: normal
// }
.appMain {
  background: #f6f6f6;

  .dslCol {
    padding-left: 7px;
    padding-right: 7px;
  }

  #myCarousel {
    .carousel-control {
      i {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        margin-left: -10px;
        font-size: 30px;
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;

        &.fa-angle-left {
          left: 50%;
        }
      }
    }
  }

  .lTabBox {
    margin: 14px 0 0;

    dt {
      border-bottom: 1px solid #f0f2f7;
      width: 100%;
      background: #fff;
      overflow: hidden;
      border-radius: 2px;
      box-sizing: border-box;

      .tabNav {
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          padding: 0 20px;
          list-style-type: none;

          .link {
            padding: 12px 0;
            position: relative;
            display: inline-block;
            font-size: 16px;
            line-height: 22px;
            color: #1a1a1a;
            text-align: center;
            font-weight: normal;
            text-decoration: none;

            &.active {
              font-weight: 600;

              &:after {
                position: absolute;
                right: 0;
                bottom: -1px;
                left: 0;
                height: 3px;
                background: #0084ff;
                content: ""
              }
            }
          }
        }
      }
    }

    dd {
      h3 {
        margin: 0;
        padding: 20px 20px 0;
        font-size: 1.5em;
        color: #8590a6;
      }

      &.autoHeight {
        min-height: auto;
      }

      &.discover {
        min-height: auto;
        border-bottom: 1px solid #f0f2f7;

        .discoverCol {
          padding: 10px 20px;

          ul {
            padding: 10px 0;
            margin: 0;

            li {
              position: relative;
              display: inline-block;
              margin-right: 14px;
              width: 80px;
              height: 80px; // background: red;
              border-radius: 4px;
              font-weight: normal;
              overflow: hidden;
              vertical-align: top;

              a {
                display: block;

                &:hover {
                  border: 1px solid #b3b2b1;
                }
              }

              img {
                border: 0;
                width: 80px;
                height: 80px;
                border-radius: 4px;
              }

              .mask {
                position: absolute;
                left: 0;
                top: 0;
                display: inline-block;
                width: 100%;
                height: 100%;
                background: #323a45;
                opacity: 0.7;
                filter: alpha(opacity=70);
              }

              i {
                display: inline-block;
                position: absolute;
                z-index: 2;
                left: 5px;
                top: 10px;
                color: #fff;
                font-size: 15px;
                font-style: normal;
              }

              .total {
                display: inline-block;
                position: absolute;
                z-index: 2;
                left: 5px;
                bottom: 10px;
                padding: 2px;
                font-size: 10px;
                background: #fff;
                color: #323a45;
                border-radius: 3px;
              }

              // &:last-child {
              //     background: #323a45;
              // }
            }
          }
        }
      }

      // min-height: 90vh;
      background: #fff;

      .tabCard {
        border-bottom: 1px solid #f0f2f7;
        background: #fff;
        overflow: hidden;
        border-radius: 2px;
      }

      .tab-recommend {
        .tabCard {
          padding: 10px 20px;
          transition: all 0.2s ease-in;

          &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
            transform: translate3d(0, 1px, -2px);
          }

          .tabCardHd {
            padding-left: 5px;
            margin-bottom: 10px;
            height: 42px;

            .userImg {
              margin-right: 7px;
              display: inline-block;
              width: 34px;
              height: 34px;
              background: gainsboro;
              border-radius: 17px;
              vertical-align: middle;

              img {
                margin: 2px 1px 0 2px;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                overflow: hidden;
              }
            }

            .userInfo {
              display: inline-block;
              vertical-align: middle;
              height: 42px;
              overflow: hidden;

              p {
                margin: 0;
                padding: 0;
                height: 18px;
                line-height: 18px;

                &:first-of-type {
                  margin: 6px 0 0;
                  font-weight: 600;
                  font-size: 13px;
                  color: #8c8884;
                }

                &.updatetime {
                  font-size: 12px;
                  color: #b3b2b1;
                }
              }
            }
          }

          .tabCardMain {
            @include flexbox;
            @include align-items('center');

            .lBox {
              margin-right: 15px;
              width: 210px;
              height: 120px;
              background: #f6f6f6;

              img {
                width: 210px;
                height: 120px;
                overflow: hidden;
              }
            }

            @media (max-width: 768px) {
              .lBox {
                width: 45%;
                height: auto;

                img {
                  width: 100%;
                  height: auto;
                }
              }
            }

            // @media (min-width: 992px) {
            //     &.lBox {
            //     }
            // }
            .rBox {
              @include flex(1);
              position: relative;

              h3 {
                padding: 0;
                margin: 0 0 7px 0;
                font-size: 17px;
                line-height: 1.3;
                max-height: 45px;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;

                &:hover {
                  cursor: pointer;
                  color: #175199;
                }

                a {
                  cursor: pointer;
                  color: #1a1a1a;

                  &:hover {
                    color: #175199;
                  }
                }
              }

              .desc {
                font-size: 13px;
                color: #8590a6;
                word-break: break-word;
                line-height: 20px;
                cursor: pointer;
                max-height: 60px;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;

                &:hover {
                  cursor: pointer;
                  color: #175199;
                  text-decoration: none;
                }
              }

              .contentState {
                position: absolute;
                top: 0px;
                right: 0px;
                font-size: 15px;
                font-weight: 700;
              }
            }

            .titFrBox {
              display: inline-block;
              margin-top: 12px;

              .time {
                font-size: 12px;
                color: #999;
                margin-left: 10px;
              }
            }

            .tabCarActions {
              float: right;
              padding: 10px 0;
              text-align: right;

              span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;

                &:hover {
                  cursor: pointer;
                  color: #8590a6;
                }
              }
            }
          }
        }


      }
    }

    .tab-topic {
      .topic-box {
        padding: 20px 20px 10px;
        border-bottom: 1px solid #eee;

        .topic-box-main {
          @include flexbox;
          @include align-items('center');

          .lBox {
            @include flex(1);

            h2 {
              padding: 0;
              margin: 17px 0 7px 0;
              font-size: 1.6em;
              line-height: 1.3;
              max-height: 30px;
              @include flexbox;
              @include flex-direction('vertical');
              -webkit-line-clamp: 1;
              overflow: hidden;

              a {
                cursor: pointer;
                color: #1a1a1a;

                &:hover {
                  color: #175199;
                }
              }
            }

            .subTitle {
              margin-bottom: 10px;
              font-size: 1.3em;
              color: #8590a6;
              word-break: break-word;
              line-height: 25px;
              cursor: pointer;
              max-height: 25px;
              -webkit-line-clamp: 1;
              overflow: hidden;

              &:hover {
                cursor: pointer;
                color: #666;
              }
            }

            .desc {
              font-size: 1em;
              color: #8590a6;
              line-height: 180%;
            }

            .followTopic {
              display: inline-block;
              margin: 10px 0;
              padding: 12px 10px;
              background: #0084ff;
              color: #fff;
              font-size: 14px;
              line-height: 16%;
              border-radius: 4px;

              &:hover {
                cursor: pointer;
                color: #fff;
              }
            }
          }

          .rBox {
            margin: 15px;
            width: 140px;
            height: 140px;
            border-radius: 70px;
            background: #f6f6f6;

            img {
              width: 140px;
              height: 140px;
              border-radius: 70px;
              overflow: hidden;
            }

            &.discoverGroup {
              width: 130px;
              height: 130px;
              border-radius: 10px;

              img {
                width: 130px;
                height: 130px;
                border-radius: 10px;
              }
            }
          }
        }

        .tabCarActions {
          padding: 10px 0;
          text-align: right;

          span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;

            &:hover {
              cursor: pointer;
              color: #8590a6;
            }
          }
        }
      }
    }

    .myAccounts {


      padding: 20px;

      .panel-title {
        a {
          margin-top: 10px;
          width: 100%;
          display: block;

          h1 {
            margin-top: 8px;
          }
        }
      }

      .panel-body {
        padding: 20px;

        .list-title {
          padding: 15px;
          border-bottom: 1px dashed #ccc;
          color: #aaa;
        }

        .coin-list {
          li {

            margin: 15px 0 10px;
            min-height: 60px;

            .left {
              span {
                display: block;
                height: 28px;
                line-height: 28px;
              }

              .time {
                color: #aaa;
                font-size: 12px;
              }
            }

            .right {
              margin-top: 10px;
              text-align: right;

              .coins {
                font-size: 25px;
                margin-right: 10px;
              }

              .unit {
                color: #aaa;
                font-size: 13px;
              }

              .blue {
                color: #2b73ac;
              }

              .yellow {
                color: #f48b44;
              }
            }
          }
        }
      }

      @media (max-width: 768px) {
        .panel-body {
          padding: 10px;
        }
      }
    }

    .myInvitation {
      .qrImg {
        img {
          width: 100%;
        }
      }

      .qrLink {
        .share-input {
          padding-top: 40px;
          width: 600px;
          margin: 0 auto;
        }
      }
    }

    .listMore {
      margin-bottom: 20px;
      text-align: center;
      color: #323a45;
      font-size: 14px;

      a {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }

  .column-wrap {
    position: relative;
    font-size: 20px;
    color: #303030;
    background-color: #ffffff;
    padding: 0 15px;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 48px;
      font-weight: 500;
      color: #333;
      border-bottom: 1px solid #EFEFEF;
    }
  }
}

// 文章留言
.content-message-list {
  .pannel-title {
    font-size: 26px;
    font-weight: 400;
  }
}

.content-message-list ul li {
  border-top: 1px solid #efefef;
  padding: 24px 0 24px;
  font-size: 14px;

  .col-md-1,
  .col-xs-1 {
    padding: 0;
  }

  .user-logo {
    img {
      // width: 100%;
      min-height: 2rem;
      border-radius: 50%;
      margin: 0 !important;
      width: 70px !important;
      height: 70px !important;
    }
  }

  .user-name {
    margin: 0px 0 0px 15px;
    color: #409EFF;

    .name {
      display: inline-block;
      margin-right: 10px;
    }

    .time {
      font-size: 11px;
      display: inline-block;
      color: #777;
    }

    .reply {
      font-size: 12px;
      display: none;

      a:link,
      a:visited {
        color: #aaa;
      }
    }
  }

  .content-message-post {
    margin-top: 20px;
    padding: 15px;

    h2 {
      small {
        display: inline-block;
      }
    }
  }

  .msgList.active .reply {
    display: block;
  }

  .user-content {
    position: relative;
    color: #666666;
    padding-left: 15px;
    word-break: break-all;
  }

  .operation {
    padding-left: 15px;
    margin-top: 20px;

    span {
      cursor: pointer;
      margin-right: 20px;
      font-size: 13px;
      color: #ccc;

      i {
        margin-right: 3px;
        font-size: 14px;

        &.cur {
          color: orange;
        }
      }

      &:hover {
        i {
          color: orange;
        }
      }
    }
  }
}

// 发表留言
.content-message-post {
  margin-bottom: 30px;

  h2 {
    small {
      display: none;
      font-size: 13px;

      a:link,
      a:visited {
        color: #409EFF;
      }
    }
  }

  .give-message {
    textarea.form-control {
      border-color: #efefef !important;
      border-bottom-color: #f5f5f5 !important;
      border-width: 1px !important;
      background: #ffffff !important;
      border-radius: 0;
    }

    .form-control:focus {
      box-shadow: none;
    }

    .send-button {
      padding: 5px 15px;
      text-align: right;
      background: #fbfbfb;
      border: 1px solid #efefef;
      border-top: 0;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      overflow: hidden;
      line-height: 38px;
    }

    .user-notice {
      float: left;
      font-size: 13px;
    }
  }
}

.no-data {
  margin: 20px 0;
}

// 管理员登录
.adminlogin {
  .appMain {
    background: none;
  }

  height: 100%;
  background-color: #2d3a4b;
  background-size: cover;
  background-repeat: no-repeat;

  body {
    background: none;
    padding-top: 40px;
  }

  .login-container {
    background-clip: padding-box;
    background: transparent;

    .admin-logo-title h3 {
      color: #99a9bf;
      font-size: 35px;
      text-align: center;
      font-weight: normal;
      margin: 40px 0;
    }

    .form-group {
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: #454545;
      margin-bottom: 22px;

      .svg-container {
        padding: 6px 5px 6px 15px;
        color: #889aa4;
        vertical-align: middle;
        width: 30px;
        display: inline-block;

        i {
          font-size: 16px;
        }
      }

      .form-control {
        background: transparent;
        width: 85%;
        display: inline-block;
        height: 47px;
        -webkit-box-shadow: 0 0 0px 1000px #283443 inset !important;
        -webkit-text-fill-color: #fff !important;
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 5px 12px 15px;
        color: #eee;
        height: 47px;
        caret-color: #fff;
      }

      .imageCode-input {
        width: 150px;
      }

      .imageCode-img {
        width: 115px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .btn-primary {
      width: 100%;
    }
  }
}

.appMain.myWrite {
  background-color: #ffffff;

  .user-contents-post {
    margin-top: 80px;
    padding-bottom: 50px;

    .cameraIco {
      left: 50%;
    }
  }
}


.uploader-container {
  position: relative;

  label {
    padding: 0;
    margin: 0;
  }

  .trashIco {
    display: none;
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    padding: 8px;
    font-size: 22px;
    color: #fff;
    background: rgba(0, 0, 0, .75);
  }

  .uploader-list {
    position: absolute; // z-index: 2;
    width: 100%;
    height: 200px;

    .thumbnail {
      position: absolute;
      height: 200px;
      border: none;
      z-index: 1;
      width: 100%;
      padding: 0;

      img {
        width: 100%;
        height: 100%;
      }

    }
  }

  // .thumbnail {
  //   background: 0 0;
  //   border: none;
  //   width: 100%;
  //   line-height: normal;
  //   margin-bottom: 0;
  //   height: 100%;
  // }

  .webuploader-pick {
    width: 100%;
    line-height: 200px;
    min-height: 200px;
    text-align: center;
    padding: 0;
    color: gray;
    background: #f7f8f9; // z-index: 1;
    display: block;

    .cameraIco {
      position: absolute;
      top: 86px;
      font-size: 28px;
      left: 88px;
    }
  }
}


.appMain.help,
.forgotPsd .appMain {
  background-color: #fff;

}

// web 帮助
.help {
  .help-title {
    margin-top: 52px;
    width: 100%;
    height: 220px;
    background-color: #ccc;
    position: relative;
    background: url('/themes/dorawhite/images/help_bg.png');
    background-size: cover;

    h3 {
      color: #fff;
      position: absolute;
      top: 80px;
      font-size: 31px;
    }
  }

  .help-main {}
}


// .newBuiltCourse {
//   .thumbImg {
//     .uploader-list {
//       .thumbnail {
//         position: absolute;
//         height: 200px;
//         border: none;
//         z-index: 1;
//         width: 200px;

//         img {
//           width: 100%;
//           height: 100%;
//         }
//       }
//     }

//     .webuploader-pick {
//       width: 200px;
//       line-height: 200px;
//       height: 200px;
//       text-align: center;
//       margin-bottom: 20px;
//       color: gray;
//       background: #f7f8f9;

//       .cameraIco {
//         font-size: 32px;
//       }
//     }
//   }
// }

.fa.fa-cny {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/themes/dorawhite/images/master_coin.png') no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

.fa.fa-cny::before {
  content: '';
}

.contetKeywords {
  margin-top: 20px;
  margin-bottom: 30px;

  ul {
    li {
      display: inline-block;
      border-radius: 6px;
      padding: 3px 20px;
      border: 1px #ccc solid;
      margin-right: 10px;

      a:link,
      a:visited {
        color: #B3B3B3;
        text-decoration: none;
      }
    }

    li:hover {
      background-color: #eaeaea;

      a:link,
      a:visited {
        color: #409EFF;
      }
    }
  }
}

.contentTags {
  margin-bottom: 20px;

  ul {
    li {
      display: inline-block;
      padding: 3px 20px;
      background-color: #5C749E;

      a:link,
      a:visited {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.detail-topInfo {
  position: relative;

  h3 {
    display: inline-block;
    color: #0084ff !important;
  }

  .follow-me {
    display: inline-block;

    .editUser {
      padding: 4px 16px;
      line-height: 32px;
      text-align: center;
      cursor: pointer;
      background: 0 0;
      border: 1px solid #0084ff;
      border-radius: 20px;
      font-weight: 400;
      font-size: 13px;
      color: #0084ff;
      margin-left: 20px;
    }
  }

  .post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 14px;
    color: #717171;
  }
}

/*返回顶部*/

.back-to-top {
  background-color: #fff;
  position: fixed;
  right: 20px;
  bottom: 180px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  opacity: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);

  i {
    color: #0084ff;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
  }
}

.editClass {
  display: block;
  margin-top: 20px;
}

.upload-box {
  #wrapper {
    width: 100%;
    margin: 0 auto;
    width: auto;
  }

  #container {
    border: 1px solid rgba(0, 40, 100, 0.12);
    color: #838383;
    font-size: 12px;
    margin-top: 10px;
    background-color: #FFF;
    border-radius: 3px;
  }

  .webUploader .queueList {
    margin: 20px;
  }

  .element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  .webUploader .placeholder {
    border: 3px dashed #e6e6e6;
    min-height: 238px;
    padding-top: 158px;
    text-align: center;
    background: url(/themes/dorawhite/images/webuploader/image.png) center 93px no-repeat;
    color: #cccccc;
    font-size: 18px;
    position: relative;
  }

  .webUploader .placeholder .webuploader-pick {
    font-size: 18px;
    background: #467fcf;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .webUploader .placeholder .webuploader-pick-hover {
    background: #467fcf;
  }

  .webUploader .placeholder .flashTip {
    color: #666666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
  }

  .webUploader .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none;
  }

  .webUploader .placeholder .flashTip a:hover {
    text-decoration: underline;
  }

  .webUploader .placeholder.webuploader-dnd-over {
    border-color: #999999;
  }

  .webUploader .placeholder.webuploader-dnd-over.webuploader-dnd-denied {
    border-color: red;
  }

  .webUploader .filelist {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .webUploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  .webUploader .filelist li {
    width: 110px;
    height: 110px;
    background: url(/themes/dorawhite/images/webuploader/bg.png) no-repeat;
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
  }

  .webUploader .filelist li p.log {
    position: relative;
    top: -45px;
  }

  .webUploader .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left;
  }

  .webUploader .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    background: none;
  }

  .webUploader .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #467fcf url(/themes/dorawhite/images/webuploader/progress.png) repeat-x;
    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;
    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;
    -webkit-transform: translateZ(0);
  }

  @-webkit-keyframes progressmove {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 17px 0;
    }
  }

  @-moz-keyframes progressmove {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 17px 0;
    }
  }

  @keyframes progressmove {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 17px 0;
    }
  }

  .webUploader .filelist li p.imgWrap {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    overflow: hidden;
    width: 110px;
    height: 110px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out;
  }

  .webUploader .filelist li img {
    width: 100%;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    background-color: #fff;
    background-clip: border-box;
  }

  .webUploader .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    line-height: 28px;
    width: 100%;
    z-index: 100;
  }

  .webUploader .filelist li .success {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 200;
    background: url(/themes/dorawhite/images/webuploader/success.png) no-repeat right bottom;
  }

  .webUploader .filelist div.file-panel {
    position: absolute;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80000000', endColorstr='#80000000')\0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
  }

  .webUploader .filelist div.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/themes/dorawhite/images/webuploader/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
  }

  .webUploader .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px;
  }

  .webUploader .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0;
  }

  .webUploader .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px;
  }

  .webUploader .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0;
  }

  .webUploader .filelist div.file-panel span.cancel {
    background-position: -48px -24px;
  }

  .webUploader .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0;
  }

  .webUploader .statusBar {
    height: 63px;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
    padding: 0 20px;
    line-height: 63px;
    vertical-align: middle;
    position: relative;
  }

  .webUploader .statusBar .progress {
    border: 1px solid #467fcf;
    width: 198px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    position: relative;
    margin-right: 10px;
  }

  .webUploader .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #467fcf;
    position: absolute;
  }

  .webUploader .statusBar .progress span.text {
    position: relative;
    z-index: 10;
  }

  .webUploader .statusBar .info {
    display: inline-block;
    font-size: 14px;
    color: #666666;
  }

  .webUploader .statusBar .btns {
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 40px;
  }

  #filePicker2 {
    display: inline-block;
    float: left;
  }

  .webUploader .statusBar .btns .webuploader-pick,
  .webUploader .statusBar .btns .uploadBtn,
  .webUploader .statusBar .btns .uploadBtn.state-uploading,
  .webUploader .statusBar .btns .uploadBtn.state-paused {
    background: #ffffff;
    border: 1px solid rgba(0, 40, 100, 0.12);
    color: #9aa0ac;
    padding: 0 18px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    float: left;
  }

  .webUploader .statusBar .btns .webuploader-pick-hover,
  .webUploader .statusBar .btns .uploadBtn:hover,
  .webUploader .statusBar .btns .uploadBtn.state-uploading:hover,
  .webUploader .statusBar .btns .uploadBtn.state-paused:hover {
    background: #f0f0f0;
  }

  .webUploader .statusBar .btns .uploadBtn {
    background: #00b7ee;
    color: #fff;
    border-color: transparent;
  }

  .webUploader .statusBar .btns .uploadBtn:hover {
    background: #00a2d4;
  }

  .webUploader .statusBar .btns .uploadBtn.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}


.identityAuthStep2 {

  .past-experience,
  .past-articles,
  .post-books {
    margin-bottom: 20px;
  }
}

.nav-language {
  span {
    margin-top: 15px;
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
  }

  .popover-content {
    padding: 0;

    ul {
      margin: 0;
      padding: 5px 5px;

      li {
        display: block;
        float: unset !important;
        padding: 0px 5px;

        a {
          display: block;
          line-height: 28px;
        }

        a:link,
        a:visited {
          text-decoration: none;
        }
      }

      li:hover {
        background-color: #eee;
      }
    }
  }
}

.user-center-top {
  margin: 52px 0 100px;
  height: 220px;
  background-color: #ccc;
  background: url('/themes/dorawhite/images/help_bg.png');
  background-size: cover;

  .top-main {
    position: relative;
    display: block;
    height: 100%;

    .user-header {
      position: absolute;
      width: 100%;
      bottom: -103px;

      .headPortrait {
        width: 100px;
        margin: 0 auto;
        position: relative;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }

        .editeInfo {
          position: absolute;
          top: 70px;
          right: -90px;
        }
      }

      .userInfo {
        h3 {
          color: #4076C8;
          text-align: center;
        }
      }


    }

    .master-auth {
      position: absolute;
      bottom: -94px;
      right: 0;
      color: #4076C8;
    }
  }


}

.user-content-pannel {
  position: relative;

  .tab-line {
    width: 100%;
    height: 1px;
    background: #f0f2f7;
    position: absolute;
    top: 72px;
  }
}

.personInfo {
  .user-center-top {
    .user-header {
      margin-top: 54px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: inline-block;
      }

      h2 {
        display: inline-block;
        margin-left: 20px;
        color: #fff;
      }

      .my-home-page {
        margin-left: 22px;
        padding: 8px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        margin-top: 10px;

        a:link,
        a:visited {
          color: #fff;
        }
      }

    }

    .user-tj {
      text-align: right;
      margin-top: 63px;

      ul {
        li {
          list-style-type: none;
          display: inline-block;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 1px solid #fff;
          background: none;
          margin: 0 20px;
          text-align: center;
          vertical-align: text-top;

          a:link,
          a:visited {
            color: #fff;
          }

          p {
            margin-top: 15px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.random-content-list {
  margin-top: 30px;

  .pannel-title {
    position: relative;

    small {
      position: absolute;
      right: 0;
      font-size: 14px;
    }
  }

  .random-articls {
    margin-top: 10px;
    margin-bottom: 25px;

    .title {
      font-size: 15px;
      display: block;
      text-align: left;
      padding: 0px;
      min-height: 52px;
      line-height: 20px;
      word-wrap: break-word;
      margin-top: 0px;
    }

    .contentImg {
      img {
        height: 13rem;
        width: 100%;
      }
    }
  }
}