// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import url(//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css);

#login,#register {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/themes/dorawhite/images/login/login-bg.jpg) center center / cover;

  display: flex;
  align-items: center;

  .nav-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .logo {
    font-size: 18px;
    color: #FFF;

    img {
      margin-right: 10px;
    }
  }

  .links {
    font-size: 16px;


    a {
      display: inline-block;
      text-decoration: none;
      color: #FFF;

      &:not(:last-child):after {
        display: inline-block;
        content: "/";
        margin: 0 10px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .login-box {
    background: #FFF;
    border-radius: 10px;
    margin-left: 120px;
  }

  .login-tab {
    padding: 0 30px;
    border-bottom: 1px solid #F6F6F6;
  }

  .login-tab-item {
    display: inline-block;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 0 15px -1px;
    padding: 20px 0 15px;
    cursor: pointer;

    &.active {
      color: #0079FE;
      border-bottom: 2px solid #0079FE;
    }
  }

  .login-box-body {
    padding: 15px 20px 40px;
    $btn-color: #0079FE;

    .btn-primary {
      background-color: $btn-color;
      border-color: $btn-color;

      &:hover {
        background-color: darken($btn-color, 10%);
        border-color: darken($btn-color, 10%);
      }

      &:active {
        background-color: darken($btn-color, 20%);
        border-color: darken($btn-color, 20%);
      }
    }
  }

  .login-input-group {
    display: flex;
    position: relative;
    align-items: center;
    height: 50px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    margin-bottom: 16px;
    overflow: hidden;

    i {
      font-size: 26px;
      color: #d0d0d0;
      margin: 0 8px 0 12px;
    }

    input {
      display: inline-block;
      flex: 1;
      height: 100%;
      border: none;
      outline: none !important;

      &::placeholder {
        color: #d0d0d0;
      }
      &:-webkit-autofill {
        -webkit-box-shadow : 0 0 0px 1000px #fff inset ; 
        -webkit-text-fill-color: #333
      }
    }
    .vCodeBtn{
      display: block;
      position: absolute;
      right: 0;
      width: 82px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 13px;
      color: #fff;
      background: #0079FE;
      &:hover{
        opacity: 0.9;
        text-decoration: none;
      }
    }
  
  }


}

@media only screen and (max-width: 768px) {
  #login,#register {
    background: #6f7df6;

    .nav-bar {
      justify-content: center;

      .links {
        display: none;
      }
    }

    .login-box {
      margin: 0 auto;
    }
  }
}