// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.appMain.masterCourse {
  background: #F6F6F6;

  .container.masterCourse {
    &>div {
      margin-top: 62px;
    }

    #myCarousel {
      .carousel-control {
        i {
          width: 30px;
          height: 30px;
          margin-top: -10px;
          margin-left: -10px;
          font-size: 30px;
          position: absolute;
          top: 50%;
          z-index: 5;
          display: inline-block;

          &.fa-angle-left {
            left: 50%;
          }
        }
      }
    }

    .lTabBox {
      margin: 14px 0 20px 0;

      dt {
        border-bottom: 1px solid #f0f2f7;
        width: 100%;
        background: #fff;
        overflow: hidden;
        border-radius: 2px;
        box-sizing: border-box;

        .myCourse {
          float: right;
          margin: 12px 30px 0 0;
          padding: 0 16px;
          line-height: 32px;
          text-align: center;
          cursor: pointer;
          background: none;
          border: 1px solid #0084ff;
          border-radius: 20px;
          font-weight: normal;
          font-size: 14px;
          color: #0084ff;

          &:hover {
            text-decoration: none;
            opacity: 0.8;
          }
        }

        .tabNav {
          display: inline-block;
          padding: 0;
          margin: 0;
          margin-left: 13px;

          li {
            display: inline-block;
            padding: 0 20px;
            list-style-type: none;

            .link {
              padding: 18px 0;
              position: relative;
              display: inline-block;
              font-size: 16px;
              line-height: 22px;
              color: #1a1a1a;
              text-align: center;
              font-weight: normal;
              text-decoration: none;

              &.active {
                font-weight: 600;

                &:after {
                  position: absolute;
                  right: 0;
                  bottom: -1px;
                  left: 0;
                  height: 3px;
                  background: #0084ff;
                  content: ""
                }
              }
            }
          }
        }
      }

      dd.masterCourseTab {
        padding: 20px 0 20px 0;
        background: #fff;

        .colLi {
          float: left;
          width: 20%;
          margin-bottom: 20px;
          text-align: center;
          min-height: 320px;
        }

        .masterCourseTabCt {
          display: block;

          &:hover {
            text-decoration: none;

            .pic {
              opacity: 0.8
            }
          }

          .pic {
            width: 150px;
            height: 200px;
            margin: 0 auto;
            background: no-repeat center center / cover;
          }

          .cont {
            text-align: left;
            width: 150px;
            margin: 0 auto;
          }

          h4 {
            overflow: hidden;
            height: 18px;
            margin: 10px 0;
            font-size: 16px;
            font-weight: normal;
            color: #000000;
          }

          h5 {
            overflow: hidden;
            height: 18px;
            margin: 10px 0;
            font-size: 14px;
            font-weight: normal;
            color: #333;
            white-space: nowrap;
            text-overflow: ellipsis;



          }

          h6 {
            overflow: hidden;
            height: 18px;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            color: #999;

            .red {
              color: #e60012
            }

            .normal {
              text-decoration: line-through
            }
          }

          p {
            overflow: hidden;
            height: 15px;
            margin: 0;
            font-size: 13px;
            color: #0084ff;
          }
        }

        @media (max-width: 990px) {
          .colLi {
            width: 25%;
          }

          .masterCourseTabCt {
            .pic {
              width: 120px;
              height: 180px;
            }
          }
        }

        @media (max-width: 768px) {
          .colLi {
            width: 50%;

            .masterCourseTabCt {
              .pic {
                width: 100px;
                height: 150px;
              }
            }
          }
        }
      }
    }
  }
}