// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.masterCourseDetail {
    background: #F6F6F6;
   .container.masterCourseDetail{
       &>div{
         margin-top:62px ;
       }
      .masterCourseDetailCont{
        margin-bottom: 20px;
        .courseCont{
          overflow: hidden;
          background: #fff;
          .courseList{
            display: flex;
            margin: 20px 0 10px 0;
            padding:0 20px 15px 20px;
            border-bottom: solid 1px #f0f2f7;
            &:last-child{
              border-bottom: none;
            }
            .courseFl{
              flex: 1;
              .tit{
                font-size: 16px;
                font-weight: bold;
                color: #333;
                span{
                  margin-left: 15px;
                  font-weight: normal;
                  font-size: 14px;
                }
              }
              h4{
                font-weight: normal;
                font-size: 14px;
                color: #0084ff;
              }
              h5{
                margin: 3px 0;
                font-weight: normal;
                font-size: 14px;
                color: #1a1a1a;
              }
              a.article{
                display: inline-block;
                margin: 0;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-weight: normal;
                font-size: 14px;
                color: #8590a6;
                &:hover{
                  text-decoration: none;
                  color: #175199;
                }
              }
              a.courseBtn{
                display: block;
                width: 66px;
                height: 28px;
                line-height: 28px;
                margin-top: 8px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
                color: #fff;
                background:#0084ff ;
                &:hover{
                  text-decoration: none;
                  opacity: 0.8;
                }
              }
            }
            .courseFr{
              margin-left: 15px;
              width: 150px;
              height: 170px;
              img {
                width: 150px;
                height: 170px;
                overflow: hidden;
              }
            }
            @media (max-width: 768px) {
              .courseFr {
                width: 45%;
                height: auto;
                img{
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
        .masterCourseDetailCt{
          margin: 14px 0 0 0;
          background: #fff;
          .masterCourseDetailTabNav {
            padding: 0;
            border-bottom: 1px solid #f0f2f7;
            li {
              display: inline-block;
              padding: 0 20px;
              list-style-type: none;
              .link {
                padding: 18px 0;
                position: relative;
                display: inline-block;
                font-size: 16px;
                line-height: 22px;
                color: #1a1a1a;
                text-align: center;
                font-weight: normal;
                text-decoration: none;
                &.active {
                  font-weight: 600;
                  &:after {
                    position: absolute;
                    right: 0;
                    bottom: -1px;
                    left: 0;
                    height: 3px;
                    background: #0084ff;
                    content: ""
                  }
                }
              }
            }
          }
          .masterCourseDetailTab{
            padding: 0 0 20px 0;
            ul{
              margin-top: 20px;
              padding: 0 8px;
              li{
                margin: 15px;
                height: 25px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
               a{
                 font-size: 16px;
                 color: #333;
                 &:hover{
                   text-decoration: none;
                   color: #0084ff;
                 }
               }
              }
            }
            .userTop{
              display: flex;
              padding: 30px 25px;
              background: #fff;
              .headPortrait{
                margin-right: 15px;
                width: 88px;
                height: 88px;
                img {
                  width: 88px;
                  height: 88px;
                  border: solid 1px #ddd;
                  border-radius: 50%;
                  overflow: hidden;
                }
              }
              @media (max-width: 768px) {
                .headPortrait {
                  width: 25%;
                  height: auto;
                  img{
                    width: 100%;
                    height: auto;
                  }
                }
              }
              .userInfo{
                -moz-flex: 1;
                flex: 1;
                h3{
                  font-size: 20px;
                  font-weight: bold;
                }
                @media (max-width: 768px) {
                  h3 {
                    font-size: 16px;
                  }
                }
                .industry{
                  padding: 0;
                  margin: 0 0 5px 0;
                  font-size: 15px;
                  font-weight: normal;
                  color: #999;
                  span{
                    margin-left: 15px;
                    font-size: 14px;
                    font-weight: normal;
                  }
                  .editUser{
                    float: right;
                    padding: 0 16px;
                    line-height: 32px;
                    text-align: center;
                    cursor: pointer;
                    background: none;
                    border-radius: 5px;
                    font-weight: normal;
                    font-size: 14px;
                    color: #fff;
                    background: #0084ff;
                    &:hover{
                      text-decoration: none;
                      opacity: 0.8;
                    }
                  }
                }
              }
            }
            .fraction{
              padding: 15px 0;
              border-bottom: 1px solid #f0f2f7;
              .orange{
                display: inline-block;
                margin-left: 25px;
                font-size: 20px;
                color: orange;
              }
              .fractionBtn{
                float: right;
                padding: 0 16px;
                margin-right: 25px;
                line-height: 32px;
                text-align: center;
                cursor: pointer;
                background: none;
                border-radius: 5px;
                font-weight: normal;
                font-size: 14px;
                color: #fff;
                background: #0084ff;
                &:hover{
                  text-decoration: none;
                  opacity: 0.8;
                }
              }
            }
            .feedback{
              display: flex;
              padding: 30px 25px 15px 25px;
              border-bottom: 1px solid #f0f2f7;
              background: #fff;
              .headPortrait{
                margin-right: 15px;
                width: 38px;
                height: 38px;
                img {
                  width: 38px;
                  height: 38px;
                  border: solid 1px #ddd;
                  border-radius: 50%;
                  overflow: hidden;
                }
              }
              @media (max-width: 768px) {
                .headPortrait {
                  width: 20%;
                  height: auto;
                  img{
                    width: 100%;
                    height: auto;
                  }
                }
              }
              .userInfo{
                -moz-flex: 1;
                flex: 1;
                .industry{
                  padding: 0;
                  margin: 0 0 5px 0;
                  font-size: 16px;
                  font-weight: normal;
                  color: #666;
                  span{
                    font-size: 14px;
                    font-weight: normal;
                  }
                  span.editUser{
                    float: right;
                    padding: 0 16px;
                    font-weight: normal;;
                  }
                }
              }
            }
          }
        }
      }
   }
}
