// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import url('https://cdn.bootcss.com/summernote/0.8.11/summernote.css');
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.appMain.newBuiltCourse {
    background: #F6F6F6;
    .container.newBuiltCourse {
        &>div {
            margin-top: 62px;
        }
    }
}
.newBuiltCourse{
    margin-bottom: 20px;
    h3{
        border-bottom: solid 1px #ddd;

        margin: 20px 0;
        font-size: 22px;
        font-weight: normal;
        span{
            display: inline-block;
            padding: 0 5px 5px 5px;
            border-bottom: solid 2px #0084ff;
        }
        .newBuiltBtn {
            float: right;
            padding: 0 16px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
            background: none;
            border-radius: 5px;
            font-weight: normal;
            font-size: 14px;
            color: #fff;
            background: #3c9ff5;
            i{margin-right: 5px;}
            &:hover{
                text-decoration: none;
                opacity: 0.8;
            }
        }
    }
    .uploadCont {
        position: relative;
        width: 200px;
        margin-top: 10px;
        .uploadFile {
            width: 200px;
            line-height: 200px;
            min-height: 200px;
            text-align: center;
            margin-bottom: 20px;
            color: gray;
            background: #f7f8f9;
            .cameraIco {
                font-size: 32px;
            }
            .img-container{
                //background: #fff;
            }
        }
        .trashIco {
            display: none;
            position: absolute;
            z-index: 99;
            right: 0;
            bottom: 0;
            padding: 8px;
            font-size: 22px;
            color: #fff;
            background: rgba(0, 0, 0, .75);
        }
    }
    h4{
        margin: 20px 0 10px 0;
        font-size: 18px;
        font-weight: normal;
    }
    .courseBtn{
        margin: 20px auto;
        border: none;
        background-color: #3c9ff5;
    }
    .addCourseInput{
        display: none;
        margin-top: 10px;
    }
}
