// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import "weibo";
// //图标库 http://fontawesome.dashgame.com/
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f6f6f6;

    .appMain {
        #personInfo {
            position: relative;
            margin: 0px auto 60px;
            min-height: 600px;
            background: #fff;

            .photo {
                position: absolute;
                left: 3%;
                top: -5em;
                display: inline-block;
                width: 10em;
                height: 10em;
                border-radius: 5em;
                border: 1px solid #bebebe;
                background: lightgray;
            }

            h2 {
                position: absolute;
                left: 30%;
                top: 10px;
            }

            .personInfoRow {
                padding: 110px 0 20px;

                .form-control {
                    border: none;
                    box-shadow: none;
                    border-bottom: 1px solid #ccc;
                    border-radius: 0;
                    background: none;
                }

                .select-birth {
                    .input-group-addon {
                        background: none;
                        border: none;
                        border-bottom: 1px solid #ccc;
                    }
                }

                .row {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 30px;

                    .title {
                        text-align: left;
                        padding-right: 0;
                    }

                    span,
                    .editBox {
                        // margin-right: 20px;
                        cursor: pointer;

                        i {
                            margin: 0 7px;
                            vertical-align: middle;
                        }

                        .del {
                            margin-left: 12px;
                            color: orangered;
                            vertical-align: middle;
                        }

                        .editSave {
                            margin-right: 10px;
                        }
                    }

                    .editBox {
                        display: none;
                    }

                    .editEvent {
                        color: #5389d9;
                    }
                }
            }

            //当屏幕大于800时的效果
            @media screen and (min-width: 992px) {
                h2 {
                    top: 20px;
                    left: 17%;
                }

                .personInfoRow {
                    padding: 40px 0 20px;

                    .row {
                        .title {
                            text-align: right;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}