@import "mixin";
@import "flexbox";
@import "common";
//@import "bootstrap";
//@import url(//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css);
#register {
    background-color: #fff;
    margin-top: 62px;
    .registerMain{
        min-height:calc(100vh - 200px) ;
    }
    h1 {
        margin: 0;
        font-size: 24px;
        color: #333;
        font-weight: normal;
        padding: 60px 0 40px;
        text-align: center;
    }
    form {
        margin-bottom: 60px;
        .form-group {
            margin-bottom: 20px;
            .prepend {
                position: relative;
                label {
                    position: absolute;
                    top: 14px;
                    left: 30px;
                    color: #666;
                    
                }
               
               
                input {
                    padding-left: 120px
                }
                i{
                    top:0
                }
            }
            #sendYzm {
                display:inline-block;
                width: 100%;
                float:right;
              }
              @media (max-width: 710px) {
              #sendYzm{
                  margin-top: 20px;
              }
            }
            .btn-primary {
                margin-top: 20px;
                background-color: #3c9ff5;
                border-color: #3c9ff5;
            }
        }
    }
    .bs-docs-footer {
        width: 100%;
        bottom: 0;
        left: 0;
    }
}