// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
//@import url(//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#resetPassword {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 24px;
    color: #333;
    font-weight: normal;
    padding-top: 120px;
    margin-bottom: 40px;
  }

  .help-block {
    text-align: left;
    color: #d0d0d0;
    margin-top: 0;
    padding-left: 10px;
  }

  .rp-input-group {
    display: flex;
    position: relative;
    align-items: center;
    height: 50px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    margin-bottom: 16px;
    overflow: visible;

    label {
      padding: 0 16px;
      margin: 0;
      width: 10em;
      text-align: left;
    }

    i {
      font-size: 26px;
      color: #d0d0d0;
      margin: 0 8px 0 12px;
    }

    input {
      display: inline-block;
      flex: 1;
      height: 100%;
      border: none;
      outline: none !important;

      &::placeholder {
        color: #d0d0d0;
      }
    }

  }

  .rp-input-group.tel-num {
    .areaCode {
      left: 64px;
    }

    input {
      text-indent: 30px;
    }
  }

  .send-code {
    display: block;
    padding: 0 12px;
    text-decoration: none;
    height: 100%;
    line-height: 48px;
    color: #ffffff;
    background: #0079FE;

    &:hover {
      opacity: .9;
      text-decoration: none;
    }
  }

  $btn-color: #0079FE;

  .btn-primary {
    background-color: $btn-color;
    border-color: $btn-color;

    &:hover {
      background-color: darken($btn-color, 10%);
      border-color: darken($btn-color, 10%);
    }

    &:active {
      background-color: darken($btn-color, 20%);
      border-color: darken($btn-color, 20%);
    }
  }
}