// @import "mixin";
// @import "flexbox";
// @import "common";
// @import "bootstrap";
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.appMain.myWrite {
  background: #F6F6F6;

  .container1.myWrite {
    &>div {
      margin-top: 62px;
    }

    .userTop {
      display: flex;
      padding: 30px 25px;
      background: #fff;

      .headPortrait {
        margin-right: 15px;
        width: 92px;
        height: 92px;

        img {
          width: 92px;
          height: 92px;
          border: solid 1px #ddd;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .userInfo {
        h3 {
          position: relative;

          .master-auth {
            position: absolute;
            right: 0;
            top: 0;
            color: #0084ff;

            a:link,
            a:visited {
              color: #0084ff;
            }
          }
        }
      }

      @media (max-width: 768px) {
        .headPortrait {
          width: 40%;
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .userInfo {
        -moz-flex: 1;
        flex: 1;

        h3 {
          font-size: 24px;
          font-weight: bold;

          span {
            font-size: 14px;
            font-weight: normal;
          }
        }

        @media (max-width: 768px) {
          h3 {
            font-size: 16px;
          }
        }

        .industry {
          padding: 0;
          margin: 0 0 5px 0;
          font-size: 15px;
          font-weight: bold;

          span {
            margin-left: 15px;
            font-size: 14px;
            font-weight: normal;
          }

          .editUser {
            float: right;
            padding: 0 16px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
            background: none;
            border: 1px solid #0084ff;
            border-radius: 20px;
            font-weight: normal;
            font-size: 14px;
            color: #0084ff;

            &:hover {
              text-decoration: none;
              opacity: 0.8;
            }
          }
        }
      }
    }

    /** 我的创作**/
    .lTabBox {
      margin: 14px 0 0;

      dt {
        border-bottom: 1px solid #f0f2f7;
        width: 100%;
        background: #fff;
        overflow: hidden;
        border-radius: 2px;
        box-sizing: border-box;

        .tabNav {
          padding: 0;
          margin: 0;

          li {
            display: inline-block;
            padding: 0 20px;
            list-style-type: none;

            .link {
              padding: 18px 0;
              position: relative;
              display: inline-block;
              font-size: 16px;
              line-height: 22px;
              color: #1a1a1a;
              text-align: center;
              font-weight: normal;
              text-decoration: none;

              &.active {
                font-weight: 600;

                &:after {
                  position: absolute;
                  right: 0;
                  bottom: -1px;
                  left: 0;
                  height: 3px;
                  background: #0084ff;
                  content: ""
                }
              }
            }
          }


        }

        .tabNav.flex {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;

          li.flex-item {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            text-align: center;
          }
        }
      }

      dd {
        min-height: 100vh;

        .tabCard {
          border-bottom: 1px solid #f0f2f7;
          background: #fff;
          overflow: hidden;
          border-radius: 2px;
        }

        .tab-recommend {
          .tabCard {
            padding: 20px 20px 10px;

            .tabCardHd {
              padding-left: 5px;
              margin-bottom: 10px;
              height: 42px;

              .userImg {
                margin-right: 7px;
                display: inline-block;
                width: 34px;
                height: 34px;
                background: gainsboro;
                border-radius: 17px;
                vertical-align: middle;

                img {
                  margin: 2px 1px 0 2px;
                  width: 30px;
                  height: 30px;
                  border-radius: 15px;
                  overflow: hidden;
                }
              }

              .userInfo {
                display: inline-block;
                vertical-align: middle;
                height: 42px;
                overflow: hidden;

                p {
                  margin: 0;
                  padding: 0;
                  height: 18px;
                  line-height: 18px;

                  &:first-of-type {
                    margin: 6px 0 0;
                    font-weight: 600;
                    font-size: 13px;
                    color: #8c8884;
                  }

                  &.updatetime {
                    font-size: 12px;
                    color: #b3b2b1;
                  }
                }
              }
            }

            .tabCardMain {
              @include flexbox;
              @include align-items('center');

              .lBox {
                margin-right: 15px;
                width: 210px;
                height: 120px;
                background: #f6f6f6;

                img {
                  width: 210px;
                  height: 120px;
                  overflow: hidden;
                }
              }

              @media (max-width: 768px) {
                .lBox {
                  width: 45%;
                  height: auto;

                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }

              // @media (min-width: 992px) {
              //     &.lBox {
              //     }
              // }
              .rBox {
                @include flex(1);

                h3 {
                  padding: 0;
                  margin: 0 0 10px 0;
                  font-size: 17px;
                  line-height: 1.3;
                  max-height: 45px;
                  @include flexbox;
                  @include flex-direction('vertical');
                  -webkit-line-clamp: 2;
                  overflow: hidden;

                  &:hover {
                    cursor: pointer;
                    color: #175199;
                  }

                  a {
                    cursor: pointer;
                    color: #1a1a1a;

                    &:hover {
                      color: #175199;
                    }
                  }
                }

                .desc {
                  font-size: 13px;
                  color: #8590a6;
                  word-break: break-word;
                  line-height: 20px;
                  cursor: pointer;
                  max-height: 60px;
                  -webkit-line-clamp: 3;
                  overflow: hidden;

                  &:hover {
                    cursor: pointer;
                    color: #175199;
                  }
                }
              }
            }

            .tabCarActions {
              padding: 10px 0;
              text-align: right;

              span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;

                &:hover {
                  cursor: pointer;
                  color: #8590a6;
                }
              }
            }
          }
        }
      }
    }

    /* 右侧点赞 */
    .reward {
      margin: 14px 0 0;
      padding: 15px;
      background: #fff;

      ul {
        li {
          float: left;
          width: 49%;
          margin-bottom: 10px;
          padding: 5px 0;
          border-right: solid 1px #e5e5e5;
          text-align: center;

          a {
            display: inline-block;
            width: 80px;
            height: 80px;
            text-align: center;
            border: solid 1px #e5e5e5;
            border-radius: 5px;
            color: #666;

            i {
              margin-top: 25px;

              &.cur {
                color: orange
              }
            }

            p {
              overflow: hidden;
              margin: 0;
              font-size: 12px;
            }

            &:hover {
              text-decoration: none;
              color: orange
            }
          }

          &:nth-of-type(2) {
            border-right: none;
          }

          &:nth-of-type(4) {
            border-right: none;
          }
        }
      }
    }

    /* 我的课程 */
    .courseContent {
      margin-bottom: 20px;
    }

    .courseCont {
      overflow: hidden;
      background: #fff;
    }

    .courseList {
      display: flex;
      margin: 20px 0 10px 0;
      padding: 0 20px 15px 20px;
      border-bottom: solid 1px #f0f2f7;

      &:last-child {
        border-bottom: none;
      }

      .courseFl {
        flex: 1;

        .tit {
          font-size: 16px;
          font-weight: bold;
          color: #333;

          span {
            margin-left: 15px;
            font-weight: normal;
            font-size: 14px;
          }
        }

        h4 {
          font-weight: normal;
          font-size: 14px;
          color: #0084ff;
        }

        h5 {
          margin: 3px 0;
          font-weight: normal;
          font-size: 14px;
          color: #1a1a1a;
        }

        a.article {
          margin: 0;
          font-weight: normal;
          font-size: 14px;
          color: #8590a6;

          &:hover {
            text-decoration: none;
            color: #175199;
          }
        }

        a.courseBtn {
          display: block;
          width: 66px;
          height: 28px;
          line-height: 28px;
          margin-top: 8px;
          text-align: center;
          border-radius: 3px;
          font-size: 14px;
          color: #fff;
          background: #0084ff;

          &:hover {
            text-decoration: none;
            opacity: 0.8;
          }
        }
      }

      .courseFr {
        margin-left: 15px;
        width: 110px;
        height: 125px;

        img {
          width: 110px;
          height: 125px;
          overflow: hidden;
        }
      }

      @media (max-width: 768px) {
        .courseFr {
          width: 45%;
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    /** 我的社群 **/
    .tab-topic {
      .topic-box {
        padding: 20px 20px 10px;
        border-bottom: 1px solid #eee;

        .topic-box-main {
          @include flexbox;
          @include align-items('center');

          .lBox {
            @include flex(1);

            h2 {
              padding: 0;
              margin: 25px 0 7px 0;
              font-size: 1.6em;
              line-height: 1.3;
              max-height: 30px;
              @include flexbox;
              @include flex-direction('vertical');
              -webkit-line-clamp: 1;
              overflow: hidden;

              a {
                cursor: pointer;
                color: #1a1a1a;

                &:hover {
                  color: #175199;
                }
              }
            }

            .subTitle {
              margin-bottom: 10px;
              font-size: 1.3em;
              color: #8590a6;
              word-break: break-word;
              line-height: 25px;
              cursor: pointer;
              max-height: 25px;
              -webkit-line-clamp: 1;
              overflow: hidden;

              &:hover {
                cursor: pointer;
                color: #666;
              }
            }

            .desc {
              font-size: 1em;
              color: #8590a6;
              line-height: 180%;
            }

            .followTopic {
              display: inline-block;
              margin: 10px 0;
              padding: 12px 10px;
              background: #0084ff;
              color: #fff;
              font-size: 14px;
              line-height: 16%;
              border-radius: 4px;

              &:hover {
                cursor: pointer;
                color: #fff;
              }
            }
          }

          .rBox {
            margin: 15px;
            width: 140px;
            height: 140px;
            border-radius: 70px;
            background: #f6f6f6;

            img {
              width: 140px;
              height: 140px;
              border-radius: 70px;
              overflow: hidden;
            }
          }
        }

        .tabCarActions {
          padding: 10px 0;
          text-align: right;

          span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;

            &:hover {
              cursor: pointer;
              color: #8590a6;
            }
          }
        }
      }
    }

    /** 我的专题 **/
    .creation {
      padding: 40px 0;
      text-align: center;

      .creationIco {
        font-size: 66px;
        color: #ccc;
      }

      .creationText {
        margin: 15px 0;
        font-size: 16px;
        color: #999;
      }
    }

    .applyCreationBtn {
      display: block;
      width: 126px;
      height: 32px;
      margin: 15px auto 0 auto;
      line-height: 32px;
      text-align: center;
      border-radius: 3px;
      font-size: 14px;
      color: #fff;
      background: #0084ff;
    }
  }
}