@import "mixin";
@import "flexbox";
@import "common";
//@import "bootstrap";
@import url('https://cdn.bootcss.com/summernote/0.8.11/summernote.css');
// @import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.appMain.write {
    background: #fff;
    .container.write {
        &>div {
            margin-top: 62px;
        }
    }
}

.uploadCont {
    position: relative;
    margin-top: 30px;
    .uploadFile {
        width: 100%;
        line-height: 192px;
        min-height: 192px;
        text-align: center;
        margin-bottom: 20px;
        color: gray;
        background: #f7f8f9;
        .cameraIco {
            font-size: 32px;
        }
    }
    .trashIco {
        display: none;
        position: absolute;
        z-index: 99;
        right: 0;
        bottom: 0;
        padding: 8px;
        font-size: 22px;
        color: #fff;
        background: rgba(0, 0, 0, .75);
    }
}

//测试高度
.textarea-wrapper {
    margin:30px 0 30px;
    position: relative;
    display: block;
    width: 100%;
    padding: .1rem 0;
}

.content-editable {
    position: relative;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 100%;
    line-height: 3rem;
    // line-height: normal;
    font-size: 3rem;
    color: #999;
    /*white-space: pre;*/
}

.field-textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: .1rem 0;
    line-height: normal;
    font-size: 3rem;
    color: #736b6b;
    text-align: left;
    resize: none;
    overflow: hidden;
    background-color: #fff;
    outline: none;
    border: none;
}

.field-textarea::-webkit-input-placeholder {
    text-align: left;
    font-size: 3rem;
    color: #999;
}