<template>
  <div class="adminUser">
    <AgreementForm :dialogState="formState" ref="contentFrom"></AgreementForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="agreement" :pageInfo="agreementList.pageInfo"></TopBar>
        <DataTable
          :pageInfo="agreementList.pageInfo"
          :dataList="agreementList.docs"
          @changeEditorContents="changeEditorContents"
        ></DataTable>
        <Pagination :pageInfo="agreementList.pageInfo" pageType="agreement"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import AgreementForm from "./agreementForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    AgreementForm,
    Pagination
  },
  methods: {
    changeEditorContents(contents) {
      this.$refs.contentFrom.setContents(contents);
    }
  },
  computed: {
    ...mapGetters(["agreementList"]),
    formState() {
      return this.$store.getters.agreementFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getAgreementList");
  }
};
</script>

<style lang="">
</style>