<template>
    <div class="adminUser">
        <ClassScoreForm :dialogState="formState"></ClassScoreForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="classScore" :pageInfo="classScoreList.pageInfo"></TopBar>
                <DataTable :pageInfo="classScoreList.pageInfo" :dataList="classScoreList.docs"></DataTable>
                <Pagination :pageInfo="classScoreList.pageInfo" pageType="classScore"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import ClassScoreForm from './classScoreForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            ClassScoreForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'classScoreList'
            ]),
            formState() {
                return this.$store.getters.classScoreFormState
            }
        },
        mounted() {
            this.$store.dispatch('getClassScoreList');
        }
    }
</script>

<style lang="">

</style>