<template>
    <div class="adminUser">
        <UserActionHisForm :dialogState="formState"></UserActionHisForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="userActionHis" :pageInfo="userActionHisList.pageInfo"></TopBar>
                <DataTable :pageInfo="userActionHisList.pageInfo" :dataList="userActionHisList.docs"></DataTable>
                <Pagination :pageInfo="userActionHisList.pageInfo" pageType="userActionHis"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import UserActionHisForm from './userActionHisForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            UserActionHisForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'userActionHisList'
            ]),
            formState() {
                return this.$store.getters.userActionHisFormState
            }
        },
        mounted() {
            this.$store.dispatch('getUserActionHisList');
        }
    }
</script>

<style lang="">

</style>