<template>
    <div class="adminUser">
        <Reward_hisForm :dialogState="formState"></Reward_hisForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="reward_his" :pageInfo="reward_hisList.pageInfo"></TopBar>
                <DataTable :pageInfo="reward_hisList.pageInfo" :dataList="reward_hisList.docs"></DataTable>
                <Pagination :pageInfo="reward_hisList.pageInfo" pageType="reward_his"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import Reward_hisForm from './reward_hisForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            Reward_hisForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'reward_hisList'
            ]),
            formState() {
                return this.$store.getters.reward_hisFormState
            }
        },
        mounted() {
            this.$store.dispatch('getReward_hisList');
        }
    }
</script>

<style lang="">

</style>