<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="user" :label="$t('openVipRecord.user')">
        <template slot-scope="scope">{{scope.row.user?scope.row.user.userName:''}}</template>
      </el-table-column>
      <el-table-column prop="setMeal" :label="$t('openVipRecord.setMeal')">
        <template slot-scope="scope">
          <ul>
            <li>
              <label>套餐时长：</label>
              {{scope.row.setMeal.time}}
            </li>
            <li>
              <label>套餐价格：</label>
              {{scope.row.setMeal.coins}}
            </li>
            <li>
              <label>套餐单位：</label>
              {{scope.row.setMeal.unit}}
            </li>
            <li>
              <label>套餐备注：</label>
              {{scope.row.setMeal.comments}}
            </li>
          </ul>
        </template>
      </el-table-column>
      <el-table-column prop="comments" :label="$t('openVipRecord.comments')"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editOpenVipRecord(index, rows) {
      let rowData = rows[index];
      this.$store.dispatch("showOpenVipRecordForm", {
        edit: true,
        formData: rowData
      });
    },
    deleteOpenVipRecord(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteOpenVipRecord({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getOpenVipRecordList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>