<template>
    <div class="adminUser">
        <OpenVipRecordForm :dialogState="formState"></OpenVipRecordForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="openVipRecord" :pageInfo="openVipRecordList.pageInfo"></TopBar>
                <DataTable :pageInfo="openVipRecordList.pageInfo" :dataList="openVipRecordList.docs"></DataTable>
                <Pagination :pageInfo="openVipRecordList.pageInfo" pageType="openVipRecord"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import OpenVipRecordForm from './openVipRecordForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            OpenVipRecordForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'openVipRecordList'
            ]),
            formState() {
                return this.$store.getters.openVipRecordFormState
            }
        },
        mounted() {
            this.$store.dispatch('getOpenVipRecordList');
        }
    }
</script>

<style lang="">

</style>