<template>
  <div class="dr-ClassInfoForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      size="small"
      title="修改类别"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item :label="$t('classInfo.name')" prop="name">
          <el-input size="small" v-model="dialogState.formData.name"></el-input>
        </el-form-item>
        <el-form-item :label="$t('classInfo.categories')" prop="categories">
          <el-select
            size="small"
            v-model="dialogState.formData.categories"
            multiple
            filterable
            allow-create
            :placeholder="$t('validate.selectNull', {label: this.$t('classInfo.categories')})"
          >
            <el-option
              v-for="item in classTypeList"
              :key="item._id"
              :label="item.name"
              :value="item._id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('classInfo.sImg')" prop="sImg">
          <el-upload
            class="avatar-uploader"
            action="/api/v0/upload/files?type=images"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="dialogState.formData.sImg" :src="dialogState.formData.sImg" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
        <el-form-item :label="$t('classContent.state')" prop="state">
          <el-select v-model="dialogState.formData.state" placeholder="审核课程">
            <el-option
              v-for="item in classState"
              :key="'kw_'+item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('classInfo.price')" prop="price">
          <el-input size="small" v-model="dialogState.formData.price"></el-input>
        </el-form-item>
        <el-form-item :label="$t('classInfo.vipPrice')" prop="vipPrice">
          <el-input size="small" v-model="dialogState.formData.vipPrice"></el-input>
        </el-form-item>
        <el-form-item :label="$t('classInfo.unit')" prop="unit">
          <el-input size="small" v-model="dialogState.formData.unit"></el-input>
        </el-form-item>
        <el-form-item :label="$t('classInfo.recommend')" prop="recommend">
          <el-switch
            :on-text="$t('main.radioOn')"
            :off-text="$t('main.radioOff')"
            v-model="dialogState.formData.recommend"
          ></el-switch>
        </el-form-item>
        <el-form-item :label="$t('classInfo.vip')" prop="vip">
          <el-switch
            :on-text="$t('main.radioOn')"
            :off-text="$t('main.radioOff')"
            v-model="dialogState.formData.vip"
          ></el-switch>
        </el-form-item>
        <el-form-item :label="$t('classInfo.discount')" prop="discount">
          <el-switch
            :on-text="$t('main.radioOn')"
            :off-text="$t('main.radioOff')"
            v-model="dialogState.formData.discount"
          ></el-switch>
        </el-form-item>
        <el-form-item :label="$t('classInfo.boutique')" prop="boutique">
          <el-switch
            :on-text="$t('main.radioOn')"
            :off-text="$t('main.radioOff')"
            v-model="dialogState.formData.boutique"
          ></el-switch>
        </el-form-item>
        <el-form-item :label="$t('classInfo.buyTips')" prop="buyTips">
          <el-input size="small" v-model="dialogState.formData.buyTips"></el-input>
        </el-form-item>
        <el-form-item :label="$t('classInfo.comments')" prop="comments">
          <el-input size="small" type="textarea" v-model="dialogState.formData.comments"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            size="medium"
            type="primary"
            @click="submitForm('ruleForm')"
          >{{dialogState.edit ? $t('main.form_btnText_update') : $t('main.form_btnText_save')}}</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array,
    classTypeList: Array
  },
  data() {
    return {
      classState: [
        { value: "0", label: "退回" },
        { value: "1", label: "待审核" },
        { value: "2", label: "审核通过" }
      ],
      rules: {
        name: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("ClassInfo.name")
            }),
            trigger: "blur"
          },
          {
            min: 1,
            max: 12,
            message: this.$t("validate.rangelength", { min: 1, max: 12 }),
            trigger: "blur"
          }
        ],
        comments: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("main.comments_label")
            }),
            trigger: "blur"
          },
          {
            min: 2,
            max: 300,
            message: this.$t("validate.ranglengthandnormal", {
              min: 2,
              max: 300
            }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    handleAvatarSuccess(res, file) {
      let imageUrl = res.data.path;
      this.$store.dispatch("showClassInfoForm", {
        edit: this.dialogState.edit,
        formData: Object.assign({}, this.dialogState.formData, {
          sImg: imageUrl
        })
      });
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isPNG = file.type === "image/png";
      const isGIF = file.type === "image/gif";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG && !isPNG && !isGIF) {
        this.$message.error(this.$t("validate.limitUploadImgType"));
      }
      if (!isLt2M) {
        this.$message.error(
          this.$t("validate.limitUploadImgSize", { size: 2 })
        );
      }
      return (isJPG || isPNG || isGIF) && isLt2M;
    },
    confirm() {
      this.$store.dispatch("hideClassInfoForm");
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.dialogState.formData;
          // 更新
          if (this.dialogState.edit) {
            services.updateClassInfo(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideClassInfoForm");
                this.$store.dispatch("getClassInfoList");
                this.$message({
                  message: this.$t("main.updateSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          } else {
            // 新增
            services.addClassInfo(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideClassInfoForm");
                this.$store.dispatch("getClassInfoList");
                this.$message({
                  message: this.$t("main.addSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>
<style lang="scss">
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.avatar {
  width: 150px;
  height: 158px;
  display: block;
}
</style>
