<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="name" :label="$t('classInfo.name')" width="120"></el-table-column>
      <el-table-column prop="categories" :label="$t('classInfo.categories')" width="120">
        <template
          slot-scope="scope"
        >{{scope.row.categories && scope.row.categories.length > 1 ? scope.row.categories[scope.row.categories.length-1].name : '其他'}}</template>
      </el-table-column>
      <el-table-column prop="buyTips" :label="$t('classInfo.buyTips')" width="120"></el-table-column>
      <el-table-column prop="recommend" :label="$t('classInfo.recommend')" width="120">
        <template slot-scope="scope">
          <i
            :class="scope.row.recommend ? 'fa fa-check-circle' : 'fa fa-minus-circle'"
            :style="scope.row.recommend ? green : red"
          ></i>
        </template>
      </el-table-column>
      <el-table-column prop="vip" :label="$t('classInfo.vip')" width="120">
        <template slot-scope="scope">
          <i
            :class="scope.row.vip ? 'fa fa-check-circle' : 'fa fa-minus-circle'"
            :style="scope.row.vip ? green : red"
          ></i>
        </template>
      </el-table-column>
      <el-table-column prop="state" :label="$t('classContent.state')" show-overflow-tooltip>
        <template slot-scope="scope">
          <i
            :class="scope.row.state=='2' ? 'fa fa-check-circle' : 'fa fa-minus-circle'"
            :style="scope.row.state=='2' ? green : red"
          ></i>
        </template>
      </el-table-column>
      <el-table-column prop="boutique" :label="$t('classInfo.boutique')" width="120">
        <template slot-scope="scope">
          <i
            :class="scope.row.boutique ? 'fa fa-check-circle' : 'fa fa-minus-circle'"
            :style="scope.row.boutique ? green : red"
          ></i>
        </template>
      </el-table-column>
      <el-table-column prop="discount" :label="$t('classInfo.discount')" width="120">
        <template slot-scope="scope">
          <i
            :class="scope.row.discount ? 'fa fa-check-circle' : 'fa fa-minus-circle'"
            :style="scope.row.discount ? green : red"
          ></i>
        </template>
      </el-table-column>
      <el-table-column prop="price" :label="$t('classInfo.price')" width="120"></el-table-column>
      <el-table-column prop="vipPrice" :label="$t('classInfo.vipPrice')" width="120"></el-table-column>
      <el-table-column prop="unit" :label="$t('classInfo.unit')"></el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150" fixed="right">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            plain
            round
            @click="editClassInfo(scope.$index, dataList)"
          >
            <i class="fa fa-edit"></i>
          </el-button>
          <el-button
            size="mini"
            type="danger"
            plain
            round
            icon="el-icon-delete"
            @click="deleteClassInfo(scope.$index, dataList)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      green: { color: "#13CE66" },
      red: { color: "#FF4949" },
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editClassInfo(index, rows) {
      let rowData = rows[index];
      let categoryIdArr = [];
      !_.isEmpty(rowData.categories) &&
        rowData.categories.map((item, index) => {
          item && categoryIdArr.push(item._id);
        });
      rowData.categories = categoryIdArr;
      this.$store.dispatch("showClassInfoForm", {
        edit: true,
        formData: rowData
      });
    },
    deleteClassInfo(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteClassInfo({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getClassInfoList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>