<template>
  <div class="adminUser">
    <ClassInfoForm :dialogState="formState" :classTypeList="classTypeList.docs"></ClassInfoForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="classInfo" :pageInfo="classInfoList.pageInfo"></TopBar>
        <DataTable :pageInfo="classInfoList.pageInfo" :dataList="classInfoList.docs"></DataTable>
        <Pagination :pageInfo="classInfoList.pageInfo" pageType="classInfo"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import ClassInfoForm from "./classInfoForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    ClassInfoForm,
    Pagination
  },
  methods: mapActions([]),
  computed: {
    ...mapGetters(["classInfoList", "classTypeList"]),
    formState() {
      return this.$store.getters.classInfoFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getClassInfoList");
    this.$store.dispatch("getClassTypeList");
  }
};
</script>

<style lang="">
</style>