<template>
    <div class="adminUser">
        <CommunityContentForm :dialogState="formState"></CommunityContentForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="communityContent" :pageInfo="communityContentList.pageInfo"></TopBar>
                <DataTable :pageInfo="communityContentList.pageInfo" :dataList="communityContentList.docs"></DataTable>
                <Pagination :pageInfo="communityContentList.pageInfo" pageType="communityContent"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import CommunityContentForm from './communityContentForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            CommunityContentForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'communityContentList'
            ]),
            formState() {
                return this.$store.getters.communityContentFormState
            }
        },
        mounted() {
            this.$store.dispatch('getCommunityContentList');
        }
    }
</script>

<style lang="">

</style>