<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>{{lk.label_class_preview}}</title>
    <script src="/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/avalon.js/2.2.7/avalon.min.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <link rel="stylesheet" href="/plugins/layer/theme/default/layer.css">
    <script src="/themes/{{staticforder}}/js/dora.front.js?version={{siteInfo.version}}" type="text/javascript"></script>
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.4/skins/default/aliplayer-min.css" />
    <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/de/prismplayer/2.7.4/aliplayer-min.js"></script>
</head>

<body>
    <div class="prism-player" id="player-con"></div>
    <script>
        $(function () {
            var videoId = getQueryString('videoId');
            if (videoId) {
                getAjaxData('/api/v0/upload/getStsAuth?videoId=' + videoId, function (result) {
                    if (result) {
                        var tokenInfo = result.Credentials;
                        var accessKeyId = tokenInfo.AccessKeyId;
                        var accessKeySecret = tokenInfo.AccessKeySecret;
                        var securityToken = tokenInfo.SecurityToken;

                        var player = new Aliplayer({
                            "id": "player-con",
                            "vid": videoId,
                            "accessKeyId": accessKeyId,
                            "securityToken": securityToken,
                            "accessKeySecret": accessKeySecret,
                            "format": "mp4",
                            "mediaType": "video",
                            "width": "100%",
                            "height": "500px",
                            "autoplay": true,
                            "isLive": false,
                            "rePlay": false,
                            "playsinline": true,
                            "preload": true,
                            "controlBarVisibility": "hover",
                            "useH5Prism": true
                        }, function (player) {
                            console.log("播放器创建了。");
                        });
                    }
                });
            }

        })
    </script>
</body>