<!--我的投稿-->
{% extends "../public/defaultTemp.html" %} {% block content %}

<div class="contentMain">
    <div class="container">
        <div class="row" style="margin-top:62px">
            <div class="col-md-12 dslCol" ms-controller="applyCreation">
                <div class="article">
                    <h2>{{lk.label_creation_notice_1}}</h2>
                    <div class="articleCont">
                        <p>{{lk.label_creation_notice_2}}</p>

                        <p>{{lk.label_creation_notice_3}}</p>
                    </div>
                    <form ms-validate="@validate">
                        <h4 class="tit">{{lk.label_creation_notice_4}}</h4>
                        <input type="text" name="" ms-duplex="@newCateName" class="form-control" placeholder="{{lk.validate_special_name}}">
                        <h4 class="tit">{{lk.label_creation_notice_5}}</h4>

                        <select class="form-control" onchange="selectCourseChapterChange(this)">
                            <option value="0" selected>{{lk.lc_select_documentTag}}</option>
                            {% if cateTypes.docs.length > 0 %} {% for item in cateTypes.docs %}
                            <option value="{{item._id}}">{{item.name}}</option>
                            {% endfor %} {% endif %}
                        </select>
                        <h4 class="tit">{{lk.label_introduction}}</h4>
                        <textarea class="form-control" ms-duplex="@comments" rows="3" placeholder=""></textarea>
                        <div class="row" style="text-align: center;margin-top: 15px;">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary">{{lk.lc_approve}}</button>
                                <a class="btn btn-default" href="/users/userCenter" role="button">{{lk.label_creation_notice_6}}</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function selectCourseChapterChange(obj) {
        if (applyCreationVM) {
            applyCreationVM.category = obj.value;
        }
    }
</script>
{% endblock %}