{% extends "../public/defaultTemp.html" %} {% block content %}

<div class="container identityAuth">
    <div class="row" style="background: #fff;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3><span>大师认证</span></h3>
            <div class="row" style="margin-top: 55px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="collapse in row" id="progressMain">
                        <div class="col-md-4 col-sm-12 y-step-parent">
                            <div class="well y-step bg-success" data-step="1">
                                <div class="step-info">身份证</div>
                                <div class="circle">1</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12  y-step-parent">
                            <div class="well y-step bg-success" data-step="2">
                                <div class="step-info">提交资料</div>
                                <div class="circle">2</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12  y-step-parent">
                            <div class="well y-step " data-step="3">
                                <div class="step-info success">认证审核</div>
                                <div class="circle success">3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="identityAuthAuditCont">
                <div><i class="fa fa-file-text-o auditIco" aria-hidden="true"></i></div>
                <p class="auditText">信息资料已提交</p>
                <p class="auditIn">审核中</p>
                <a class="btn btn-default identityAuthAuditReturn" href="/users/userCenter" role="button">返回</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}