{% extends "../public/defaultTemp.html" %} {% block content %}
<link href="/plugins/webuploader/webuploader.css" rel="stylesheet">
<script src="/plugins/webuploader/webuploader.min.js"></script>
<script src="/themes/{{staticforder}}/js/upload.js"></script>

<div class="container identityAuth" ms-controller="identityAuthStepOne">
    <div class="row" style="background: #fff;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3><span>大师认证</span></h3>
            <div class="row" style="margin-top: 55px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="collapse in row" id="progressMain">
                        <div class="col-md-4 col-sm-12 y-step-parent">
                            <div class="well y-step bg-success" data-step="1">
                                <div class="step-info">身份认证</div>
                                <div class="circle">1</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12  y-step-parent">
                            <div class="well y-step" data-step="2">
                                <div class="step-info">提交资料</div>
                                <div class="circle">2</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12  y-step-parent">
                            <div class="well y-step " data-step="3">
                                <div class="step-info">认证审核</div>
                                <div class="circle">3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="title">
                为确保您账号的安全以及正常使用，根据相关地区法律规定，您需要填写实名资料，感谢您的理解与支持。
            </p>
            <form action="" ms-validate="@validate">
                <h4>归属地区</h4>
                <select class="form-control" ms-duplex="@areaType">
                    <option ms-for="el in @areaTypeArr" ms-attr="{value:el.value}" ms-text="@el.text"></option>
                </select>
                <h4>真实姓名</h4>
                <input type="text" ms-duplex="@name" ms-rules="{required:true}" class="form-control"
                    placeholder="请输入真实姓名">
                <h4>证件类型</h4>
                <select class="form-control" ms-duplex="@cardType">
                    <option ms-for="el in @cardTypeArr" ms-attr="{value:el.value}" ms-text="@el.text"></option>
                </select>
                <h4>证件号码</h4>
                <input type="text" ms-duplex="@idCardNo" ms-rules="{required:true}" class="form-control"
                    placeholder="请输入证件号码">
                <h4>证件照片（请使用本人的证件原件，确保图片清晰，四角完整）</h4>
                <div class="form-group">
                    <div class="" id="uploadIdCard" ms-controller="userUploader">
                        <div class="col-12">
                            <div class="wrapper">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group upload-box">
                                                <!--头部，相册选择和格式选择-->
                                                <div class="webUploader" id="uploader_uploadIdCard">
                                                    <div class="queueList">
                                                        <div id="dndArea_uploadIdCard" class="placeholder">
                                                            <div id="filePicker_uploadIdCard"></div>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="statusBar" style="display:none;">
                                                        <div class="progress">
                                                            <span class="text">0%</span>
                                                            <span class="percentage"></span>
                                                        </div>
                                                        <div class="info"></div>
                                                        <div class="btns">
                                                            <div id="filePicker2_uploadIdCard"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <div class="d-flex">
                                        <a href="javascript:void(0)" class="btn btn-link">取消</a>
                                        <button type="button" class="btn btn-primary ml-auto beginUpload"
                                            onclick="return false">上传</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block courseBtn" type="submit" role="button">下一步</button>
            </form>
        </div>
    </div>

</div>
<script>
    $(function () {
        initUploader('uploadIdCard');
    })
</script>
{% endblock %}