{% extends "../public/defaultTemp.html" %} {% block content %}
<link href="/plugins/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/plugins/datepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/plugins/datepicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8">
</script>
<script type="text/javascript" src="/plugins/datepicker/locales/bootstrap-datetimepicker.zh-TW.js" charset="UTF-8">
</script>

<link href="/plugins/webuploader/webuploader.css" rel="stylesheet">
<script src="/plugins/webuploader/webuploader.min.js"></script>
<script src="/themes/{{staticforder}}/js/upload.js"></script>


<div class="container identityAuthStep2" ms-controller="identityAuthStepTwo">
    <div class="row" style="background: #fff;">
        <form ms-validate="@validate">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3><span>大师认证</span></h3>
                <div class="row" style="margin-top: 55px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="collapse in row" id="progressMain">
                            <div class="col-md-4 col-sm-12 y-step-parent">
                                <div class="well y-step bg-success" data-step="1">
                                    <div class="step-info">身份证</div>
                                    <div class="circle">1</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12  y-step-parent">
                                <div class="well y-step bg-success" data-step="2">
                                    <div class="step-info">提交资料</div>
                                    <div class="circle">2</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12  y-step-parent">
                                <div class="well y-step " data-step="3">
                                    <div class="step-info">认证审核</div>
                                    <div class="circle">3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="title">
                    为确保您账号的安全以及正常使用，根据相关地区法律规定，您需要填写实名资料，感谢您的理解与支持。
                </p>
                <h4>认证领域</h4>

                <select id="selectMasterCategory" class="form-control" onchange="masterCategoryChange(this)">
                    <option value="0" selected>{{lk.validate_userContent_category}}</option>
                    {% if masterCategories.docs.length > 0 %}
                    {% for item in masterCategories.docs %}
                    <option value="{{item._id}}">{{item.name}}</option>
                    {% endfor %}
                    {% endif %}
                </select>

                <h4>资格证书(请上传至少一项资格证明，证明越充分越有可能通过审核)</h4>
                <dl class="lTabBox">
                    <dt>
                        <ul class="tabNav tabNavIdentityAuth">
                            <li><a href="javascript:;" aria-controls="xueli" class="link active">学历证书</a></li>
                            <li><a href="javascript:;" aria-controls="zhuanye" class="link">专业证书</a></li>
                            <li><a href="javascript:;" aria-controls="others" class="link ">其他证书</a></li>
                        </ul>
                    </dt>
                    <dd>
                        <div class="tabIdentityAuthCont" style="margin-top: 10px;">
                            <div class="" id="uploadXueli">
                                <div class="col-12">
                                    <div class="wrapper">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group upload-box">
                                                        <!--头部，相册选择和格式选择-->
                                                        <div class="webUploader" id="uploader_uploadXueli">
                                                            <div class="queueList">
                                                                <div id="dndArea_uploadXueli" class="placeholder">
                                                                    <div id="filePicker_uploadXueli"></div>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="statusBar" style="display:none;">
                                                                <div class="progress">
                                                                    <span class="text">0%</span>
                                                                    <span class="percentage"></span>
                                                                </div>
                                                                <div class="info"></div>
                                                                <div class="btns">
                                                                    <div id="filePicker2_uploadXueli"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right">
                                            <div class="d-flex">
                                                <a href="javascript:void(0)" class="btn btn-link">取消</a>
                                                <button type="button" class="btn btn-primary ml-auto beginUpload"
                                                    onclick="return false">上传</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <p class="textP">请提交大学本科以上的学历照片，如学生证，毕业证，（需要包含照片、姓名、专业、
                                官方印章等有效信息）文件小于2M，支持JPG 、PNG、BMP等格式图片</p>
                            <input type="text" name="" ms-duplex="@diploma_label" class="form-control"
                                placeholder="请输入证书名称，如数学博士学位。（10个字）" style="margin-top: 12px;">
                        </div>
                        <div class="tabIdentityAuthCont">
                            <div class="" id="uploadZhiye">
                                <div class="col-12">
                                    <div id="wrapper">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group upload-box">
                                                        <!--头部，相册选择和格式选择-->
                                                        <div class="webUploader" id="uploader_uploadZhiye">
                                                            <div class="queueList">
                                                                <div id="dndArea_uploadZhiye" class="placeholder">
                                                                    <div id="filePicker_uploadZhiye"></div>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="statusBar" style="display:none;">
                                                                <div class="progress">
                                                                    <span class="text">0%</span>
                                                                    <span class="percentage"></span>
                                                                </div>
                                                                <div class="info"></div>
                                                                <div class="btns">
                                                                    <div id="filePicker2_uploadZhiye"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right">
                                            <div class="d-flex">
                                                <a href="javascript:void(0)" class="btn btn-link">取消</a>
                                                <button type="button" class="btn btn-primary ml-auto beginUpload"
                                                    onclick="return false">上传</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <p class="textP">请提交专业能力证明。如职称证书，考级证书等，（需要包含
                                官方印章等有效信息）文件小于2M，支持JPG 、PNG、BMP等格式图片</p>
                            <input type="text" name="" ms-duplex="@professionalCertificate_label" class="form-control"
                                placeholder="请输入证书名称，如CFA学位证书。（10个字）" style="margin-top: 12px;">
                        </div>
                        <div class="tabIdentityAuthCont">
                            <div class="" id="uploadOthers">
                                <div class="col-12">
                                    <div id="wrapper">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group upload-box">
                                                        <!--头部，相册选择和格式选择-->
                                                        <div class="webUploader" id="uploader_uploadOthers">
                                                            <div class="queueList">
                                                                <div id="dndArea_uploadOthers" class="placeholder">
                                                                    <div id="filePicker_uploadOthers"></div>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="statusBar" style="display:none;">
                                                                <div class="progress">
                                                                    <span class="text">0%</span>
                                                                    <span class="percentage"></span>
                                                                </div>
                                                                <div class="info"></div>
                                                                <div class="btns">
                                                                    <div id="filePicker2_uploadOthers"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right">
                                            <div class="d-flex">
                                                <a href="javascript:void(0)" class="btn btn-link">取消</a>
                                                <button type="button" class="btn btn-primary ml-auto beginUpload"
                                                    onclick="return false">上传</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <p class="textP">请提交其他能力证明，文件小于2M，支持JPG 、PNG、BMP等格式图片</p>
                            <input type="text" name="" ms-duplex="@otherCertificate_label" class="form-control"
                                placeholder="请输入证书名称，专业讲师聘书。（10个字）" style="margin-top: 12px;">
                        </div>
                    </dd>

                </dl>
                <h4>过往经历</h4>
                <div id="past-experience-first">
                    <div class="past-experience">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group date form_datetime" id="datetimepicker_ex_1_start"
                                    data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
                                    data-link-field="dtp_input1">
                                    <input class="form-control" size="16" type="text" value="" readonly>
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <!-- <input type="hidden" id="user_birthday" value="" /> -->
                            </div>
                            <div class="col-md-1" style="text-align: center">至</div>
                            <div class="col-md-5">
                                <div class="input-group date form_datetime" id="datetimepicker_ex_1_end"
                                    data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
                                    data-link-field="dtp_input1">
                                    <input class="form-control" size="16" type="text" value="" readonly>
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <!-- <input type="hidden" id="user_birthday" value="" /> -->
                            </div>
                        </div>
                        <input type="text" name="" id="ex_1_label" onchange="changeMasterLabel(this.id)"
                            class="form-control" placeholder="请填写过往经历" style="margin-top: 12px;">
                    </div>
                </div>
                <a class="btn btn-primary btn-lg btn-block courseBtn" ms-on-click='addPastExperience'
                    href="javascript:;" role="button">
                    <i class="fa fa-plus" aria-hidden="true"></i> 继续添加过往经历</a>
                <h4>过往文章</h4>
                <div id="past-articles">
                    <div class="past-articles">
                        <div class="input-group date form_datetime" id="datetimepicker_article_1_start"
                            data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
                            data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input type="text" id="article_1_label" onchange="changeMasterLabel(this.id)"
                            class="form-control" placeholder="请输文章链接或者周刊名称" style="margin-top: 12px;">
                    </div>
                </div>
                <a class="btn btn-primary btn-lg btn-block courseBtn" ms-on-click="@addPastArticles" href="javascript:;"
                    role="button">
                    <i class="fa fa-plus" aria-hidden="true"></i> 继续添加发表过的文章</a>
                <h4>出刊书籍</h4>
                <div id="post-books">
                    <div class="post-books">
                        <div class="input-group date form_datetime" id="datetimepicker_book_1_start"
                            data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
                            data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>

                        <input type="text" name="" id="book_1_label" onchange="changeMasterLabel(this.id)"
                            class="form-control" placeholder="请输入书籍名称" style="margin-top: 12px;">
                    </div>
                </div>
                <a class="btn btn-primary btn-lg btn-block courseBtn" ms-on-click="@addPastBooks" href="javascript:;"
                    role="button">
                    <i class="fa fa-plus" aria-hidden="true"></i> 继续添加出版书籍</a>
                <h4>附件上传</h4>
                <div class="" id="attachments">
                    <div class="col-12">
                        <div id="wrapper">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group upload-box">
                                            <!--头部，相册选择和格式选择-->
                                            <div class="webUploader" id="uploader_attachments">
                                                <div class="queueList">
                                                    <div id="dndArea_attachments" class="placeholder">
                                                        <div id="filePicker_attachments"></div>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="statusBar" style="display:none;">
                                                    <div class="progress">
                                                        <span class="text">0%</span>
                                                        <span class="percentage"></span>
                                                    </div>
                                                    <div class="info"></div>
                                                    <div class="btns">
                                                        <div id="filePicker2_attachments"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <div class="d-flex">
                                    <a href="javascript:void(0)" class="btn btn-link">取消</a>
                                    <button type="button" class="btn btn-primary ml-auto beginUpload"
                                        onclick="return false">上传</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block courseBtn" type="submit" role="button">下一步</a>
            </div>
        </form>
    </div>

</div>


<script>
    function masterCategoryChange(obj) {
        identityAuthStepTwoVm.masterCategory = obj.value;
    }



    $(function () {

        initUploader('uploadXueli');
        initUploader('attachments');

        initDatePicker('datetimepicker_ex_1_start', '_ex_1_start');
        initDatePicker('datetimepicker_ex_1_end', '_ex_1_end');
        initDatePicker('datetimepicker_article_1_start', '_article_1_start');
        initDatePicker('datetimepicker_book_1_start', '_book_1_start');


    })
</script>
{% endblock %}