{% extends "../public/defaultTemp.html" %} {% block content %}

<div ms-controller="personInfo" class="personInfo">
    <div class="row user-center-top">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 user-header">
                    <img class="photo" src="{{userInfo.logo}}" alt="">
                    <h2 ms-text="@userName"></h2>
                </div>
                <div class="col-md-8 user-tj">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <p ms-text="@total_reward_num"></p>
                                <i class="fa fa-cny cur"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <p><span ms-text="@total_likeNum"></span></p>
                                <i class="fa fa-thumbs-o-up"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <p><span ms-text="@total_despiseNum"></span></p>
                                <i class="fa  fa-thumbs-o-down"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <p><span ms-text="@follow_num"></span></p>
                                <i class="fa fa-heart"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
    <div class="container" id="personInfo">
        <div class="row personInfoRow">
            <form class="form-horizontal" role="form" ms-validate="@validate">

                <div class="col-md-12">
                    <div class="row editItem">
                        <div class="col-md-3 title">{{lk.label_user_userName}}：</div>
                        <div class="col-md-8">
                            <div class="editBox" id="userNameBox">
                                <input type="text" ms-duplex="@userName" class="form-control userName" placeholder="{{lk.lc_basic_pl_username}}"
                                    style="margin-bottom:10px">
                                <div class="editUserName">
                                    <button type="button" class="btn btn-primary editSave" ms-on-click="saveInfo('userName')">{{lk.lc_save}}</button>
                                    <button type="button" class="btn btn-default editCancel" ms-on-click="cancelSaveInfo('userName')">{{lk.lc_cancel}}</button>
                                </div>
                            </div>
                            <div id="userNameResult">
                                <span class="result" ms-text="@userName">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span class="editEvent" id="editUserName" ms-on-click="@editInfo('userName')"><i class="fa fa-edit"
                                        aria-hidden="true"></i>{{lk.lc_edit}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row editItem">
                        <div class="col-md-3 title">{{lk.lc_gender}}：</div>
                        <div class="col-md-8 ">
                            <div class="editBox" id="genderBox">
                                <label class="radio-inline">
                                    <input type="radio" value="0" ms-duplex="@gender" name="inlineRadioOptions" id="inlineRadio1"
                                        value="option1"> {{lk.lc_man}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="1" ms-duplex="@gender" name="inlineRadioOptions" id="inlineRadio2"
                                        value="option2">
                                    {{lk.lc_women}}
                                </label>
                                <div>
                                    <button type="button" class="btn btn-primary editSave" ms-on-click="saveInfo('gender')">{{lk.lc_save}}</button>
                                    <button type="button" class="btn btn-default editCancel" ms-on-click="cancelSaveInfo('gender')">{{lk.lc_cancel}}</button>
                                </div>
                            </div>
                            <div id="genderResult">
                                <span ms-visible="@gender=='0'" class="result">{{lk.lc_man}}</span>
                                <span ms-visible="@gender=='1'" class="result">{{lk.lc_women}}</span>
                                <span class="editEvent" id="editSex" ms-on-click="@editInfo('gender')"><i class="fa fa-edit"
                                        aria-hidden="true"></i>{{lk.lc_edit}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row editItem">
                        <div class="col-md-3 title">{{lk.label_introduction_one_step}}：</div>
                        <div class="col-md-8">
                            <div class="editBox" id="introductionBox">
                                <input type="text" ms-duplex="@introduction" value="" class="form-control inputIntroduction"
                                    placeholder="请输入简介" style="margin-bottom:10px">
                                <div class="editIntroduction">
                                    <button type="button" class="btn btn-primary editSave" ms-on-click="saveInfo('introduction')">{{lk.lc_save}}</button>
                                    <button type="button" class="btn btn-default editCancel" ms-on-click="cancelSaveInfo('introduction')">{{lk.lc_cancel}}</button>
                                </div>
                            </div>
                            <div id="introductionResult">
                                <span class="result" ms-text="@introduction">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span class="editEvent" id="editIntroduction" ms-on-click="@editInfo('introduction')"><i
                                        class="fa fa-edit" aria-hidden="true"></i>{{lk.lc_edit}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row editItem">
                        <div class="col-md-3 title">{{lk.label_profession}}：</div>
                        <div class="col-md-8">
                            <div class="editBox" id="professionBox">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" ms-duplex="@profession">
                                            <option ms-for="el in @professionArr" ms-attr="{value:el.value}" ms-text="@el.text"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="editCareer">
                                    <button type="button" class="btn btn-primary editSave" ms-on-click="saveInfo('profession')">{{lk.lc_save}}</button>
                                    <button type="button" class="btn btn-default editCancel" ms-on-click="cancelSaveInfo('profession')">{{lk.lc_cancel}}</button>
                                </div>
                            </div>
                            <div id="professionResult">
                                <span class="result" ms-text="@profession | renderJob('profession')">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span class="editEvent" id="editCareer" ms-on-click="@editInfo('profession')"><i class="fa fa-plus"
                                        aria-hidden="true"></i>{{lk.label_profession_add}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row editItem">
                        <div class="col-md-3 title">{{lk.label_industry}}：</div>
                        <div class="col-md-8">
                            <div class="editBox" id="industryBox">
                                <select class="form-control" ms-duplex="@industry">
                                    <option ms-for="el in @industryArr" ms-attr="{value:el.value}" ms-text="@el.text"></option>
                                </select>
                                <div class="editBusiness">
                                    <button type="button" class="btn btn-primary editSave" ms-on-click="saveInfo('industry')">{{lk.lc_save}}</button>
                                    <button type="button" class="btn btn-default editCancel" ms-on-click="cancelSaveInfo('industry')">{{lk.lc_cancel}}</button>
                                </div>
                            </div>
                            <div id="industryResult">
                                <span class="result" ms-text="@industry | renderJob('industry')">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span class="editEvent" id="editBusiness" ms-on-click="@editInfo('industry')"><i class="fa fa-plus"
                                        aria-hidden="true"></i>{{lk.lc_add}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row editItem">
                        <div class="col-md-3 title">{{lk.label_experience}}：</div>
                        <div class="col-md-8">
                            <div class="editBox" id="experienceBox">
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="form-control" ms-duplex="@experience">
                                            <option ms-for="el in @experienceArr" ms-attr="{value:el.value}" ms-text="@el.text"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="editStudy">
                                    <button type="button" class="btn btn-primary editSave" ms-on-click="saveInfo('experience')">{{lk.lc_save}}</button>
                                    <button type="button" class="btn btn-default editCancel" ms-on-click="cancelSaveInfo('experience')">{{lk.lc_cancel}}</button>
                                </div>
                            </div>
                            <div id="experienceResult">
                                <span class="result" ms-text="@experience | renderJob('experience')">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span class="editEvent" id="editStudy" ms-on-click="@editInfo('experience')"><i class="fa fa-plus"
                                        aria-hidden="true"></i>{{lk.label_experience_add}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row editItem">
                        <div class="col-md-3 title">{{lk.label_user_creator_indentify}}：</div>
                        <div class="col-md-8">

                            <span class="result">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="editEvent"><a href="javascript:void(0)" ms-on-click="@approveMasterIndentify">申请大师认证</a><i
                                    class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </div>
                    </div>

                    <div class="row editItem">
                        <div class="col-md-3 title">{{lk.label_introduction}}：</div>
                        <div class="col-md-8">
                            <div class="editBox" id="commentsBox">
                                <textarea ms-duplex="@comments" class="form-control inputAboutMe" rows="3" style="margin-bottom:10px"></textarea>
                                <div class="editAboutMe">
                                    <button type="button" class="btn btn-primary editSave" ms-on-click="saveInfo('comments')">{{lk.lc_save}}</button>
                                    <button type="button" class="btn btn-default editCancel" ms-on-click="cancelSaveInfo('comments')">{{lk.lc_cancel}}</button>
                                </div>
                            </div>
                            <div id="commentsResult">
                                <span class="result" ms-text="@comments">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span class="editEvent" id="editAboutMe" ms-on-click="@editInfo('comments')"><i class="fa fa-edit"
                                        aria-hidden="true"></i>{{lk.lc_edit}}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        // 获取用户投稿列表
        if (personInfoVm) {
            personInfoVm.getUserInfo("{{userInfo._id}}");
            personInfoVm.industryArr = [{
                    value: '',
                    text: '{{lk.label_select}}'
                },
                {
                    value: '0',
                    text: '{{lk.label_industry_web}}'
                },
                {
                    value: '1',
                    text: 'IT'
                },
                {
                    value: '2',
                    text: '{{lk.label_industry_zzy}}'
                },
                {
                    value: '3',
                    text: '{{lk.label_industry_jr}}'
                },
                {
                    value: '4',
                    text: '{{lk.label_industry_jy}}'
                },
                {
                    value: '5',
                    text: '{{lk.label_industry_yyyl}}'
                },
                {
                    value: '6',
                    text: '{{lk.label_industry_jzfdc}}'
                },
                {
                    value: '7',
                    text: '{{lk.label_industry_cm}}'
                },
                {
                    value: '8',
                    text: '{{lk.label_industry_zfjg}}'
                },
                {
                    value: '9',
                    text: '{{lk.label_industry_others}}'
                },
            ];
            personInfoVm.professionArr = [{
                    value: '',
                    text: '{{lk.label_select}}'
                },
                {
                    value: '0',
                    text: '{{lk.label_profession_student}}'
                },
                {
                    value: '1',
                    text: '{{lk.label_profession_bl}}'
                },
                {
                    value: '2',
                    text: '{{lk.label_profession_manager}}'
                },
                {
                    value: '3',
                    text: '{{lk.label_profession_cyz}}'
                },
                {
                    value: '4',
                    text: '{{lk.label_profession_tzr}}'
                },
                {
                    value: '5',
                    text: '{{lk.label_profession_zyzyz}}'
                },
                {
                    value: '6',
                    text: '{{lk.label_industry_others}}'
                }
            ];
            personInfoVm.experienceArr = [{
                    value: '',
                    text: '{{lk.label_select}}'
                },
                {
                    value: '0',
                    text: '{{lk.label_experience_gz}}'
                },
                {
                    value: '1',
                    text: '{{lk.label_experience_dz}}'
                },
                {
                    value: '2',
                    text: '{{lk.label_experience_db}}'
                },
                {
                    value: '3',
                    text: '{{lk.label_experience_ss}}'
                },
                {
                    value: '4',
                    text: '{{lk.label_experience_bs}}'
                },
                {
                    value: '5',
                    text: '{{lk.label_industry_others}}'
                }
            ];
        }
    })
</script>
{% endblock %}