{% extends "../public/defaultTemp.html" %} {% block content %}
<link href="/plugins/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/plugins/datepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/plugins/datepicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="/plugins/datepicker/locales/bootstrap-datetimepicker.zh-TW.js" charset="UTF-8"></script>
<div ms-controller="personInfo" class="personInfo">
    <div class="row user-center-top" style="margin-bottom:60px;">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 user-header">
                    <img class="photo" src="{{userInfo.logo}}" alt="">
                    <div style="display:inline-block;">
                        <h2 ms-text="@userName"></h2><br />
                        <div class="my-home-page"><a href="/users/userCenter">{{lk.lc_my_homepage}}</a></div>
                    </div>
                </div>
                <div class="col-md-8 user-tj">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <p ms-text="@total_reward_num"></p>
                                <i class="fa fa-cny cur"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <p><span ms-text="@total_likeNum"></span></p>
                                <i class="fa fa-thumbs-o-up"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <p><span ms-text="@total_despiseNum"></span></p>
                                <i class="fa  fa-thumbs-o-down"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <p><span ms-text="@follow_num"></span></p>
                                <i class="fa fa-heart"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
    <div class="container" id="personInfo" style="width:800px;margin:0 auto;">
        <div class="row personInfoRow">
            <div class="col-md-12">
                <div class="row">
                    <form ms-validate="@validate">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{lk.label_user_userName}}</label>
                            <input type="email" class="form-control" ms-duplex="@userName" placeholder="{{lk.lc_basic_pl_username}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">{{lk.label_introduction_one_step}}</label>
                            <input type="text" ms-duplex="@introduction" value="" class="form-control inputIntroduction"
                                style="margin-bottom:10px">
                        </div>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group select-birth">
                                        <label for="dtp_input1" class=" control-label">{{lk.lc_birthday}}</label>
                                        <div class="input-group date form_datetime " data-date="1979-09-16T05:25:07Z"
                                            data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                            <input class="form-control" size="16" type="text" value="" readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                        <input type="hidden" id="user_birthday" value="" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">{{lk.label_profession}}</label>
                                        <select class="form-control" ms-duplex="@profession">
                                            <option ms-for="el in @professionArr" ms-attr="{value:el.value}" ms-text="@el.text"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">{{lk.label_industry}}</label>
                                        <select class="form-control" ms-duplex="@industry">
                                            <option ms-for="el in @industryArr" ms-attr="{value:el.value}" ms-text="@el.text"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">{{lk.label_experience}}</label>
                                        <select class="form-control" ms-duplex="@experience">
                                            <option ms-for="el in @experienceArr" ms-attr="{value:el.value}" ms-text="@el.text"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">{{lk.label_introduction}}</label>
                                <input type="text" ms-duplex="@comments" class="form-control inputAboutMe" rows="3"
                                    style="margin-bottom:10px" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">{{lk.lc_save}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.form_datetime').datetimepicker({
            language: "{{siteInfo.lang}}",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd',
            minView: "month",
        });
        // 获取用户投稿列表
        if (personInfoVm) {
            personInfoVm.getUserInfo("{{userInfo._id}}");
            personInfoVm.industryArr = [{
                    value: '',
                    text: '{{lk.label_select}}'
                },
                {
                    value: '0',
                    text: '{{lk.label_industry_web}}'
                },
                {
                    value: '1',
                    text: 'IT'
                },
                {
                    value: '2',
                    text: '{{lk.label_industry_zzy}}'
                },
                {
                    value: '3',
                    text: '{{lk.label_industry_jr}}'
                },
                {
                    value: '4',
                    text: '{{lk.label_industry_jy}}'
                },
                {
                    value: '5',
                    text: '{{lk.label_industry_yyyl}}'
                },
                {
                    value: '6',
                    text: '{{lk.label_industry_jzfdc}}'
                },
                {
                    value: '7',
                    text: '{{lk.label_industry_cm}}'
                },
                {
                    value: '8',
                    text: '{{lk.label_industry_zfjg}}'
                },
                {
                    value: '9',
                    text: '{{lk.label_industry_others}}'
                },
            ];
            personInfoVm.professionArr = [{
                    value: '',
                    text: '{{lk.label_select}}'
                },
                {
                    value: '0',
                    text: '{{lk.label_profession_student}}'
                },
                {
                    value: '1',
                    text: '{{lk.label_profession_bl}}'
                },
                {
                    value: '2',
                    text: '{{lk.label_profession_manager}}'
                },
                {
                    value: '3',
                    text: '{{lk.label_profession_cyz}}'
                },
                {
                    value: '4',
                    text: '{{lk.label_profession_tzr}}'
                },
                {
                    value: '5',
                    text: '{{lk.label_profession_zyzyz}}'
                },
                {
                    value: '6',
                    text: '{{lk.label_industry_others}}'
                }
            ];
            personInfoVm.experienceArr = [{
                    value: '',
                    text: '{{lk.label_select}}'
                },
                {
                    value: '0',
                    text: '{{lk.label_experience_gz}}'
                },
                {
                    value: '1',
                    text: '{{lk.label_experience_dz}}'
                },
                {
                    value: '2',
                    text: '{{lk.label_experience_db}}'
                },
                {
                    value: '3',
                    text: '{{lk.label_experience_ss}}'
                },
                {
                    value: '4',
                    text: '{{lk.label_experience_bs}}'
                },
                {
                    value: '5',
                    text: '{{lk.label_industry_others}}'
                }
            ];
        }
    })
</script>
{% endblock %}