<!--用户中心-->
{% extends "../public/defaultTemp.html" %} {% block content %}
<script src="/plugins/clipboard/dist/clipboard.min.js"></script>
<script src="/themes/{{staticforder}}/js/avalon-ms-pager.js?version={{siteInfo.version}}" type="text/javascript">
</script>

<div ms-controller="my-contents">
    <div class="row user-center-top">
        <div class="col-md-2"> &nbsp;</div>
        <div class="col-md-8 top-main">
            <div class="user-header">
                <div class="headPortrait"><img src="{{userInfo.logo}}" alt="">
                    <div class="editeInfo"><a href="/users/personInfo">编辑资料&nbsp;<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="userInfo">
                    <h3>{{userInfo.userName}} </h3>
                </div>
            </div>
            <div class="master-auth">
                {% if masterAuthState == '1' or userInfo.group == '1' %}
                <i class="iconfont icon-zigerenzheng"></i> {{lk.label_user_master_indentify}}
                {% elif masterAuthState == '0' %}
                <a href="javascript:void(0)"><i
                        class="fa fa-hourglass-half"></i>&nbsp;{{lk.bill_label_approval_state_wait}}
                </a>
                {% elif masterAuthState == '-1' or masterAuthState == '2' %}
                <a href="/users/identityAuth">{{lk.label_user_creator_indentify}}
                    <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="container1 myWrite user-content-pannel">
        <div class="row" style="margin: 0px;">
            <div class="col-md-12 tab-line">

            </div>
            <div class="">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <dl class="lTabBox">
                        <dt>
                            <ul class="tabNav flex">
                                <li class="flex-item"><a href="javascript:;" aria-controls="myContents"
                                        class="link active">{{lk.label_user_my_create}}</a></li>
                                <li class="flex-item"><a href="javascript:;" aria-controls="myCommunity"
                                        class="link">{{lk.label_user_my_community}}</a></li>
                                <li class="flex-item"><a href="javascript:;" aria-controls="myClasses"
                                        class="link">{{lk.label_user_my_class}}</a></li>
                                <li class="flex-item"><a href="javascript:;" aria-controls="myTopics"
                                        class="link">{{lk.label_user_my_special}}</a></li>
                                <li class="flex-item"><a href="javascript:;" aria-controls="myAccounts"
                                        class="link">{{lk.label_user_my_account}}</a></li>
                                <li class="flex-item"><a href="javascript:;" aria-controls="myInvitation"
                                        class="link">{{lk.label_user_my_invitation}}</a></li>
                            </ul>
                        </dt>
                        <dd class="tabMyWrite" style="min-height: 400px;">
                            <div class="tab-recommend">
                                <div class="tabCard" ms-visible="@myContentList.length>0"
                                    ms-for="(index,item) in @myContentList">
                                    <div class="tabCardMain">
                                        <div class="lBox">
                                            <img ms-attr="{src: @item.sImg,alt:@item.title }">
                                        </div>
                                        <div class="rBox">
                                            <h3><span ms-visible="@item.state == '3' && @item.dismissReason"
                                                    style="color:red;margin-right: 5px;"
                                                    ms-text="'['+@item.dismissReason+']'"></span><a
                                                    ms-attr="{href:'/details/'+ @item._id + '.html'}" target="_blank"
                                                    ms-text="@item.title | cutwords(22)"></a></h3>
                                            <a ms-attr="{href:'/details/'+ @item._id + '.html'}" target="_blank"
                                                class="desc" ms-text="@item.discription | cutwords(500)"></a>
                                            <span class="contentState" ms-visible="@item.state == '0'"
                                                style="font-weight:normal;"><a target="_blank"
                                                    ms-attr="{href:'/users/editContent/'+ @item._id}">{{lk.label_content_edit_draft}}</a></span>
                                            <span class="contentState" style="color:orange;"
                                                ms-visible="@item.state == '1'">{{lk.bill_label_approval_state_wait}}</span>
                                            <span class="contentState" style="color:green;"
                                                ms-visible="@item.state == '2'">{{lk.bill_label_approval_state_publish}}</span>
                                            <span class="contentState" style="color:red;"
                                                ms-visible="@item.state == '3'">{{lk.bill_label_approval_state_failed}}</span>
                                            <div>
                                                <span class="titFrBox" ms-text="@item.uAuthor.userName"> <span
                                                        class="time" ms-text="@item.updateDate"></span></span>
                                                <div class="tabCarActions" ms-controller="rcStatic">
                                                    <span><i class="fa fa-eye"></i><span ms-text="@item.clickNum | toReadableNumberKM"></span></span>
                                                    <span><i class="fa fa-thumbs-o-up"></i><span ms-text="@item.likeNum"></span></span>
                                                    <span><i class="fa fa-commenting-o"></i><span ms-text="@item.commentNum"></span></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="text-center no-data" ms-visible="@myContentList.length==0">
                                    {{lk.label_no_data}}</div>
                            </div>
                            <div class="text-center">
                                <wbr ms-widget="{is:'ms-pager', onPageClick: @contentPageClick, totalPages:@contentTotalPage}" /></div>
                        </dd>
                        <dd class="tabMyWrite autoHeight" style="background: #fff;min-height: 400px;">
                            <div class="tab-topic">
                                <div class="topic-box" ms-visible="@myCommunityList.length>0"
                                    ms-for="(index,item) in @myCommunityList">
                                    <div class="topic-box-main">
                                        <div class="lBox" ms-on-click="askApp">
                                            <h2>
                                                <a href="javascript:void(0)" ms-text="@item.name"></a>
                                            </h2>
                                            <div class="subTitle" ms-text="@item.comments"> </div>
                                            <div class="desc">
                                                <span ms-text="@item.watch_num"></span>&nbsp;人<Br>
                                                <span><span ms-text="@item.content_num"></span>&nbsp;动态</span>
                                            </div>
                                        </div>
                                        <div class="rBox hidden-sm hidden-xs">
                                            <img ms-attr="{src: @item.sImg,alt:@item.name }">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center no-data" ms-visible="@myCommunityList.length==0">
                                    {{lk.label_no_data}}</div>
                            </div>
                            <div class="text-center">
                                <wbr ms-widget="{is:'ms-pager', onPageClick: @communityPageClick, totalPages:@communityTotalPage}" /></div>
                        </dd>
                        <dd class="tabMyWrite" style="min-height: 400px;">
                            <div class="courseCont clearfloat">
                                <div class="courseList" ms-visible="@myClassesList.length>0"
                                    ms-for="(index,item) in @myClassesList">
                                    <div class="courseFl">
                                        <div class="tit"><span style="font-weight:700;margin:0;"
                                                ms-text="@item.name"></span>
                                            <span ms-text="@item.author.userName">小洪</span></div>
                                        <h4 ms-visible="@group !='1'">学习第 <span
                                                ms-text="@item.learningProgress.length"></span>
                                            章</h4>
                                        <h5>共 <span ms-text="@item.update_catalog_num"></span> 章</h5>
                                        <a ms-attr="{href:'/classDetails/'+ @item._id + '.html'}" target="_blank"
                                            class="article" ms-text="@item.comments"></a>
                                        <a ms-visible="@group !='1'" class="courseBtn"
                                            ms-attr="{href:'/classDetails/'+ @item.class._id + '.html'}"
                                            target="_blank">学习</a>
                                        <span class="editClass">
                                            <a ms-visible="@item.state=='0'"
                                                ms-attr="{href:'/users/editCourseInfo/'+ @item._id}">编辑信息</a>
                                        </span>
                                    </div>
                                    <div class="courseFr">
                                        <img ms-attr="{src: @item.sImg,alt:@item.name }">
                                    </div>
                                </div>
                                <div class="text-center no-data" ms-visible="@myClassesList.length==0">
                                    {{lk.label_no_data}}</div>
                            </div>
                            <div class="text-center">
                                <wbr ms-widget="{is:'ms-pager', onPageClick: @classPageClick, totalPages:@classTotalPage}" /></div>
                        </dd>
                        <dd class="tabMyWrite" style="min-height: 400px;">
                            <div class="tab-topic" style="background: #fff">
                                <div class="creation" ms-visible="@myTopicList.length=='0'">
                                    <div>
                                        <i class="fa fa-file-text-o creationIco" aria-hidden="true"></i>
                                        <p class="creationText">想在大师链进行创作？ <a href="/users/applyCreation.html">申请专题</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="topic-box" ms-visible="@myTopicList.length!='0'">
                                    <div class="topic-box-main" ms-for="(index,item) in @myTopicList"
                                        style="border-bottom: none">
                                        <div class="lBox">
                                            <h2>
                                                <a ms-attr="{href:'/users/userTopics/'+ @item._id}"
                                                    ms-text="@item.name"></a>
                                            </h2>
                                            <div class="subTitle" ms-text="@item.comments"> </div>
                                            <div class="desc">
                                                <span ms-text="@item.watch_num"></span>人<Br>
                                                <span><span
                                                        ms-text="@item.total_contentNum"></span>{{lk.label_content_activer}}</span>
                                            </div>

                                        </div>
                                        <div class="rBox hidden-sm hidden-xs">
                                            <img ms-attr="{src: @item.sImg,alt:@item.name }">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <wbr ms-widget="{is:'ms-pager', onPageClick: @topicPageClick, totalPages:@topicTotalPage}" /></div>
                                    </div>
                                    <div class="text-center" style="margin-top:20px;">
                                        <a href="/users/addSpecialTopic" class="btn btn-primary">发布专题</a>
                                        <a href="/users/applyCreation.html" class="btn btn-default"
                                            style="margin-left:30px;">申请专题</a>
                                    </div>

                                </div>
                        </dd>
                        <dd class="tabMyWrite" style="min-height: 400px;">
                            <div class="myAccounts" style="background: #fff">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading mecAccount" role="tab" id="headingOne"
                                            style="background-color:#dde8f5;">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    <small>{{lk.label_coin_list_mec}}</small>
                                                    <h1 ms-text="@myCoinsBasicInfo.total_MEC_num"></h1>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                            aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="list-title">{{lk.label_coin_trade_details}}</div>
                                                <ul class="coin-list">
                                                    <li ms-for="(index,item) in @mecList">
                                                        <div class="col-xs-7 col-md-8 left">
                                                            <span class="log" ms-text="@item.logs"></span>
                                                            <span class="time" ms-text="@item.date"></span>
                                                        </div>
                                                        <div class="col-xs-5 col-md-4 right">
                                                            <span :class="['coins',(@item.coins>0 ? 'blue':'yellow')]"
                                                                ms-text="@item.coins"></span><span class="unit"
                                                                ms-text="@item.unit"></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="text-center">
                                                    <wbr ms-widget="{is:'ms-pager', onPageClick: @mecPageClick, totalPages:@mecTotalPage}" />
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo"
                                                style="background-color:#d7f4f2;">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                        data-parent="#accordion" href="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        <small>{{lk.label_coin_list_mbt}}</small>
                                                        <h1 ms-text="@myCoinsBasicInfo.total_MBT_num"></h1>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                                aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <div class="list-title">{{lk.label_coin_trade_details}}</div>
                                                    <ul class="coin-list">
                                                        <li ms-for="(index,item) in @mbtList">
                                                            <div class="col-xs-7 col-md-8 left">
                                                                <span class="log" ms-text="@item.logs"></span>
                                                                <span class="time" ms-text="@item.date"></span>
                                                            </div>
                                                            <div class="col-xs-5 col-md-4 right">
                                                                <span
                                                                    :class="['coins',(@item.coins>0 ? 'blue':'yellow')]"
                                                                    ms-text="@item.coins"></span><span class="unit"
                                                                    ms-text="@item.unit"></span>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                    <div class="text-center">
                                                        <wbr ms-widget="{is:'ms-pager', onPageClick: @mbtPageClick, totalPages:@mbtTotalPage}" />
                                                </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree"
                                                    style="background-color:#d7d7d7;">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                            data-parent="#accordion" href="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            <small>{{lk.label_coin_list_mvpc}}</small>
                                                            <h1 ms-text="@myCoinsBasicInfo.total_MVPC_num"></h1>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                                    aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <div class="list-title">{{lk.label_coin_trade_details}}</div>
                                                        <ul class="coin-list">
                                                            <li ms-for="(index,item) in @mvpcList">
                                                                <div class="col-xs-7 col-md-8 left">
                                                                    <span class="log" ms-text="@item.logs"></span>
                                                                    <span class="time" ms-text="@item.date"></span>
                                                                </div>
                                                                <div class="col-xs-5 col-md-4 right">
                                                                    <span
                                                                        :class="['coins',(@item.coins>0 ? 'blue':'yellow')]"
                                                                        ms-text="@item.coins"></span><span
                                                                        class="unit">MVPC</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="text-center">
                                                            <wbr ms-widget="{is:'ms-pager', onPageClick: @mvpcPageClick, totalPages:@mvpcTotalPage}" />
                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        </dd>
                        <dd class="tabMyWrite" style="min-height: 400px;">
                            <div class="myInvitation" style="background: #fff">

                                <div class="qrImg" style="margin: 0 auto;display: block;width: 250px;">
                                    <img ms-attr="{src: @invitationQr }">
                                </div>
                                <div class="qrLink col-md-12">
                                    <div class="share-input">
                                        <div class="input-group">
                                            <input id="codeValue" type="text" class="form-control s-form-control"
                                                value="{{siteInfo.configs.siteDomain+'/invitation.html?uid='+userInfo._id}}">
                                            <span class="input-group-btn">
                                                <button data-clipboard-target="#codeValue" id="copyCode-btn"
                                                    class="btn btn-default" name='copy-mycode-btn'>复制</button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-2">&nbsp; </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // 获取用户投稿列表
        getUserRelevantList('/user/getUserContents', 'myContents', 1, {
            userId: $('#userId').val()
        });
        if (myContentsVm) {
            myContentsVm.getUserInfo("{{userInfo._id}}");
            var siteDomain = "{{siteInfo.configs.siteDomain}}";
            myContentsVm.invitationQr = "/api/v0/content/qrImg?detailLink=" + encodeURIComponent(siteDomain +
                '/invitation.html?uid=' + $('#userId').val());

            //复制分享码
            var cpCodeBtn = new Clipboard('#copyCode-btn');
            cpCodeBtn.on('success', function (e) {
                layer.msg("复制成功", {
                    icon: 1,
                    shade: [0.001, '#000']
                });
                e.clearSelection();
            });
            cpCodeBtn.on('error', function (e) {
                alert(cpInfo);
            });
        }
    })
</script>
{% endblock %}