{% extends "../public/defaultTemp.html" %} {% block content %}
<script src="/themes/{{staticforder}}/js/avalon-ms-pager.js?version={{siteInfo.version}}" type="text/javascript"></script>
<div class="container">
    <div class="row" style="margin-top:62px">
        <div class="col-md-12 topCont">
            <dl class="lTabBox">
                <dd class=" autoHeight">
                    <div class="tab-topic">
                        <div class="topic-box">
                            <div class="topic-box-main">
                                <div class="lBox">
                                    <h2>
                                        {{ specialInfo.name }}
                                    </h2>
                                    <div class="subTitle">{{ specialInfo.comments }}</div>
                                    <div class="desc">
                                        {{specialInfo.creator.userName}}<Br>
                                        <span>{{specialInfo.watch_num}} {{lk.label_content_person_watch}}</span>
                                    </div>
                                    {% if specialInfo.had_watched %}
                                    <a href="javascript:void(0)" class="followTopic"> {{lk.label_content_person_watch}}</a>
                                    {% else %} <a href="javascript:watchSpecial('{{item._id}}')" class="followTopic">{{lk.user_action_tips_add_special}}</a>
                                    {% endif %}
                                </div>
                                <div class="rBox hidden-sm hidden-xs">
                                    <img src="{{ specialInfo.sImg }}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-md-12 dslCol" style="margin-bottom: 20px;">
            <dl class="lTabBox" ms-controller="mySpecialList">
                <dd class="tabMyWrite">
                    <div class="tab-recommend">
                        <div class="tabCard" ms-visible="@specialList.length>0" ms-for="(index,item) in @specialList">
                            <div class="tabCardMain">
                                <div class="lBox">
                                    <img ms-attr="{src: @item.sImg,alt:@item.title }">
                                </div>
                                <div class="rBox">
                                    <h3><a ms-attr="{href:'/details/'+ @item._id + '.html'}" target="_blank" ms-text="@item.title | cutwords(22)"></a></h3>
                                    <a ms-attr="{href:'/details/'+ @item._id + '.html'}" target="_blank" class="desc"
                                        ms-text="@item.discription | cutwords(500)"></a>
                                    <span class="contentState" ms-visible="@item.state == '0'" style="font-weight:normal;"><a
                                            target="_blank" ms-attr="{href:'/users/editContent/'+ @item._id}">{{lk.label_content_edit_draft}}</a></span>
                                    <span class="contentState" style="color:orange;" ms-visible="@item.state == '1'">{{lk.bill_label_approval_state_wait}}</span>
                                    <span class="contentState" style="color:green;" ms-visible="@item.state == '2'">{{lk.bill_label_approval_state_publish}}</span>
                                    <div>
                                        <span class="titFrBox" ms-text="@item.uAuthor.userName"> <span class="time"
                                                ms-text="@item.updateDate"></span></span>
                                        <div class="tabCarActions" ms-controller="rcStatic">
                                            <span><i ms-on-click="@askLike($event,'0',@item._id)" class="fa fa-cny"
                                                    aria-hidden="true"></i>
                                                <span ms-text="@item.total_reward_num"></span></span>
                                            <span><i ms-on-click="@askLike($event,'1',@item._id)" class="fa fa-thumbs-o-up"
                                                    aria-hidden="true"></i>
                                                <span ms-text="@item.likeNum"></span></span>
                                            <span><i ms-on-click="@askLike($event,'2',@item._id)" class="fa fa-thumbs-o-down"
                                                    aria-hidden="true"></i>
                                                <span ms-text="@item.despiseNum"></span></span>
                                            <span><i ms-on-click="@askLike($event,'3',@item._id)" class="fa fa-commenting-o"
                                                    aria-hidden="true"></i>
                                                <span ms-text="@item.commentNum"></span></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="text-center no-data" ms-visible="@specialList.length==0">{{lk.label_no_data}}</div>
                    </div>
                    <div class="text-center"><wbr ms-widget="{is:'ms-pager', onPageClick: @specialPageClick, totalPages:@specialTotalPage}" /></div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 获取用户投稿列表
        getUserRelevantList('/user/getUserContents', 'myTopicContents', 1, {
            userId: $('#userId').val(),
            type: '2'
        });
    })
</script>
{% endblock %}