<!--投稿-->
{% extends "../public/defaultTemp.html" %} {% block content %}
<link href="/plugins/webuploader/webuploader.css" rel="stylesheet">
<script src="/plugins/webuploader/webuploader.min.js"></script>
<div class="container write addContent">
    <div class="row">
        <div class="col-md-12 main-container ">
            <div class="row user-contents-post" ms-controller="user-post">
                <div class="pannel-container clearfix">
                    <form name="postForm" ms-validate="@validate" id="postContentForm">
                        <div class="">
                            <div class="main-form">
                                <div class="form-group thumbImg">
                                    <div class="uploader-container">
                                        <!--用来存放item-->
                                        <div id="fileList" class="uploader-list"></div>
                                        <div id="filePicker">
                                            <i class="fa fa-camera cameraIco" aria-hidden="true"></i>
                                        </div>
                                        <i class="fa fa-trash-o trashIco" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group tag-list">
                                    {% if pageType == 'normal' %}
                                    <label for="">{{lk.lc_content_tag}}</label>
                                    <select id="selectTags" class="form-control" onchange="selectTagOnChange(this)">
                                        <option value="0" selected>{{lk.lc_select_documentTag}}</option>
                                        {% if tagList.docs.length > 0 %} {% for item in tagList.docs %}
                                        <option value="{{item._id}}">{{item.name}}</option>
                                        {% endfor %} {% endif %}
                                    </select>
                                    {% elif pageType == 'special' %}
                                    <label for="">{{lk.label_content_special}}</label>
                                    <select class="form-control" onchange="selectCateOnChange(this)">
                                        <option value="0" selected>{{lk.lc_select_documentTag}}</option>
                                        {% if specials.docs.length > 0 %} {% for item in specials.docs %}
                                        <option value="{{item._id}}">{{item.name}}</option>
                                        {% endfor %} {% endif %}
                                    </select>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="">{{lk.lc_documentTitle}}</label>
                                    <input type="text" class="form-control" name="title" ms-duplex="@title"
                                        placeholder="{{lk.lc_please_documentTitle}}" ms-rules="{required:true}"
                                        data-required-message="{{lk.lc_please_documentTitle_null_tips}}"
                                        data-message="{{lk.validate_ranglengthandnormal | ranglengthandnormal(5,50,lk.lc_please_documentTitle)}}">
                                </div>
                                <div class="form-group">
                                    <label for="">{{lk.lc_documentDis}}</label>
                                    <input type="text" class="form-control" name="discription" ms-duplex="@discription"
                                        placeholder="{{lk.lc_pleace_documentDis}}" ms-rules="{required:true}"
                                        data-required-message="{{lk.lc_pleace_documentDis_null_tips}}"
                                        data-message="{{lk.validate_ranglengthandnormal | ranglengthandnormal(5,300,lk.lc_documentDis)}}">
                                </div>
                                {% if pageType == 'normal' %}
                                <div class="form-group">
                                    <label for="">{{lk.label_sysconfig_site_keyWords}}</label>
                                    <input type="text" class="form-control" name="keywords" ms-duplex="@keywords"
                                        placeholder="{{lk.validate_masterClass_class_keywords}}"
                                        data-required-message="{{lk.lc_please_write_key}}"
                                        data-message="{{lk.validate_ranglengthandnormal | ranglengthandnormal(2,50,lk.label_sysconfig_site_keyWords)}}">
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="">{{lk.lc_contentDetails}}</label>
                                    <!-- 加载编辑器的容器 -->
                                    <script id="container" name="content" type="text/plain"></script>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="saveContent"
                            class="btn btn-primary sub-content">{{lk.lc_commitUserConent}}</button>
                        <a href="javascript:void(0)" ms-on-click="saveDraft" class="btn btn-default sub-content"
                            style="margin-left:20px;">{{lk.label_class_save_draft}}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<script>
    var postArticelVM = {};
    $(function () {
        var contentType = "{{pageType}}";
        // 初始化Web Uploader
        var $list = $('#fileList')
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: '/plugins/webuploader/Uploader.swf',
            // 文件接收服务端。
            server: '/api/v0/upload/files?type=images',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: {
                id: '#filePicker',
                multiple: false
            },
            fileNumLimit: 1,
            fileSizeLimit: 5 * 1024 * 1024, // 5 M
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            var $li = $(
                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '</div>'
                ),
                $img = $li.find('img');

            // $list为容器jQuery实例
            $list.append($li);
            // 创建缩略图
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                $img.attr('src', src);
            }, 0.99, 192);
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });
        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            $('#' + file.id).addClass('upload-state-done');
            if (response._raw && JSON.parse(response._raw).data && JSON.parse(response._raw).data
                .path) {
                var currentRes = JSON.parse(response._raw).data.path;
                postArticelVM.sImg = currentRes;
                $('.uploader-list').css({
                    zIndex: 1
                });
                $('.trashIco').show();
                $('#' + file.id).find('img').attr('src', currentRes)
            } else {
                layer.msg('{{lk.lc_upload_upload_failed}}', {
                    icon: 2,
                    shade: [0.001, '#000'],
                    zIndex: 999999999
                });
            }
        });
        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            layer.msg('{{lk.lc_upload_upload_failed}}', {
                icon: 2,
                shade: [0.001, '#000'],
                zIndex: 999999999
            });
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });

        uploader.on("error", function (type) {
            if (type == "Q_TYPE_DENIED") {
                layer.msg("请上传JPG、PNG、GIF、BMP格式文件", {
                    icon: 2,
                    shade: [0.001, '#000'],
                    zIndex: 999999999
                });
            } else if (type == "Q_EXCEED_SIZE_LIMIT") {
                layer.msg("文件大小不能超过5M", {
                    icon: 2,
                    shade: [0.001, '#000'],
                    zIndex: 999999999
                });
            } else {
                layer.msg("上传出错！请检查后重新上传！错误代码" + type, {
                    icon: 2,
                    shade: [0.001, '#000'],
                    zIndex: 999999999
                });
            }
        });

        $('.trashIco').click(function () {
            var fileItem = $('.uploader-list').find('.file-item ')
            var fileId = $(fileItem[0]).attr("id");
            var isEdit = "{{contentId}}";
            $('.uploader-list').removeAttr('style');
            if (!isEdit) {
                uploader.removeFile(fileId, true);
            }
            $(this).hide();
            $(fileItem[0]).fadeOut(function () {
                $(fileItem[0]).remove();
            });
        })

        postArticelVM = avalon.define({
            $id: 'user-post',
            title: '',
            _id: '',
            discription: '',
            comments: '',
            message: '',
            contentObj: UE.getEditor('container', {
                initialFrameHeight: 400,
                toolbars: [
                    ['source', 'undo', 'redo', 'bold', 'simpleupload', 'insertvideo',
                        'justifyleft',
                        'justifyright', 'justifycenter', 'justifyjustify', 'forecolor',
                        'backcolor',
                        'fullscreen'
                    ]
                ]
            }),
            sImg: "",
            keywords: "",
            tags: [],
            categories: [],
            showErr: false,
            draft: '0',
            edit: false,
            saveDraft: function () {
                postArticelVM.draft = '1';
                $('#saveContent').click();
            },
            validate: {
                onError: function (reasons) {
                    reasons.forEach(function (reason) {
                        console.log(reason.getMessage())
                    })
                },
                onValidateAll: function (reasons) {
                    if (reasons.length > 0) {
                        layer.msg(reasons[0].message, {
                            icon: 2
                        });
                        return false;
                    } else {
                        if (!postArticelVM.sImg) {
                            layer.msg("{{lk.validate_userContent_sImg}}", {
                                icon: 2
                            });
                            return false;
                        }
                        if (contentType == 'normal') {
                            if (postArticelVM.tags.length == 0) {
                                layer.msg("{{lk.validate_userContent_tags}}", {
                                    icon: 2
                                });
                                return false;
                            }
                            if (!postArticelVM.keywords || (postArticelVM.keywords).indexOf('，') >=
                                0) {
                                layer.msg("{{lk.validate_masterClass_class_keywords}}", {
                                    icon: 2
                                });
                                return false;
                            }
                        } else if (contentType == 'special') {
                            if (postArticelVM.categories.length == 0) {
                                layer.msg("{{lk.validate_userContent_tags}}", {
                                    icon: 2
                                });
                            }
                        }

                        var params = {
                            title: postArticelVM.title,
                            sImg: postArticelVM.sImg,
                            discription: postArticelVM.discription,
                            type: (contentType == 'normal') ? '1' : '2',
                            draft: postArticelVM.draft,
                            tags: postArticelVM.tags,
                            categories: postArticelVM.categories,
                            keywords: postArticelVM.keywords,
                            comments: postArticelVM.contentObj.getContent(),
                            simpleComments: postArticelVM.contentObj.getPlainTxt()
                        }
                        if (postArticelVM._id) {
                            params._id = postArticelVM._id;
                        }
                        var askUrl = postArticelVM.edit == '1' ? '/api/v0/content/updateOne' :
                            '/api/v0/content/addOne';
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8', // 很重要
                            traditional: true,
                            data: JSON.stringify(params),
                            url: askUrl,
                            success: function (data) {
                                if (data.status == 200) {
                                    layer.msg("{{lk.sys_layer_option_success}}", {
                                        icon: 1,
                                        anim: 1
                                    }, function () {
                                        window.location.href =
                                            "/users/userCenter"
                                    });
                                } else {
                                    layer.msg(data.message, {
                                        icon: 2
                                    });
                                }
                            },
                            error: function (d) {
                                console.log('error:', d)
                            }
                        })
                    }
                }
            }
        })


        var getContentId = "{{contentId}}";
        if (getContentId) {
            getAjaxData('/api/v0/content/getMyContent?id=' + getContentId, function (result) {
                if (result.status == 200 && result.data) {
                    var contentInfo = result.data;
                    postArticelVM._id = contentInfo._id;
                    postArticelVM.edit = true;
                    postArticelVM.title = contentInfo.title;
                    postArticelVM.sImg = contentInfo.sImg;
                    if (postArticelVM.sImg) {
                        var $li = $(
                                '<div id="' + contentInfo._id + '" class="file-item thumbnail">' +
                                '<img src="' + postArticelVM.sImg + '">' +
                                '</div>'
                            ),
                            $img = $li.find('img');
                        $list.append($li);
                        $('.uploader-list').css({
                            zIndex: 1
                        });
                        $('.trashIco').show();
                    }
                    postArticelVM.discription = contentInfo.discription;
                    if (contentInfo.keywords) {
                        postArticelVM.keywords = (contentInfo.keywords).join();
                    }
                    if (contentInfo.comments) {
                        setTimeout(function () {
                            (postArticelVM.contentObj).setContent(contentInfo.comments);
                        }, 1500)
                    }
                    if (contentInfo.tags) {
                        var defaultTag = (contentInfo.tags)[0]._id;
                        $('#selectTags').val(defaultTag);
                        postArticelVM.tags = defaultTag;
                    }
                }
            })
        }
    })

    function selectTagOnChange(obj) {
        postArticelVM.tags = obj.value;
    }

    function selectCateOnChange(obj) {
        postArticelVM.categories = obj.value;
    }
</script> {% endblock %}