<!--密码重置-->
{% extends "../public/defaultTemp.html" %} {% block content %}
<div class="container">
    <div class="col-md-12">
        {% include "../public/forgotPsdByEmail.html" %}
    </div>
</div>
{% endblock %}