<!--投稿-->
{% extends "../public/defaultTemp.html" %} {% block content %}
<link href="/plugins/webuploader/webuploader.css" rel="stylesheet">
<script src="/plugins/webuploader/webuploader.min.js"></script>
<div class="container newBuiltCourse" ms-controller="postCourseInfo">
    <div class="row" style="background: #fff;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            {% if editClassInfo %}
            {% set titleStr = lk.lc_edit %}
            {% else %}
            {% set titleStr = lk.lc_add %}
            {% endif %}
            <h3><span>{{titleStr}}{{lk.classContent_label_class}}</span> </h3>

            <form name="postMsgForm" ms-validate="@validate">

                <div class="form-group thumbImg">
                    <div class="uploader-container" style="width:200px;">
                        <!--用来存放item-->
                        <div id="fileList" class="uploader-list"></div>
                        <div id="filePicker">
                            <i class="fa fa-camera cameraIco" aria-hidden="true"></i>
                        </div>
                        <i class="fa fa-trash-o trashIco" aria-hidden="true"></i>
                    </div>
                </div>
                <h4>{{lk.label_class_title}}</h4>
                <input type="text" name="" ms-duplex="@name" class="form-control"
                    placeholder="{{lk.validate_masterClass_class_name}}">
                <h4>{{lk.label_class_cate}}</h4>
                <select id="selectClassType" class="form-control" onchange="selectClassTypeOnChange(this)">
                    <option value="1">{{lk.lc_video}}</option>
                    <option value="2">{{lk.lc_audio}}</option>
                    <option selected value="0">{{lk.lc_synthesize}}</option>
                </select>
                <h4>{{lk.label_class_price}}</h4>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="">{{lk.lc_vip}}</label>
                            <input type="text" ms-duplex="@vipPrice" ms-rules="{required:true,number:true,min:0 }"
                                class="form-control" placeholder="{{lk.validate_masterClass_class_price}}">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="">{{lk.lc_not_vip}}</label>
                            <input type="text" ms-duplex="@price" ms-rules="{required:true,number:true,min:0 }"
                                class="form-control" placeholder="{{lk.validate_masterClass_class_price}}">
                        </div>
                    </div>
                </div>
                <h4>{{lk.label_class_buyTips}}</h4>
                <textarea class="form-control" ms-duplex="@buyTips" rows="3"
                    placeholder="{{lk.validate_masterClass_class_tips}}"></textarea>
                <h4>{{lk.label_class_comments}}</h4>
                <textarea class="form-control" ms-duplex="@comments" rows="3"
                    placeholder="{{lk.validate_masterClass_class_comments}}"></textarea>
                <!-- <button type="submit" class="btn btn-primary btn-lg btn-block courseBtn">{{titleStr}}课程</button> -->
                <button ms-visible="@state!='2'" id="saveClass" class="btn btn-primary courseBtn"
                    type="submit">{{lk.label_class_submit_audit}}</button>
                <a ms-visible="@state!='2'" href="javascript:void(0)" ms-on-click="saveDraft"
                    class="btn btn-default sub-content" style="margin-left:20px;">{{lk.label_class_save_draft}}</a>
                <a ms-visible="@state=='2'" href="javascript:void(0)" ms-on-click="delClass" class="btn btn-danger"
                    style="margin-top:20px;margin-bottom:20px;">{{lk.lc_del}}</a>
            </form>
        </div>
    </div>

</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<script>
    function selectClassTypeOnChange(obj) {
        postCourseInfoVM.classType = obj.value;
    }

    function selectPriceTypeOnChange(obj) {
        postCourseInfoVM.priceType = obj.value;
    }
    $(function () {

        // 初始化Web Uploader
        var $list = $('#fileList')
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: '/plugins/webuploader/Uploader.swf',
            // 文件接收服务端。
            server: '/api/v0/upload/files?type=images',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: {
                id: '#filePicker',
                multiple: false
            },
            fileNumLimit: 1,
            fileSizeLimit: 5 * 1024 * 1024, // 5 M
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            var $li = $(
                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +

                    '</div>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list.append($li);
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                $img.attr('src', src);
            }, 100, 180);
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            $('#' + file.id).addClass('upload-state-done');
            if (response._raw) {
                var currentRes = JSON.parse(response._raw).data.path;
                postCourseInfoVM.sImg = currentRes;
                $('.uploader-list').css({
                    zIndex: 1
                });
                $('.trashIco').show();
                $('#' + file.id).find('img').attr('src', currentRes)
            }
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            layer.msg("{{lk.lc_upload_upload_failed}}", {
                icon: 2,
                shade: [0.001, '#000'],
                zIndex: 999999999
            });
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });

        uploader.on("error", function (type) {
            if (type == "Q_TYPE_DENIED") {
                layer.msg("请上传JPG、PNG、GIF、BMP格式文件", {
                    icon: 2,
                    shade: [0.001, '#000'],
                    zIndex: 999999999
                });
            } else if (type == "Q_EXCEED_SIZE_LIMIT") {
                layer.msg("文件大小不能超过5M", {
                    icon: 2,
                    shade: [0.001, '#000'],
                    zIndex: 999999999
                });
            } else {
                layer.msg("上传出错！请检查后重新上传！错误代码" + type, {
                    icon: 2,
                    shade: [0.001, '#000'],
                    zIndex: 999999999
                });
            }
        });

        $('.trashIco').click(function () {
            var fileItem = $('.uploader-list').find('.file-item ')
            var fileId = $(fileItem[0]).attr("id");
            uploader.removeFile(fileId, true);
            $('.uploader-list').removeAttr('style');
            $(this).hide();
            $(fileItem[0]).fadeOut(function () {
                $(fileItem[0]).remove();
            });
        })

        // 课程内容编辑
        var editClassId = "{{editClassInfo._id}}";
        var editClassName = "{{editClassInfo.name}}";
        var editClassImg = "{{editClassInfo.sImg}}";
        var editClassType = "{{editClassInfo.type}}";
        var editClassPriceType = "{{editClassInfo.priceType}}";
        var editClassPrice = "{{editClassInfo.price}}";
        var editClassVipPrice = "{{editClassInfo.vipPrice}}";
        var editClassBuyTips = "{{editClassInfo.buyTips}}";
        var editClassComments = "{{editClassInfo.comments}}";
        if (editClassId) {
            $('#selectClassType').val(editClassType);
            postCourseInfoVM.editClassId = editClassId;
            postCourseInfoVM.edit = true;
            postCourseInfoVM.classType = editClassType;
            postCourseInfoVM.name = editClassName;
            postCourseInfoVM.priceType = editClassPriceType;
            postCourseInfoVM.price = editClassPrice || 0;
            postCourseInfoVM.vipPrice = editClassVipPrice || 0;
            postCourseInfoVM.buyTips = editClassBuyTips;
            postCourseInfoVM.comments = editClassComments;
            if (editClassImg) {
                postCourseInfoVM.sImg = editClassImg;
                var $li = $(
                        '<div id="' + editClassId + '" class="file-item thumbnail">' +
                        '<img src="' + postCourseInfoVM.sImg + '">' +
                        '</div>'
                    ),
                    $img = $li.find('img');
                $list.append($li);
                $('.uploader-list').css({
                    zIndex: 1
                });
                $('.trashIco').show();
            }
        }
    })
</script> {% endblock %}