<!--信息提示-->
<link href="/plugins/bootstrap/css1/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2 min-hight" style="margin-top: 50px;">
            {% include "../public/notice.html" %}
        </div>
    </div>
</div>