<!--投稿-->
{% extends "../public/defaultTemp.html" %} {% block content %}
<script src="/plugins/aliyunUpload/aliyun-upload-sdk-1.5.0.min.js"></script>
<script src="/plugins/aliyunUpload/lib/es6-promise.min.js"></script>
<script src="/plugins/aliyunUpload/lib/aliyun-oss-sdk-5.3.1.min.js"></script>
<div class="container newBuiltCourse" ms-controller="post-masterCourse">
    <div class="row" style="background: #fff;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <h3>
                {% if editClassId %}
                <span>{{lk.label_class_edit}}</span>
                {% else %}
                <span>{{lk.label_class_add}}</span>
                {% endif %}
                <a href="/users/addCourseInfo.html" class="newBuiltBtn"><i class="fa fa-plus" aria-hidden="true"></i>新建</a>
            </h3>
            <h4>{{lk.label_class_title}}</h4>
            <form ms-validate="@validate">

                <select class="form-control" id="selectClassTitle" onchange="selectClassOnChange(this)">
                    <option value="0" selected>{{lk.label_class_select}}</option>
                    {% if myClassList.docs.length > 0 %} {% for item in myClassList.docs %}
                    <option value="{{item._id}}" data-type="{{item.type}}" data-price-type="{{item.priceType}}">{{item.name}}</option>
                    {% endfor %} {% endif %}
                </select>

                <h4>{{lk.label_class_from_catalog}}</h4>
                <select class="form-control" onchange="selectCatalogOnChange(this)" id="catalogList">
                </select>
                <div class="row addCourseInput">

                    <div class="col-xs-10">
                        <input type="text" ms-duplex="@newCatalog" name="" class="form-control" placeholder="{{lk.validate_masterClass_catalog_name}}">
                    </div>
                    <div class="col-xs-2" style="text-align: left">
                        <div class="row">
                            <a class="btn btn-success" role="button" ms-on-click="@addNewCatalog">{{lk.lc_add}}</a>
                        </div>
                    </div>

                </div>
                <div class="form-group" style="margin:15px 0" ms-visible="@priceType != '0'">
                    <label class="radio-inline">
                        <input type="radio" value="0" ms-duplex="@free" value="option1"> {{lk.lc_pay}}
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="1" ms-duplex="@free" value="option2">
                        {{lk.label_class_free}}
                    </label>
                </div>
                <h4>{{lk.label_class_edit}}</h4>
                <div class="edit" ms-visible="@contentType == '0'">
                    <script id="container" name="content" type="text/plain"></script>
                </div>
                <div class="edit" ms-visible="@contentType == '1' || @contentType == '2'">
                    <div class="setting" style="display:none;">
                        <div class="input-control">
                            <label for="timeout">请求过期时间（配置项 timeout, 默认 60000）:</label>
                            <input type="text" id="timeout" placeholder="输入过期时间, 单位毫秒">
                        </div>

                        <div class="input-control">
                            <label for="partSize">分片大小（配置项 partSize, 默认 1048576）:</label>
                            <input type="text" class="form-control" id="partSize" placeholder="输入分片大小, 单位bit, 最小100k">
                        </div>

                        <div class="input-control">
                            <label for="parallel">上传分片数（配置项 parallel, 默认 5）:</label>
                            <input type="text" class="form-control" id="parallel" placeholder="输入并行上传分片个数, 默认为5">
                        </div>

                        <div class="input-control">
                            <label for="retryCount">网络失败重试次数（配置项 retryCount, 默认 3）:</label>
                            <input type="text" class="form-control" id="retryCount" placeholder="输入网络失败重试次数, 默认为3">
                        </div>

                        <div class="input-control">
                            <label for="retryDuration">网络失败重试间隔（配置项 retryDuration, 默认 2）:</label>
                            <input type="text" class="form-control" id="retryDuration" placeholder="输入网络失败重试间隔, 默认2秒">
                        </div>

                        <div class="input-control">
                            <label for="region">配置项 region, 默认 cn-shanghai:</label>
                            <select id="region">
                                <option>cn-shanghai</option>
                                <option>eu-central-1</option>
                                <option>ap-southeast-1</option>
                            </select>
                        </div>

                        <div class="input-control">
                            <label for="userId">阿里云账号ID:</label>
                            <input type="text" value="5030742681317628" disabled class="form-control" id="aliUserId"
                                placeholder="输入阿里云账号ID">
                            集成产品后需要使用用户自己的账号ID, <a href="https://help.aliyun.com/knowledge_detail/37196.html
                                -"
                                target="_blank">如何获取帐号ID</a>
                        </div>

                    </div>

                    <div class="upload">
                        <div class="uploadCont" style="width:100%">
                            <div id="uploadFile" class="uploadFile" style="width:100%">
                                <i class="fa fa-video-camera cameraIco" aria-hidden="true"></i>
                                <div class="img-container"></div>
                            </div>
                            <i class="fa fa-trash-o trashIco" aria-hidden="true"></i>
                        </div>
                        <!-- <div>
                            <input type="file" id="fileUpload">
                             -->
                        <label class="status">上传状态: <span id="status"></span></label>

                        <div class="upload-type">
                            <button id="authUpload" disabled="true" class="btn btn-default">{{lk.label_class_upload}}</button>
                            <!-- <button id="pauseUpload" disabled="true">暂停</button>
                            <button id="resumeUpload" disabled="true">恢复上传</button> -->

                            <span class="progress" style="margin-left: 20px;padding: 5px;">{{lk.label_class_process}}:
                                <i id="auth-progress">0</i>
                                %</span>

                            <a id="preview" style="display:none;margin-left:20px;" href="javascript:void(0)"
                                ms-on-click="@showVideo">{{lk.label_class_preview}}</a>
                            <span></span>
                        </div>
                    </div>
                </div>

                <button ms-visible="@state!='2'" id="saveClass" class="btn btn-primary courseBtn" type="submit">{{lk.label_class_submit_audit}}</button>
                <a ms-visible="@state!='2'" href="javascript:void(0)" ms-on-click="saveDraft" class="btn btn-default sub-content"
                    style="margin-left:20px;">{{lk.label_class_save_draft}}</a>
                <a ms-visible="@state=='2'" href="javascript:void(0)" ms-on-click="delClass" class="btn btn-danger"
                    style="margin-top:20px;margin-bottom:20px;">{{lk.lc_del}}</a>
            </form>
        </div>
    </div>

</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<script>
    var ueObj;
    $(function () {
        ueObj = UE.getEditor('container', {
            initialFrameHeight: 300,
            toolbars: [
                ['source', 'undo', 'redo', 'bold', 'simpleupload', 'insertvideo', 'justifyleft',
                    'justifyright', 'justifycenter', 'justifyjustify', 'forecolor', 'backcolor',
                    'fullscreen'
                ]
            ]
        })
        if (postMasterCourseVM) {
            setTimeout(function () {
                postMasterCourseVM.contentObj = ueObj;
            }, 1000)
        }

        //上传删除
        $('.trashIco').click(function () {
            $('.img-container img').remove();
            $('.cameraIco').show();
            $('.trashIco').hide();
        })
        //上传调用
        var uploader = null
        $('#uploadFile').FSUploader({
            onUploaded: function (e) {
                //如果需要请求接口在这里处理！
                console.log('upload');
                var file = e.target.files[0]
                if (!file) {
                    alert("{{lk.lc_select_upload_file}}!")
                    return
                }
                var Title = file.name
                var userData = '{"Vod":{}}'
                if (uploader) {
                    uploader.stopUpload()
                    $('#auth-progress').text('0')
                    $('#status').text("")
                }
                uploader = createUploader()
                console.log(uploader)
                uploader.addFile(file, null, null, null, userData)
                $('#authUpload').attr('disabled', false)
                $('#pauseUpload').attr('disabled', true)
                $('#resumeUpload').attr('disabled', true)
            }
        })

        /** 
         * 创建一个上传对象
         * 使用 UploadAuth 上传方式
         */
        function createUploader() {
            var uploader = new AliyunUpload.Vod({
                timeout: $('#timeout').val() || 60000,
                partSize: $('#partSize').val() || 1048576,
                parallel: $('#parallel').val() || 5,
                retryCount: $('#retryCount').val() || 3,
                retryDuration: $('#retryDuration').val() || 2,
                region: $('#region').val(),
                userId: $('#aliUserId').val(),
                // 添加文件成功
                addFileSuccess: function (uploadInfo) {
                    console.log('addFileSuccess')
                    $('#authUpload').attr('disabled', false)
                    $('#resumeUpload').attr('disabled', false)
                    $('#status').text("{{lk.lc_upload_addfile_tips}}")
                    console.log("addFileSuccess: " + uploadInfo.file.name)
                },
                // 开始上传
                onUploadstarted: function (uploadInfo) {
                    if (!uploadInfo.videoId) {
                        var createUrl = '/api/v0/upload/getUploadAuth';
                        $.get(createUrl, function (data) {
                            var uploadAuth = data.UploadAuth
                            var uploadAddress = data.UploadAddress
                            var videoId = data.VideoId
                            postMasterCourseVM.videoId = videoId;
                            uploader.setUploadAuthAndAddress(uploadInfo, uploadAuth,
                                uploadAddress, videoId)
                        }, 'json')
                        $('#status').text("{{lk.lc_upload_begin_upload}}")
                        console.log("onUploadStarted:" + uploadInfo.file.name + ", endpoint:" +
                            uploadInfo.endpoint + ", bucket:" + uploadInfo.bucket + ", object:" +
                            uploadInfo.object)
                    } else {
                        // 如果videoId有值，根据videoId刷新上传凭证
                        var refreshUrl =
                            '/api/v0/upload/reFreshUploadAuth?videoId=' +
                            uploadInfo.videoId
                        $.get(refreshUrl, function (data) {
                            var uploadAuth = data.UploadAuth
                            var uploadAddress = data.UploadAddress
                            var videoId = data.VideoId
                            uploader.setUploadAuthAndAddress(uploadInfo, uploadAuth,
                                uploadAddress, videoId)
                        }, 'json')
                    }
                },
                // 文件上传成功
                onUploadSucceed: function (uploadInfo) {
                    console.log("onUploadSucceed: " + uploadInfo.file.name + ", endpoint:" +
                        uploadInfo.endpoint + ", bucket:" + uploadInfo.bucket + ", object:" +
                        uploadInfo.object)
                    $('#status').text("{{lk.lc_upload_upload_success}}");
                    initUploadSuccBtn(
                        "https://masterchain.oss-cn-hongkong.aliyuncs.com/upload/images/img1546767808590.jpeg"
                    );
                },
                // 文件上传失败
                onUploadFailed: function (uploadInfo, code, message) {
                    console.log("onUploadFailed: file:" + uploadInfo.file.name + ",code:" + code +
                        ", message:" + message)
                    $('#status').text("{{lk.lc_upload_upload_failed}}")
                },
                // 取消文件上传
                onUploadCanceled: function (uploadInfo, code, message) {
                    console.log("Canceled file: " + uploadInfo.file.name + ", code: " + code +
                        ", message:" + message)
                    $('#status').text("{{lk.lc_upload_upload_pause}}")
                },
                // 文件上传进度，单位：字节, 可以在这个函数中拿到上传进度并显示在页面上
                onUploadProgress: function (uploadInfo, totalSize, progress) {
                    console.log("onUploadProgress:file:" + uploadInfo.file.name + ", fileSize:" +
                        totalSize + ", percent:" + Math.ceil(progress * 100) + "%")
                    var progressPercent = Math.ceil(progress * 100)
                    $('#auth-progress').text(progressPercent)
                    $('#status').text("{{lk.lk.lc_upload_begin_uploading}}")
                },
                // 上传凭证超时
                onUploadTokenExpired: function (uploadInfo) {
                    // 上传大文件超时, 如果是上传方式一即根据 UploadAuth 上传时
                    // 需要根据 uploadInfo.videoId 调用刷新视频上传凭证接口(https://help.aliyun.com/document_detail/55408.html)重新获取 UploadAuth
                    // 然后调用 resumeUploadWithAuth 方法, 这里是测试接口, 所以我直接获取了 UploadAuth
                    $('#status').text("{{lk.lc_upload_upload_timeout}}")

                    var refreshUrl =
                        '/api/v0/upload/reFreshUploadAuth?videoId=' +
                        uploadInfo.videoId
                    $.get(refreshUrl, function (data) {
                        var uploadAuth = data.UploadAuth
                        uploader.resumeUploadWithAuth(uploadAuth)
                        console.log('upload expired and resume upload with uploadauth ' +
                            uploadAuth)
                    }, 'json')
                },
                // 全部文件上传结束
                onUploadEnd: function (uploadInfo) {
                    $('#status').text('{{lk.lc_upload_upload_end}}')
                    console.log("onUploadEnd: uploaded all the files")
                }
            })
            return uploader
        }

        // 第一种方式 UploadAuth 上传 
        $('#authUpload').on('click', function () {
            // 然后调用 startUpload 方法, 开始上传
            if (uploader !== null) {
                uploader.startUpload()
                $('#authUpload').attr('disabled', true)
                $('#pauseUpload').attr('disabled', false)
            }
        })

        // 暂停上传
        $('#pauseUpload').on('click', function () {
            if (uploader !== null) {
                uploader.stopUpload()
                $('#resumeUpload').attr('disabled', false)
                $('#pauseUpload').attr('disabled', true)
            }
        })

        $('#resumeUpload').on('click', function () {
            if (uploader !== null) {
                uploader.startUpload()
                $('#resumeUpload').attr('disabled', true)
                $('#pauseUpload').attr('disabled', false)
            }
        })

    })


    function initUploadSuccBtn(imgUrl) {
        $('#preview').show();
        $('.uploadCont').find('.img-container').html(
            '<img src="' + imgUrl + '" style="width: 100%">'
        )
        $('.cameraIco').hide();
        $('.trashIco').show();
    }

    function selectClassOnChange(obj) {
        var priceType = $(obj).find("option:selected").attr('data-price-type');
        var contentType = $(obj).find("option:selected").attr('data-type');
        postMasterCourseVM.changeCatalog(obj.value);
        if (priceType == '0') {
            postMasterCourseVM.free = '1';
        }
        postMasterCourseVM.priceType = priceType;
        postMasterCourseVM.contentType = contentType;
    }

    function selectCatalogOnChange(obj) {
        postMasterCourseVM.catalogSelected = obj.value;
        if (obj.value == '0' || obj.value == '4') {
            $('.addCourseInput').show()
        } else {
            $('.addCourseInput').hide()
            getAjaxData('/api/v0/masterClass/getClass?id=' + obj.value, function (data) {
                var targetContent = data.data;
                postMasterCourseVM.state = targetContent.state;
                postMasterCourseVM.contentId = targetContent._id;
                if (targetContent.basicInfo.type != '0') {
                    if (targetContent.videoArr.length > 0) {
                        postMasterCourseVM.videoId = targetContent.videoArr[0];
                        $('#preview').show();
                        $('.uploadCont').find('.img-container').html(
                            '<img src="https://masterchain.oss-cn-hongkong.aliyuncs.com/upload/images/img1546767808590.jpeg" style="width: 100%">'
                        )
                        $('.cameraIco').hide();
                        $('.trashIco').show();
                    }
                } else {
                    ueObj.setContent(targetContent.comments);
                    postMasterCourseVM.free = targetContent.free ? '1' : '0';
                }
            })
        }

    }
</script> {% endblock %}