<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="name" :label="$t('community.name')" width="120"></el-table-column>
      <el-table-column prop="tags" :label="$t('community.tags')" show-overflow-tooltip width="120">
        <template slot-scope="scope">
          <div v-for="tag in scope.row.tags" :key="tag._id">
            <span>{{tag.name}}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="open" label="公开" show-overflow-tooltip width="120">
        <template slot-scope="scope">
          <span v-if="scope.row.open == '1'">是</span>
          <span v-else-if="scope.row.open == '0'">否</span>
        </template>
      </el-table-column>
      <el-table-column prop="state" :label="$t('community.state')" show-overflow-tooltip>
        <template slot-scope="scope">
          <i
            :class="scope.row.state=='1' ? 'fa fa-check-circle' : 'fa fa-minus-circle'"
            :style="scope.row.state=='1' ? green : red"
          ></i>
        </template>
      </el-table-column>
      <el-table-column prop="comments" :label="$t('community.comments')"></el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            plain
            round
            @click="editCommunity(scope.$index, dataList)"
          >
            <i class="fa fa-edit"></i>
          </el-button>
          <el-button
            size="mini"
            type="danger"
            plain
            round
            icon="el-icon-delete"
            @click="deleteCommunity(scope.$index, dataList)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      green: { color: "#13CE66" },
      red: { color: "#FF4949" },
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editCommunity(index, rows) {
      let rowData = rows[index];
      rowData = JSON.parse(JSON.stringify(rowData));
      let tagsArr = [];

      !_.isEmpty(rowData.tags) &&
        rowData.tags.map((item, index) => {
          item && tagsArr.push(item._id);
        });

      rowData.tags = tagsArr;
      this.$store.dispatch("showCommunityForm", {
        edit: true,
        formData: rowData
      });
    },
    deleteCommunity(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteCommunity({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getCommunityList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>