<template>
    <div class="adminUser">
        <CommunityForm :dialogState="formState" :communityTagList="communityTagList"></CommunityForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="community" :pageInfo="communityList.pageInfo"></TopBar>
                <DataTable :pageInfo="communityList.pageInfo" :dataList="communityList.docs"></DataTable>
                <Pagination :pageInfo="communityList.pageInfo" pageType="community"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
import CommunityForm from "./form";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    CommunityForm,
    Pagination
  },
  methods: mapActions([]),
  computed: {
    ...mapGetters(["communityList", "communityTagList"]),
    formState() {
      return this.$store.getters.communityFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getCommunityList");
    this.$store.dispatch("getCommunityTagList");
  }
};
</script>

<style lang="">
</style>