<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="user" :label="$t('creativeRight.user')">
        <template slot-scope="scope">{{scope.row.user.userName}}</template>
      </el-table-column>

      <el-table-column prop="state" :label="$t('creativeRight.state')">
        <template slot-scope="scope">
          <span v-if="scope.row.state == '0'">待审核</span>
          <span v-if="scope.row.state == '1'">审核通过</span>
          <span v-if="scope.row.state == '2'">审核不通过</span>
        </template>
      </el-table-column>
      <el-table-column prop="comments" :label="$t('creativeRight.comments')"></el-table-column>
      <el-table-column prop="approver" :label="$t('creativeRight.approver')">
        <template slot-scope="scope">{{scope.row.approver?scope.row.approver.userName:''}}</template>
      </el-table-column>
      <el-table-column prop="date" :label="$t('creativeRight.date')"></el-table-column>
      <el-table-column prop="updatetime" :label="$t('creativeRight.updatetime')"></el-table-column>

      <el-table-column :label="$t('main.dataTableOptions')" width="150">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            :disabled="scope.row.state == '1'"
            plain
            round
            @click="editCreativeRight(scope.$index, dataList)"
          >
            <i class="fa fa-edit"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editCreativeRight(index, rows) {
      let rowData = rows[index];
      this.$store.dispatch("showCreativeRightForm", {
        edit: true,
        formData: rowData
      });
    }
  }
};
</script>