<template>
  <div class="adminUser">
    <CreativeRightForm :dialogState="formState"></CreativeRightForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="creativeRight" :pageInfo="creativeRightList.pageInfo"></TopBar>
        <DataTable :pageInfo="creativeRightList.pageInfo" :dataList="creativeRightList.docs"></DataTable>
        <Pagination :pageInfo="creativeRightList.pageInfo" pageType="creativeRight"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import CreativeRightForm from "./creativeRightForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    CreativeRightForm,
    Pagination
  },
  methods: mapActions([]),
  computed: {
    ...mapGetters(["creativeRightList"]),
    formState() {
      return this.$store.getters.creativeRightFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getCreativeRightList");
  }
};
</script>

<style lang="">
</style>