<template>
  <div class="dr-BillRecordForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      size="small"
      title="流水详情"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item
          :label="$t('billRecord.user')"
          prop="user"
        >{{dialogState.formData.user.userName}}
        </el-form-item>
        <el-form-item :label="$t('billRecord.type')" prop="type">{{dialogState.formData.type}}</el-form-item>
        <el-form-item :label="$t('billRecord.action')" prop="action">
          <ul>
            <li v-if="dialogState.formData.type == 'user_action_type_browse'">
              帖子浏览：
              <a
                :href="'/details/'+dialogState.formData.target_content._id+'.html'"
                target="_blank"
              >{{dialogState.formData.target_content.title}}</a>
            </li>
            <li v-else-if="dialogState.formData.type == 'user_action_type_give_thumbs_up'">
              帖子点赞：
              <a
                :href="'/details/'+dialogState.formData.target_content._id+'.html'"
                target="_blank"
              >{{dialogState.formData.target_content.title}}</a>
            </li>
            <li
              v-else-if="dialogState.formData.type == 'user_action_type_comment'"
            >帖子评论：{{dialogState.formData.target_message.content}}</li>
            <li v-else-if="dialogState.formData.type == 'user_action_type_appreciate'">
              帖子打赏：
              <a
                :href="'/details/'+dialogState.formData.target_content._id+'.html'"
                target="_blank"
              >{{dialogState.formData.target_content.title}}</a>
            </li>
            <li v-else-if="dialogState.formData.type == 'user_action_type_collection'">
              帖子收藏：
              <a
                :href="'/details/'+dialogState.formData.target_content._id+'.html'"
                target="_blank"
              >{{dialogState.formData.target_content.title}}</a>
            </li>
            <li
              v-else-if="dialogState.formData.type == 'user_action_type_community_building'"
            >发布社群帖：{{dialogState.formData.target_communityContent.comments}}</li>
            <li v-else-if="dialogState.formData.type == 'user_action_type_invitation'">邀请加入</li>
            <li v-else-if="dialogState.formData.type == 'user_action_type_report'">举报奖励</li>
            <li v-else-if="dialogState.formData.type == 'user_bill_type_transfer_coins'">提币</li>
            <li v-else-if="dialogState.formData.type == 'user_bill_type_recharge'">充值</li>
            <li
              v-else-if="dialogState.formData.type == 'user_bill_type_subscribe'"
            >课程订购：{{dialogState.formData.target_class.title}}</li>
          </ul>
        </el-form-item>
        <el-form-item :label="$t('billRecord.coins')" prop="coins">{{dialogState.formData.coins}}</el-form-item>
        <el-form-item :label="$t('billRecord.date')" prop="date">{{dialogState.formData.date}}</el-form-item>

        <el-form-item>
          <el-button
            size="medium"
            type="primary"
            @click="submitForm('ruleForm')"
          >{{dialogState.edit ? $t('main.form_btnText_update') : $t('main.form_btnText_save')}}</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array
  },
  data() {
    return {
      rules: {
        name: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("BillRecord.name")
            }),
            trigger: "blur"
          },
          {
            min: 1,
            max: 12,
            message: this.$t("validate.rangelength", { min: 1, max: 12 }),
            trigger: "blur"
          }
        ],
        comments: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("main.comments_label")
            }),
            trigger: "blur"
          },
          {
            min: 2,
            max: 30,
            message: this.$t("validate.ranglengthandnormal", {
              min: 2,
              max: 30
            }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    confirm() {
      this.$store.dispatch("hideBillRecordForm");
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.dialogState.formData;
          // 更新
          if (this.dialogState.edit) {
            services.updateBillRecord(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideBillRecordForm");
                this.$store.dispatch("getBillRecordList");
                this.$message({
                  message: this.$t("main.updateSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          } else {
            // 新增
            services.addBillRecord(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideBillRecordForm");
                this.$store.dispatch("getBillRecordList");
                this.$message({
                  message: this.$t("main.addSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>