<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="user" :label="$t('billRecord.user')" width="120">
        <template slot-scope="scope">
          <span v-if="scope.row.user.userName">{{scope.row.user.userName}}</span>
          <span
            v-else-if="scope.row.user.phoneNum"
          >{{scope.row.user.countryCode+''+scope.row.user.phoneNum}}</span>
          <span v-else-if="scope.row.email">{{scope.row.user.email}}</span>
          <span v-else>{{scope.row.user.deviceId}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column prop="action" :label="$t('billRecord.action')">
        <template slot-scope="scope">{{scope.row.action.logs}}</template>
      </el-table-column>-->
      <el-table-column prop="coins" :label="$t('billRecord.coins')"></el-table-column>
      <el-table-column prop="unit" :label="$t('billRecord.unit')"></el-table-column>
      <el-table-column prop="date" :label="$t('billRecord.date')"></el-table-column>
      <el-table-column prop="logs" :label="$t('billRecord.logs')"></el-table-column>
      <el-table-column prop="uuid" :label="$t('billRecord.uuid')"></el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150" fixed="right">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            plain
            round
            @click="editBillRecord(scope.$index, dataList)"
          >
            <i class="fa fa-eye"></i>&nbsp;详情
          </el-button>
          <!-- <el-button
            size="mini"
            type="danger"
            plain
            round
            icon="el-icon-delete"
            @click="deleteBillRecord(scope.$index, dataList)"
          ></el-button>-->
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editBillRecord(index, rows) {
      let rowData = rows[index];
      this.$store.dispatch("showBillRecordForm", {
        edit: true,
        formData: rowData
      });
    },
    deleteBillRecord(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteBillRecord({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getBillRecordList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>