<template>
    <div class="adminUser">
        <BillRecordForm :dialogState="formState"></BillRecordForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="billRecord" :pageInfo="billRecordList.pageInfo"></TopBar>
                <DataTable :pageInfo="billRecordList.pageInfo" :dataList="billRecordList.docs"></DataTable>
                <Pagination :pageInfo="billRecordList.pageInfo" pageType="billRecord"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import BillRecordForm from './billRecordForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            BillRecordForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'billRecordList'
            ]),
            formState() {
                return this.$store.getters.billRecordFormState
            }
        },
        mounted() {
            this.$store.dispatch('getBillRecordList');
        }
    }
</script>

<style lang="">

</style>