{% extends "../public/defaultAppTemp.html" %} {% block content %}
<link rel="stylesheet" href="/plugins/swiper/css/swiper.min.css">
<style>
    html,
    body {
        position: relative;
        height: 100%;
    }

    body {
        background: #ffffff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }
</style>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide dl1">
            <div class="btn-area">
                <ul>
                    <li><a class="btn-container" href="https://itunes.apple.com/us/app/大师链-看-得到/id1446857909?ls=1&mt=8"><span class="ios"></span><label>IOS 下载</label></a></li>
                    <li><a class="btn-container" href="{{apkPath}}"><span class="android"></span><label>Android本地下载</label></a></li>
                    <li><a class="btn-container" href="https://play.google.com/store/apps/details?id=com.percent.master"><span
                                class="googleplay"></span><label>GooglePlay下载</label></a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="swiper-slide dl2"></div>
        <div class="swiper-slide dl3"></div>
        <div class="swiper-slide dl4"></div>
        <div class="swiper-slide dl5"></div>
        <div class="swiper-slide dl6"></div> -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<script src="/plugins/swiper/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
{% endblock %}