<template>
  <div class="dr-IdentityAuthenticationForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      size="small"
      title="身份审核"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item :label="$t('identityAuthentication.name')" prop="name">
          <el-input disabled size="small" v-model="dialogState.formData.name"></el-input>
        </el-form-item>
        <el-form-item :label="$t('identityAuthentication.user')" prop="user">
          <el-input disabled size="small" v-model="dialogState.formData.user.userName"></el-input>
        </el-form-item>
        <el-form-item :label="$t('identityAuthentication.cardType')" prop="name">
          <el-input disabled size="small" v-model="dialogState.formData.cardType"></el-input>
        </el-form-item>
        <el-form-item :label="$t('identityAuthentication.idCardNo')" prop="name">
          <el-input disabled size="small" v-model="dialogState.formData.idCardNo"></el-input>
        </el-form-item>
        <el-form-item :label="$t('identityAuthentication.cardFront')" prop="cardFront">
          <div class="cardImg">
            <img
              v-if="dialogState.formData.cardFront"
              :src="dialogState.formData.cardFront"
              class="avatar"
            >
          </div>
        </el-form-item>
        <el-form-item :label="$t('identityAuthentication.cardBack')" prop="cardBack">
          <div class="cardImg">
            <img
              v-if="dialogState.formData.cardBack"
              :src="dialogState.formData.cardBack"
              class="avatar"
            >
          </div>
        </el-form-item>
        <el-form-item :label="$t('identityAuthentication.state')" prop="state">
          <el-select size="small" v-model="dialogState.formData.state" placeholder="大师认证">
            <el-option
              v-for="item in contentState"
              :key="'kw_'+item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="dialogState.formData.state == '2'" label="驳回原因" prop="dismissReason">
          <el-input size="small" v-model="dialogState.formData.dismissReason"></el-input>
        </el-form-item>
        <el-form-item :label="$t('currencyApproval.comments')" prop="comments">
          <el-input size="small" type="textarea" v-model="dialogState.formData.comments"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            size="medium"
            type="primary"
            :loading="subBtnLoadingState"
            @click="submitForm('ruleForm')"
          >{{dialogState.edit ? $t('main.form_btnText_update') : $t('main.form_btnText_save')}}</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array
  },
  data() {
    return {
      contentState: [
        { value: "0", label: "待审核" },
        { value: "1", label: "审核通过" },
        { value: "2", label: "审核不通过" }
      ],
      subBtnLoadingState: false,
      rules: {
        name: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("IdentityAuthentication.name")
            }),
            trigger: "blur"
          },
          {
            min: 1,
            max: 12,
            message: this.$t("validate.rangelength", { min: 1, max: 12 }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    confirm() {
      this.$store.dispatch("hideIdentityAuthenticationForm");
    },
    submitForm(formName) {
      let _this = this;
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.dialogState.formData;
          // 更新
          if (this.dialogState.edit) {
            _this.subBtnLoadingState = true;
            params.authType = "1";
            services.updateIdentityAuthentication(params).then(result => {
              if (result.data.status === 200) {
                _this.subBtnLoadingState = false;
                this.$store.dispatch("hideIdentityAuthenticationForm");
                this.$store.dispatch("getIdentityAuthenticationList", {
                  type: "1"
                });
                this.$message({
                  message: this.$t("main.updateSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>