<template>
  <div class="adminUser">
    <IdentityAuthenticationForm :dialogState="formState"></IdentityAuthenticationForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="identityAuthentication" :pageInfo="identityAuthenticationList.pageInfo"></TopBar>
        <DataTable
          :pageInfo="identityAuthenticationList.pageInfo"
          :dataList="identityAuthenticationList.docs"
        ></DataTable>
        <Pagination
          :pageInfo="identityAuthenticationList.pageInfo"
          pageType="identityAuthentication"
        ></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import IdentityAuthenticationForm from "./identityAuthenticationForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    IdentityAuthenticationForm,
    Pagination
  },
  methods: mapActions([]),
  computed: {
    ...mapGetters(["identityAuthenticationList"]),
    formState() {
      return this.$store.getters.identityAuthenticationFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getIdentityAuthenticationList", { type: "1" });
  }
};
</script>

<style lang="">
</style>