<template>
    <div class="adminUser">
        <FeedBackForm :dialogState="formState"></FeedBackForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="feedBack" :pageInfo="feedBackList.pageInfo"></TopBar>
                <DataTable :pageInfo="feedBackList.pageInfo" :dataList="feedBackList.docs"></DataTable>
                <Pagination :pageInfo="feedBackList.pageInfo" pageType="feedBack"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import FeedBackForm from './feedBackForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            FeedBackForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'feedBackList'
            ]),
            formState() {
                return this.$store.getters.feedBackFormState
            }
        },
        mounted() {
            this.$store.dispatch('getFeedBackList');
        }
    }
</script>

<style lang="">

</style>