<!--
约定documentList.docs为文档列表数据集合
item为子元素集合
-->
<div ms-controller="appendItems">

	{% if reCommendListData.docs.length > 0 or hotItemListData.docs.length > 0 or documentList.docs.length > 0 or
	masterContentListData.docs.length > 0%}

	{% if reCommendListData.docs.length > 0 %}
	{% set appendType = 'reCommend' %}
	{% elif masterContentListData.docs.length > 0 %}
	{% set appendType = 'masterContents' %}
	{% else %}
	{% set appendType = 'hot' %}
	{% endif %}

	{% if pageType == 'search' %}
	{% set appendType = 'search' %}
	{% elif pageType == 'tag' %}
	{% set appendType = 'tag' %}
	{% endif %}

	<div class="tabCard" ms-for="(index,item) in @appendDocumentList">
		<div class="tabCardMain">
			<div class="lBox">
				<img ms-attr="{src: @item.sImg,alt:@item.title }">
			</div>
			<div class="rBox">
				<h3><a ms-attr="{href:'/details/'+ @item._id + '.html'}" target="_blank" ms-text="@item.title | cutwords(120)"></a></h3>
				<a ms-attr="{href:'/details/'+ @item._id + '.html'}" class="desc" ms-text="@item.discription | cutwords(500)"></a>
				<div>
					<span class="titFrBox"><span ms-text="@item.uAuthor.userName"></span><span class="time" ms-text="@item.updateDate"></span></span>
					<div class="tabCarActions" ms-controller="rcStatic">
						<span><i class="fa fa-eye"></i><span ms-text="@item.clickNum | toReadableNumberKM"></span></span>
						<span><i class="fa fa-thumbs-o-up"></i><span ms-text="@item.likeNum"></span></span>
						<span><i class="fa fa-commenting-o"></i><span ms-text="@item.commentNum"></span></span>
					</div>
				</div>

			</div>
		</div>
	</div>

	{% elif communityList.docs.length > 0 %}
	{% set appendType = 'community' %}
	<div class="clearfloat" ms-for="(index,item) in @appendDocumentList">
		<div class="tabWeiboCard clearfloat">
			<div class="pic">
				<img ms-attr="{src: @item.user.logo,alt:@item.user.userName }">
			</div>
			<div class="weiboText">
				<h4 ms-text="@item.user.userName"></h4>
				<div class="time" ms-text="@item.date"></div>
				<p class="tit" ms-text="@item.comments | cutwords(200)"></p>
				<div class="slideCont">
					<div class="slideImg">
						<div class="row">
							<div class="col-md-4" ms-for="(index,mediaItem) in @item.mediaArr">
								<div class="img" ms-visible="@item.type == '0'" :css="{backgroundImage: 'url('+@item.link + ')'}"></div>
								<div class="img" ms-visible="@item.type == '1'" :css="{backgroundImage: 'url('+@item.videoImg + ')'}"></div>
							</div>
						</div>
					</div>
					<div class="advertSmallImg">
						<div class="row bigImg">
							<div class="col-md-12">
								<img ms-visible="@item.type == '0'" ms-attr="{src: @item.mediaArr[0].link }">
								<img ms-visible="@item.type == '1'" ms-attr="{src: @item.mediaArr[0].videoImg }">
							</div>
						</div>
						<div class="row smallCont">
							<div ms-visible="@item.type == '0'" class="col-md-2 previewImage active" ms-attr="{'data-image':@item.link}"
							 :css="{padding:'0 8px'}" ms-for="(index,item) in @item.mediaArr">
								<div class="smallImg" :css="{backgroundImage: 'url('+@item.link + ')'}"></div>
							</div>
							<div ms-visible="@item.type == '1'" class="col-md-2 previewImage active" ms-attr="{'data-image':@item.videoImg}"
							 :css="{padding:'0 8px'}" ms-for="(index,item) in @item.mediaArr">
								<div class="smallImg" :css="{backgroundImage: 'url('+@item.videoImg + ')'}"></div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="rowLine clearfloat">
			<ul class="clearfloat">
				<li><a href="javascript:void(0);" ms-on-click="@appLike('4',@item._id)" class="active"><i class="fa fa-heart-o"
						 aria-hidden="true"></i>{{lk.user_action_type_give_favorite}}&nbsp;<span ms-text="@item.favoriteNum"></span></a></li>
				<li><a href="javascript:void(0);" ms-on-click="@appLike('5',@item._id)" class=""><i class="fa fa-external-link"
						 aria-hidden="true"></i>10</a></li>
				<li><a href="javascript:void(0);" ms-on-click="@appLike('1',@item._id)" class=""><i class="fa fa fa-thumbs-o-up"
						 aria-hidden="true"></i><span ms-text="@item.likeNum"></span></a></li>
				<li><a href="javascript:void(0);" ms-on-click="@appLike('2',@item._id)" class=""><i class="fa fa-thumbs-o-down"
						 aria-hidden="true"></i><span ms-text="@item.despiseNum"></span></a></li>
			</ul>
		</div>
	</div>
	{% elif specialList.docs.length > 0 %}
	{% set appendType = 'special' %}
	<div class="topic-box" ms-for="(index,item) in @appendDocumentList">
		<div class="topic-box-main">
			<div class="lBox">
				<h2>
					<a href="/" ms-text="@item.name"></a>
				</h2>
				<div class="subTitle" ms-text="@item.comments"> </div>
				<div class="desc">
					小洪-关于专题<Br>
					<span><span ms-text="@item.watch_num"></span>{{lk.label_content_person_watch}}</span>
				</div>
				<a class="followTopic">{{lk.user_action_tips_add_special}}</a>
			</div>
			<div class="rBox hidden-sm hidden-xs">
				<img ms-attr="{src: @item.sImg,alt:@item.name }">
			</div>
		</div>

	</div>
	{% endif %}

	<input type="hidden" id="appendType" value="{{appendType}}">
	{% if documentList.docs.length > 0%}
	<input type="hidden" id="searchkey" value="{{documentList.pageInfo.searchkey}}">
	<input type="hidden" id="tagName" value="{{documentList.pageInfo.tagName}}">
	{% endif %}
	<div class="listMore" ms-on-click="@getMoreNews">
		<a :visible="!@loadingState" aria-hidden="true">{{lk.label_flash_title_more}}&nbsp;<i class="fa fa-angle-right"
			 aria-hidden="true"></i></a>
		<i :visible="@loadingState" class="fa fa-spin fa-spinner"></i>
	</div>

</div>