<!DOCTYPE html>
<html class="{{pageType}}">

<head>
    <script>
        ! function (e, t) {
            function i() {
                var t = n.getBoundingClientRect().width;
                t / m > 540 && (t = 540 * m);
                var i = t / 10;
                n.style.fontSize = i + "px", d.rem = e.rem = i
            }
            var a, r = e.document,
                n = r.documentElement,
                o = r.querySelector('meta[name="viewport"]'),
                l = r.querySelector('meta[name="flexible"]'),
                m = 0,
                s = 0,
                d = t.flexible || (t.flexible = {});
            if (o) {
                console.warn("将根据已有的meta标签来设置缩放比例");
                var p = o.getAttribute("content").match(/initial\-scale=([\d\.]+)/);
                p && (s = parseFloat(p[1]), m = parseInt(1 / s))
            } else if (l) {
                var c = l.getAttribute("content");
                if (c) {
                    var u = c.match(/initial\-dpr=([\d\.]+)/),
                        f = c.match(/maximum\-dpr=([\d\.]+)/);
                    u && (m = parseFloat(u[1]), s = parseFloat((1 / m).toFixed(2))), f && (m = parseFloat(f[1]), s =
                        parseFloat((1 / m).toFixed(2)))
                }
            }
            if (!m && !s) {
                var v = (e.navigator.appVersion.match(/android/gi), e.navigator.appVersion.match(/iphone/gi)),
                    h = e.devicePixelRatio;
                m = v ? 3 > h || m && 3 > m ? 2 > h || m && 2 > m ? 1 : 2 : 3 : 1, s = 1 / m
            }
            if (n.setAttribute("data-dpr", m), !o)
                if (o = r.createElement("meta"), o.setAttribute("name", "viewport"), o.setAttribute("content",
                        "initial-scale=" + s + ", maximum-scale=" + s + ", minimum-scale=" + s +
                        ", user-scalable=no, viewport-fit=cover"), n.firstElementChild) n.firstElementChild.appendChild(
                    o);
                else {
                    var x = r.createElement("div");
                    x.appendChild(o), r.write(x.innerHTML)
                } e.addEventListener("resize", function () {
                clearTimeout(a), a = setTimeout(i, 300)
            }, !1), e.addEventListener("pageshow", function (e) {
                e.persisted && (clearTimeout(a), a = setTimeout(i, 300))
            }, !1), "complete" === r.readyState ? r.body.style.fontSize = 12 * m + "px" : r.addEventListener(
                "DOMContentLoaded",
                function () {
                    r.body.style.fontSize = 12 * m + "px"
                }, !1), i(), d.dpr = e.dpr = m, d.refreshRem = i, d.rem2px = function (e) {
                var t = parseFloat(e) * this.rem;
                return "string" == typeof e && e.match(/rem$/) && (t += "px"), t
            }, d.px2rem = function (e) {
                var t = parseFloat(e) / this.rem;
                return "string" == typeof e && e.match(/px$/) && (t += "rem"), t
            }
        }(window, window.lib || (window.lib = {}));
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{siteInfo.discription}}">
    <meta content="{{siteInfo.key}}" name="keywords" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{siteInfo.title}}" />
    <meta property="og:description" content="{{siteInfo.discription}}" />
    <meta property="og:image" content="{{ogData.img}}">
    <meta property="og:url" content="{{ogData.url}}">
    <meta name="author" content="DoraCMS">
    <title>
        {{siteInfo.title}}
    </title>
    <!-- 引入组件库 -->
    <script src="/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.bootcss.com/avalon.js/2.2.7/avalon.min.js"></script>
    <script src="/plugins/mlayer/layer.js" type="text/javascript"></script>
    <link href="/plugins/mlayer/layer.css" rel="stylesheet">
    <!--default theme-->
    <script src="/themes/{{staticforder}}/js/mb.js?version=2.2" type="text/javascript"></script>
    <link href="/themes/{{staticforder}}/css/mb.css?version=2.1" rel="stylesheet">

</head>

<body class="{{pageType}}">
    <input type="hidden" value="{{siteInfo.lang}}" id="siteLang">

    {% block content %}{% endblock %}

</body>

</html>