<!DOCTYPE html>
<html class="{{pageType}}">
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5T8SQKB');
</script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="description" content="{{siteInfo.discription}}">
    <meta content="{{siteInfo.key}}" name="keywords" />
    <meta property="og:type" content="website" />
    {% if pageType == 'detail' %}
    <meta property="og:title" content="{{siteInfo.desTitle}}" />
    {% else %}
    <meta property="og:title" content="{{siteInfo.title}}" />
    {% endif %}
    <meta property="og:description" content="{{siteInfo.discription}}" />
    <meta property="og:image" content="{{ogData.img}}">
    <meta property="og:url" content="{{ogData.url}}">
    <meta name="author" content="DoraCMS">
    <title>
        {{siteInfo.title}}
    </title>
    <!-- 引入组件库 -->
    <script src="/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <link href="/plugins/bootstrap/css1/bootstrap.min.css" rel="stylesheet">
    <script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/avalon.js/2.2.7/avalon.min.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <link rel="stylesheet" href="/plugins/layer/theme/default/layer.css">

    <!--default theme-->
    <script src="/themes/{{staticforder}}/js/dora.front.js?version={{siteInfo.version}}" type="text/javascript">
    </script>
    <link href="/themes/{{staticforder}}/css/index.css?version={{siteInfo.version}}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
      <script src="/plugins/promise/promise.js"></script>
    <![endif]-->
    <input type="hidden" value="{{lsk}}" id="sysKeys">
</head>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T8SQKB" height="0" width="0"
    style="display:none;visibility:hidden"></iframe>

<body>
    {% if pageType != 'adminlogin' and pageType != 'login' and pageType != 'register' and pageType != 'download' and
    pageType != 'helpCenter'%} {%
    include "./header.html" %}
    {% endif %}
    {% if pageType == 'userCenter' or pageType == 'normal' or pageType == 'special' %}
    {% set mainClass = 'appMain myWrite' %}
    {% elif pageType == 'detail' %}
    {% set mainClass = 'contentMain' %}
    {% elif pageType == 'class' %}
    {% set mainClass = 'appMain masterCourse' %}
    {% elif pageType == 'classDetail' %}
    {% set mainClass = 'appMain masterCourseDetail' %}
    {% elif pageType.indexOf('help') >= 0 %}
    {% set mainClass = 'appMain help' %}
    {% elif pageType.indexOf('newBuiltCourse') >= 0 %}
    {% set mainClass = 'appMain newBuiltCourse' %}
    {% elif pageType.indexOf('identityAuth') >= 0 %}
    {% set mainClass = 'appMain identityAuth' %}
    {% else %}
    {% set mainClass = 'appMain' %}
    {% endif %}
    <div class="{{mainClass}}" id="{{pageType}}">
        <input type="hidden" value="{{siteInfo.lang}}" id="siteLang">
        {% block content %}{% endblock %}

        {% if pageType != 'adminlogin' and pageType != 'login' and pageType != 'register' and pageType != 'download'
        and pageType != 'helpCenter'
        %} {% include "./footer.html"
        %} {% endif %}
    </div>

</body>

</html>