{% if communityContentList.docs.length > 0 %}
<div class="tab-weibo">
    {% for item in communityContentList.docs %}
    <div class="tabWeiboCard clearfloat">
        <div class="pic">
            <img src="{{item.user.logo}}" alt="{{item.userName}}">
        </div>
        <div class="weiboText">
            <h4>{{item.user.userName}}</h4>
            <div class="time">{{item.date}}</div>
            <p class="tit">{{item.comments | cutwords(200)}}</p>
            <div class="slideCont">
                <div class="slideImg">
                    <div class="row">
                        {% for mediaItem in item.mediaArr %}
                        <div class="col-md-4">
                            {% if mediaItem.type == '0' %}
                            {% set targetLink = mediaItem.link %}
                            {% elif mediaItem.type == '1' %}
                            {% set targetLink = mediaItem.videoImg %}
                            {% endif %}
                            <div class="img" style="background-image: url('{{targetLink}}')"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="advertSmallImg">
                    <div class="row bigImg">
                        <div class="col-md-12">
                            {% if item.mediaArr.length>0 %}
                            {% set mainImgObj = item.mediaArr[0] %}
                            {% if mainImgObj.type == '0' %}
                            {% set thumbLink = mainImgObj.link %}
                            {% elif mainImgObj.type == '1' %}
                            {% set thumbLink = mainImgObj.videoImg %}
                            {% endif %}
                            {% endif %}
                            <img src="{{thumbLink}}" alt="">
                        </div>
                    </div>
                    <div class="row smallCont">
                        {% for mediaItem in item.mediaArr %}
                        {% if mediaItem.type == '0' %}
                        {% set previewLink = mediaItem.link %}
                        {% elif mediaItem.type == '1' %}
                        {% set previewLink = mediaItem.videoImg %}
                        {% endif %}
                        <div class="col-md-2 previewImage active" data-image="{{previewLink}}" style="padding:0 8px">
                            <div class="smallImg " style="background-image: url('{{previewLink}}')"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="rowLine clearfloat" ms-controller="rcStatic">
        <ul class="clearfloat">
            <li><a href="javascript:void(0);" ms-on-click="@askLike($event,'4','{{item._id}}')" class="active"><i class="fa fa-heart-o"
                        aria-hidden="true"></i><span>{{lk.user_action_type_give_favorite}}&nbsp;<span id="favoriteCommunity_{{item._id}}">{{item.favoriteNum}}</span></span></a></li>
            <li><a href="javascript:void(0);" ms-on-click="@askLike($event,'5','{{item._id}}')" class=""><i class="fa fa-external-link"
                        aria-hidden="true"></i><span id="share_{{item._id}}">0</span></a></li>
            <li><a href="javascript:void(0);" ms-on-click="@askLike($event,'1','{{item._id}}')" class=""><i class="fa fa fa-thumbs-o-up"
                        aria-hidden="true"></i><span id="thumbs_{{item._id}}">{{item.likeNum}}</span></a></li>
            <li><a href="javascript:void(0);" ms-on-click="@askLike($event,'2','{{item._id}}')" class=""><i class="fa fa-thumbs-o-down"
                        aria-hidden="true"></i><span id="despises_{{item._id}}">{{item.despiseNum}}</span></a></li>
        </ul>
    </div>
    {% endfor %}
    {% include "./appendItemList.html" %}
</div>

{% endif%}