<form name="pwdLoginForm" ms-validate="@validate">
    <div class="login-input-group" style="overflow: visible">
        <span><i class="fa fa-envelope" style="font-size:20px;"></i></span>
        <input type="email" class="email" ms-duplex="@email" placeholder="{{lk.lc_write_email}}" ms-rules="{required:true }"
            data-required-message="{{lk.lc_write_current_email}}" data-message="{{lk.lc_write_current_email}}">
    </div>
    <div class="login-input-group">
        <span><i class="fa fa-lock"></i></span>
        <input type="password" placeholder="{{lk.lc_write_password}}" ms-duplex="@password" ms-rules="{required: true}"
            data-required-message="{{lk.lc_write_current_password}}" data-message="{{lk.lc_write_current_password}}">
    </div>

    <div class="checkbox clearfix">
        <label class="pull-left">
            <input type="checkbox"> {{lk.lc_basic_remember_pwd}}
        </label>
        <a href="/users/forgotPsdByEmail" class="pull-right" style="color: #a4a4a4">{{lk.label_resetpwd_forget}}</a>
    </div>

    <div style="margin-top: 20px;">
        <button class="btn btn-primary btn-lg btn-block" type="submit">{{lk.lc_login_just}}</button>
    </div>
    <div style="margin-top: 10px;">
        <a href="/users/reg" class="btn btn-default btn-lg btn-block">{{lk.lc_register}}</a>
    </div>
</form>