<!--尾部模板-->
{% import "./adsPannel.html" as adsPannel %}

{% if siteInfo.lang == 'zh-TW' %}
{% set endStr = '_zh-TW' %}
{% else %}
{% set endStr = '' %}
{% endif %}
<div class="back-to-top" id="gotop">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>
<footer class="bs-docs-footer">
    <div class="container" style="margin-top: 12px;">
        <div class="col-md-2">
            <div class="footerLogo">
                <img alt="logo" src="/themes/dorawhite/images/common/footer_logo.png">
            </div>
        </div>
        <div class="col-md-6">
            <ul class="bs-docs-footer-links">
                <li><a href="/aboutUs{{endStr}}.html" target="_blank">{{lk.label_footer_aboutus}}</a></li>
                <li><a href="/partner{{endStr}}.html" target="_blank">{{lk.label_footer_paternal}}</a></li>
                <li><a href="/businessCooperation{{endStr}}.html" target="_blank">{{lk.label_footer_cooperation}}</a></li>
                <li><a href="/contribute{{endStr}}.html" target="_blank">{{lk.label_footer_want_create}}</a></li>
                <li><a href="/termsOfService{{endStr}}.html" target="_blank">{{lk.label_footer_service}}</a></li>
                <li><a href="/privacyStatement{{endStr}}.html" target="_blank">{{lk.label_footer_privacyStatement}}</a></li>
            </ul>
            <p class="reserved">Copyright @2019大師鏈 All Rights Reserved.<a href="/disclaimer{{endStr}}.html" target="_blank">{{lk.label_footer_disclaimer}}</a></p>
        </div>
        <div class="footerFr col-md-4">
            <dl>
                <dt><a target="_blank" href="https://line.me/R/ti/p/%40jws0800x"> <i class="iconfont icon-line"></i></a></li>
                <dt><a target="_blank" href="https://www.facebook.com/masterchain.work"> <i class="fa fa-facebook-square"></i></a></li>
                <dt><a target="_blank" href="https://twitter.com/MasterChainWork"> <i class="fa fa-twitter-square"></i></a></li>
                <dt><a target="_blank" href="https://www.youtube.com/channel/UCBFE3dHS7AVYOe9oeEkE9nw"> <i class="fa fa-youtube-play"></i></a></li>
                <dt><a target="_blank" href="https://www.instagram.com/masterchain.work/"> <i class="fa fa-instagram"></i></a></li>

            </dl>
        </div>
    </div>
</footer>
<script>
    $(function () {
        $('._footer_show_layer').click(function () {
            var $this = $(this)
            showLayer($this.text(), $this.data('href'))
        })

        function showLayer(title, url) {
            layer.open({
                type: 2,
                title: title,
                shadeClose: true,
                area: ['260px', '320px'],
                content: url
            });
        }
    })
</script>