<!--密码重置模块-->
<div id="resetPassword" ms-controller="reSetPsd">
    <h1>{{lk.label_findpwd}}</h1>
    <form name="reSetPsdForm" ms-validate="@validate">
        <p class="text-danger" :visible="@showErr" ms-html="@message">长度 6-16 位，不能有空格</p>
        <div class="rp-input-group tel-num">
            <label>{{lk.label_user_phoneNum}}</label>
            <div class="select-countryCode">
                {% include "./selectCountryCode.html" %}
            </div>
            <input type="text" ms-duplex="@phoneNum" placeholder="{{lk.lc_basic_pl_tel}}" ms-rules="{required:true,number:true }"
                data-required-message="{{lk.lc_basic_pl_tel}}" data-message="{{lk.lc_basic_pl_tel}}">
        </div>
        <div class="rp-input-group">
            <label>{{lk.label_user_imageCode}}</label>
            <input type="text" name="messageCode" ms-duplex="@messageCode" placeholder="验证码" ms-rules="{required:true,maxlength:6,minlength:6,number:true }"
                data-required-message="{{lk.validate_inputNull | inputNotNull(lk.label_user_imageCode)}}" data-message="{{lk.validate_inputCorrect | inputCurrent(lk.label_user_imageCode)}}"
                id="v-code">
            <a href="javascript:void(0)" id="get-v-code" ms-on-click="@sendMsgCode" class="send-code">{{lk.lc_get_messageCode}}</a>
        </div>
        <div class="rp-input-group">
            <label>{{lk.lc_new_password}}</label>
            <input type="password" class="form-control" id="pw" name="password" placeholder="{{lk.lc_write_password}}"
                ms-duplex="@password" ms-rules="{required: true,pattern: /(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{5,}/}"
                data-required-message="{{lk.validate_inputNull | inputNotNull(lk.lc_password)}}" data-message="{{lk.validate_ranglengthandnormal | ranglengthandnormal(6,12,lk.lc_password)}}">
        </div>

        <div class="rp-input-group">
            <label>{{lk.lc_repassword}}</label>
            <input type="password" class="form-control" name="confirmPassword" placeholder="{{lk.lc_write_re_password}}"
                ms-duplex="@confirmPassword  | change" ms-rules="{required: true,,equalto:'pw'}" data-required-message="{{lk.validate_inputNull | inputNotNull(lk.lc_repassword)}}"
                data-message="{{lk.validate_passwordnotmatching}}">
        </div>
        <div style="margin-top: 20px; margin-bottom: 120px;">
            <button class="btn btn-primary btn-lg btn-block" type="submit">{{lk.lc_setpwd_sub_btn}}</button>
        </div>
    </form>
</div>

<script>































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</script>