<!--头部模板-->
<input type="hidden" value="{{userInfo._id}}" id="userId">
<input type="hidden" value="{{logined}}" id="logined">
<input type="hidden" value="{{tokenId}}" id="tokenId">
<div class="navbar navbar-static-top navbarInverse is-fixed" ms-controller="headerCtr" style="display:block;">
  {% if siteInfo.lang == 'zh-TW' %}
  {% set homelink = '/zh-TW' %}
  {% set endStr = '_zh-TW' %}
  {% else %}
  {% set homelink = '/zh-CN' %}
  {% set endStr = '' %}
  {% endif %}
  <div class="container ">

    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".defaultHeader">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- 这里下载是一个链接地址 -->
      <a class="MobileAppHeader-downloadLink  hidden-lg hidden-md hidden-sm" href="javascript:void(0)"
        onclick="getDownloadPage()">{{lk.lc_download}}
        App</a>
      <a class="navbar-brand" href="{{homelink}}"><img alt="logo"
          src="/themes/dorawhite/images/common/top_logo.png"></a>
    </div>

    <!-- 默认置顶导航 -->
    <nav class="navbar-collapse collapse defaultHeader" role="navigation" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li><a href="/"> {{lk.label_backto_index}} </a></li>

        <li><a href="/masterCourse.html"> {{lk.lc_masterClass}} </a></li>

        <li><a href="/help{{endStr}}.html"> {{lk.lc_helpCenter}} </a></li>

        <li><a href="https://member.masterchain.work/merchants"> {{lk.lc_ecoPartners}} </a></li>
      </ul>
      <div class="input-group topSearch hidden-sm hidden-xs">
        <input type="text" class="form-control" ms-duplex="@searchkey" ms-on-keyup="@onKeyUp"
          placeholder="{{lk.lc_please_write_key}}">
        <span class="input-group-btn">
          <button class="btn btn-default" ms-on-click="@searchOpt" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div><!-- /input-group -->
      {% if logined == undefined %}
      <ul class="nav  navbar-right ">
        <li><a href="/users/login">{{lk.lc_login}}</a></li>
        <li><a href="/users/reg">{{lk.lc_register}}</a></li>
        <li class="myHome nav-language">
          <span style="margin-top:0;" id="myHomeLanguage" data-toggle="myLanguagePopover" data-placement="bottom"
            data-toggle="popover" title="" data-content="">
            {% if siteInfo.lang == 'en' %}
            EN
            {% elif siteInfo.lang == 'zh-TW' %}
            繁體中文
            {% else %}
            简体中文
            {% endif %}
            &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></span>
          <div class="language_switch" id="language_switch" style="display: none">
            <ul class="">
              <li><a href="/zh-CN">简体中文</a></li>
              <li><a href="/zh-TW">繁體中文</a></li>
            </ul>
          </div>
        </li>
      </ul>
      {% else %}
      <ul class="nav  navbar-right loginIn">
        <li class="myHome">
          <img class="img" id="myHomeToggle" data-toggle="myHomePopover" data-placement="bottom" data-toggle="popover"
            title="" data-content="" src="{{userInfo.logo}}?x-oss-process=image/resize,w_200/auto-orient,1" alt="">
          <a class="smShow" href="/users/userCenter"><i class="fa fa-user" aria-hidden="true"></i>
            {{lk.lc_my_index}}</a>
          <div id="myHomePopover_content_wrapper" style="display: none">

            {% if userInfo.group == '0' and siteInfo.allowUserPostContent or userInfo.group == '1' %}
            <div class="myHomePopItem">
              <a href="/users/userAddContent">{{lk.label_sysconfig_score_post}}</a>
            </div>
            {% endif %}
            {% if userInfo.group == '1' %}

            <div class="myHomePopItem">
              <a href="/users/addCourse.html">{{lk.lc_publish_masterClass}}</a>
            </div>
            {% endif %}
            <div class="myHomePopItem">
              <a href="/users/userCenter">{{lk.lc_my_homepage}}</a>
            </div>

            <div class="myHomePopItem">
              <a onclick="loginOut()">{{lk.lc_loginOut}}</a>
            </div>
          </div>
        </li>
        <li class="hidden-sm hidden-md hidden-lg" onclick="loginOut()"><a href="#"><i class="fa fa-sign-out"
              aria-hidden="true"></i>{{lk.lc_loginOut}}</a></li>
        <!-- <li class="toWrite"><a href="javascript:void(0)" target="_black" ms-on-click="@postArticel"><i class="fa fa-edit"
              aria-hidden="true"></i>
            {{lk.lc_creative}}</a></li> -->

        <li class="myHome nav-language">
          <span class="" id="myHomeLanguage" data-toggle="myLanguagePopover" data-placement="bottom"
            data-toggle="popover" title="" data-content="">
            {% if siteInfo.lang == 'en' %}
            EN
            {% elif siteInfo.lang == 'zh-TW' %}
            繁體中文
            {% else %}
            简体中文
            {% endif %}
            &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></span>
          <div class="language_switch" id="language_switch" style="display: none">
            <ul class="">
              <li><a href="/zh-CN">简体中文</a></li>
              <li><a href="/zh-TW">繁體中文</a></li>
            </ul>
          </div>
        </li>

      </ul>
      {% endif %}
      <!-- 这里下载要做一个弹出层效果 -->
      <a class="downloadLink  hidden-xs" data-za-detail-view-name="下载 App" href="javascript:void(0)"
        onclick="getDownloadPage()">{{lk.lc_download}} App</a>
    </nav>


    <!--当滚动到一定高度 显示的导航 -->
    {% set linkClass1 = 'link' %}
    {% set linkClass2 = 'link' %}
    {% set linkClass3 = 'link' %}
    {% set linkClass4 = 'link' %}
    {% set linkClass5 = 'link' %}
    {% if pageType == 'index' %}
    {% set linkClass1 = 'link active' %}
    {% elif pageType == 'topic' %}
    {% set linkClass4 = 'link active' %}
    {% elif pageType == 'discover' %}
    {% set linkClass5 = 'link active' %}
    {% elif pageType == 'hot' %}
    {% set linkClass2 = 'link active' %}
    {% elif pageType == 'masters' %}
    {% set linkClass3 = 'link active' %}
    {% endif %}
    <nav class="navbar-collapse collapse PageHeader" role="navigation" aria-expanded="false">
      <div class="scrollTab">
        <div><a href="/" class="{{linkClass1}}"> {{lk.label_class_rc}}</a> </div>
        <div><a href="/hot.html" class="{{linkClass2}}">{{lk.lc_hotDocuments}}</a> </div>
        <div><a href="/masters.html" class="{{linkClass3}}">{{lk.label_content_find_masters}}</a></div>
        <div><a href="/topic.html" class="{{linkClass4}}">{{lk.label_content_special}}</a></div>
        <div><a href="/discover.html" class="{{linkClass5}}">{{lk.label_content_find}}</a></div>
      </div>


      {% if logined == undefined %}
      <ul class="nav  navbar-right hidden-sm hidden-xs">
        <li><a href="/users/login">{{lk.lc_login}}</a></li>
        <li><a href="/users/reg">{{lk.lc_register}}</a></li>
      </ul>
      {% endif %}
      <div class="input-group topSearch hidden-sm hidden-xs">
        <input type="text" class="form-control" ms-on-keydown="@searchOpt" ms-duplex="@searchkey"
          placeholder="{{lk.lc_please_write_key}}">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div><!-- /input-group -->
    </nav>
  </div>

</div>
<script>
  $('#userLoginOut').on('click', () => {
    loginOut();
  })
</script>