<div>
    {% if masterClass.docs.length > 0 %}
    {% for item in masterClass.docs %}
    <div class="colLi">
        <a href="/classDetails/{{item._id}}.html" class="masterCourseTabCt">
            <div class="pic" style="background-image: url({{item.sImg}})"></div>
            <div class="cont">
                <h4 title="{{item.name}}">{{item.name}}</h4>
                <h5 title="{{item.author.userName}}">{{item.author.userName}}</h5>
                {% if item.price and item.vipPrice %}
                <h6 title="{{item.vipPrice+' '+item.unit}}"> <span class="red">{{item.vipPrice+' '+item.unit}}</span>
                    <span class="normal" style="margin-left:10px;">{{item.price+' '+item.unit}}</span></h6>
                {% elif item.price%}
                <h6 title="{{item.price+' '+item.unit}}">{{item.price+' '+item.unit}}</h6>
                <p>{{lk.label_class_vip_free}}</p>
                {% else %}
                <h6 title="{{item.price+' '+item.unit}}">{{lk.label_class_free}}</h6>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center no-data">{{lk.label_no_data}}</div>
    {% endif %}
</div>