<!--确认删除模态窗-->
<div class="modal fade bs-example-modal-sm" id="checkIfDo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">系统提示</h4>
            </div>
            <div class="modal-body">
                <p>
                    <i class="icon fa fa-warning text-danger"></i>&nbsp;&nbsp;
                    <span class="modal-msg" style="margin-left: 10px;"></span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" ms-on-click="confirmDo">确认</button>
                <button type="button" class="btn btn-sm" data-dismiss="modal">{{lk.lc_cancel}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->