<form name="pwdLoginForm" ms-validate="@validate">
    <div class="login-input-group" style="overflow: visible">
        <span style="margin-right:25px;"><i class="fa fa-mobile"></i></span>
        {% include "./selectCountryCode.html" %}
        <input type="text" style="text-indent:80px;" class="phone-number" ms-duplex="@phoneNum" placeholder="{{lk.lc_basic_pl_tel}}" ms-rules="{required:true }"
            data-required-message="{{lk.lc_basic_pl_tel}}" data-message="{{lk.lc_basic_pl_tel}}">
    </div>
    <div class="login-input-group">
        <span><i class="fa fa-lock"></i></span>
        <input type="password" placeholder="{{lk.lc_write_password}}" ms-duplex="@password" ms-rules="{required: true}"
            data-required-message="{{lk.lc_write_current_password}}" data-message="{{lk.lc_write_current_password}}">
    </div>

    <div class="checkbox clearfix">
        <label class="pull-left">
            <input type="checkbox"> {{lk.lc_basic_remember_pwd}}
        </label>
        <a href="/users/forgotPsd" class="pull-right" style="color: #a4a4a4">{{lk.label_resetpwd_forget}}</a>
    </div>

    <div style="margin-top: 20px;">
        <button class="btn btn-primary btn-lg btn-block" type="submit">{{lk.lc_login_just}}</button>
    </div>
    <div style="margin-top: 10px;">
        <a href="/users/reg" class="btn btn-default btn-lg btn-block">{{lk.lc_register}}</a>
    </div>
</form>