<!--用户注册模块-->
<div class="container registerMain" ms-controller="regAction">
    <h1>{{lk.lc_newAccount}}</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <form class="form-horizontal" role="form" ms-validate="@validate">
                <div class="form-group ">
                    <div class="col-sm-12 prepend">
                        {% include "./selectCountryCode.html" %}
                        <input type="text" class="form-control input-lg" ms-duplex="@phoneNum" placeholder="{{lk.lc_basic_pl_tel}}"
                            ms-rules="{required:true,number:true }" data-required-message="{{lk.lc_basic_pl_tel}}"
                            data-message="{{lk.lc_basic_pl_tel}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 prepend">
                        <label>{{lk.lc_password}}</label>
                        <input type="password" class="form-control input-lg" placeholder="{{lk.lc_write_password}}"
                            ms-duplex="@password" ms-rules="{required: true}" data-required-message="{{lk.lc_write_current_password}}"
                            data-message="{{lk.lc_write_current_password}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 prepend">
                        <label>{{lk.label_user_imageCode}}</label>
                        <input type="text" class="form-control input-lg" ms-duplex="@messageCode" placeholder="{{lk.label_user_imageCode}}"
                            ms-rules="{required:true,maxlength:6,minlength:6,number:true }" data-required-message="{{lk.validate_inputNull | inputNotNull(lk.label_user_imageCode)}}"
                            data-message="{{lk.validate_inputCorrect | inputCurrent(lk.label_user_imageCode)}}" id="v-code">
                    </div>
                    <div class=" col-sm-4">
                        <a href="javascript:void(0)" id="sendYzm" ms-on-click="@sendMsgCode" class="btn btn-default btn-lg">{{lk.lc_get_messageCode}}</a>
                    </div>

                </div>
                <div class="form-group">
                    <div class=" col-sm-12">
                        {{lk.label_user_reg_tips_1}} <a href="/userAgreement.html" class="link" target="_blank">{{lk.label_user_reg_agree_1}}</a>
                        {{lk.lc_and}}<a href="/privacyServicePolicy.html" target="_blank">{{lk.label_user_reg_agree_2}}</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-12">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">{{lk.lc_register}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>































































</script>