<!--用户登录模块-->
<div>
    <div class="nav-bar">
        <div class="logo">
            <img src="/themes/dorawhite/images/common/logo-white.png" height="50" alt="">
            {{lk.label_download_title}}
        </div>
        <div class="links">
            <a href="/">{{lk.label_backto_index}}</a>
            {# <a href="https://masterChain.work">{{lk.label_download_site}}</a> #}
            <a href="/download.html">APP {{lk.lc_download}}</a>
        </div>
    </div>


    <div class="login-box" style="width: 380px;" ms-controller="regAction">
        <!-- <small style="display:block" class="text-danger text-center" :visible="@showErr" ms-html="@message"></small> -->

        <div class="login-tab">
            <div class="login-tab-item active" data-target="login-by-sms">{{lk.label_user_reg_tab_1}}</div>
            <div class="login-tab-item" data-target="login-by-email">{{lk.label_user_reg_tab_2}}</div>
        </div>

        <div id="login-by-sms" class="login-box-body" style="display: block">
            {% include "./tellReg.html" %}
        </div>

        <div id="login-by-email" class="login-box-body" style="display: none">
            {% include "./emailReg.html" %}
        </div>
    </div>


</div>


<script>



</script>