<!--密码重置模块-->
<div class="reSetPsdBoard" ms-controller="reSetPsd">
    <form name="reSetPsdForm" ms-validate="@validate">
        <h3>{{lk.label_resetpwd}} &nbsp;
            <small style="display:block" class="text-danger text-center" :visible="@showErr" ms-html="@message"></small>
        </h3>
        <div class="form-group">
            <label for="">{{lk.lc_password}}</label>
            <input type="password" class="form-control" name="password" id="pw" placeholder="{{lk.lc_password_null_tips}}"
                ms-duplex="@password" ms-rules="{required: true,pattern: /(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{5,}/}"
                data-required-message="{{lk.validate_inputNull | inputNotNull(lk.lc_password)}}" data-message="{{lk.validate_ranglengthandnormal | ranglengthandnormal(6,12,lk.lc_password)}}">
        </div>
        <div class="form-group">
            <label for="">{{lk.lc_password_label_confirm}}</label>
            <input type="password" class="form-control" name="confirmPassword" placeholder="{{lk.lc_password_confirm_null}}"
                ms-duplex="@confirmPassword  | change" ms-rules="{required: true,equalto:'pw'}" data-required-message="{{lk.validate_inputNull | inputNotNull(lk.lc_repassword)}}"
                data-message="{{lk.validate_passwordnotmatching}}">
        </div>
        <div class="sub-btns" id="ul-s5">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">{{lk.lc_setpwd_sub_btn}}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
</script>