<!-- ｜建議模塊 Start｜ -->
<!-- 內部廣告 Start -->
<style>
    .rCard.internalAds {
        background-color: transparent;
        box-shadow: none;
    }

    .rCard.internalAds li .internalAdsContent {
        display: block;
        width: 100%;
        height: 100px;
        text-align: center;
        margin: 10px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
</style>
<div class="rCard internalAds">
    <ul><!--ms-for:item in @list-->
        <li><a class="internalAdsContent"
               href="https://pse.is/masterchain-internal-ads-link-1"
               style="background: url(https://pse.is/masterchain-internal-ads-image-1) center center / cover no-repeat;">
        </a></li><!--for82093005262-->
        <li><a class="internalAdsContent"
               href="https://pse.is/masterchain-internal-ads-link-2"
               style="background: url(https://pse.is/masterchain-internal-ads-image-2) center center / cover no-repeat;">
        </a></li><!--for82093005262-->
        <li><a class="internalAdsContent"
               href="https://pse.is/masterchain-internal-ads-link-3"
               style="background: url(https://pse.is/masterchain-internal-ads-image-3) center center / cover no-repeat;">
        </a></li><!--for82093005262-->
    </ul>
</div>
<!-- 內部廣告 End -->
<!-- 下載大師鏈 App Qr Code Start -->
<style>
    .download-qr-code-section {
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
    }

    .download-qr-code-section .qr-code-img {
        padding-right: 0;
        text-align: center;
    }

    .download-qr-code-section .qr-code-text p {
        margin-bottom: 2px;
    }

    .download-qr-code-section .qr-code-text p:first-child {
        color: #586076;
    }

    .download-qr-code-section .qr-code-img img {
        height: 70px;
        width: 70px;
    }
</style>
<div class="rCard">
    <div class="row download-qr-code-section">
        <div class="qr-code-img col-md-4">
            <img src="https://pse.is/masterchain-download-qr-code" alt="masterchain-download-apps">
        </div>
        <div class="qr-code-text col-md-8">
            <p>下載大師鏈手機 App</p>
            <p>隨時隨地看・得到</p>
        </div>
    </div>
</div>
<!-- 下載大師鏈 App Qr Code End -->
<!-- 外部廣告 Start -->
<style>
    .rCard.externalAds {
        display: block;
        width: 100%;
        height: 150px;
        text-align: center;
        position: relative;
    }

    .rCard.externalAds .externalAdsContent {
        height: 150px;
    }

    .rCard.externalAds .externalAdsContent img {
        height: 150px;
    }

    .rCard.externalAds .clip {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #586076;
        opacity: 0.8;
    }

    .rCard.externalAds .clip span {
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        font-size: 12px;
    }
</style>
<div class="rCard externalAds">
    <div id="myCarousel2" class="carousel slide" data-ride="carousel"><!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1" class=""></li>
        </ol><!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active externalAdsContent"><a
                    href="https://pse.is/masterchain-external-ads-link-1"
                    target="_blank"><img src="https://pse.is/masterchain-external-ads-image-1"
                                         alt="external-ads-image-1"
                                         style="width:100%;"></a>
                <div class="carousel-caption"><h3></h3></div>
            </div>
            <div class="item externalAdsContent"><a
                    href="https://pse.is/masterchain-external-ads-link-2"
                    target="_blank"><img src="https://pse.is/masterchain-external-ads-image-2"
                                         alt="external-ads-image-2"
                                         style="width:100%;"></a>
                <div class="carousel-caption"><h3></h3></div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control"
           href="https://www.masterchain.media/zh-TW#myCarousel" role="button"
           data-slide="prev"></a><a class="right carousel-control"
                                    href="https://www.masterchain.media/zh-TW#myCarousel"
                                    role="button" data-slide="next"><span class="sr-only">Next</span></a></div>
    <div class="clip"><span>廣告</span></div>
</div>
<!-- 外部廣告 End -->
<!-- 推薦影片 Start -->
<div class="rCard recommendVideos">
    <h2>推薦影片</h2>
    <div class="text-center">
        <video class="edui-faked-video video-js" autoplay controls muted preload="none" width="250"
               height="160"
               src="https://pse.is/masterchain-recommend-video">
        </video>
    </div>
</div>
<!-- 推薦影片 End -->
<!-- ｜建議模塊 End｜ -->


<div class="rCard" ms-controller="recMasters">

    <h2>
        <span class="more" ms-on-click="@changeList"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i>{{lk.lc_change}}</span>
        {{lk.label_content_master_rc}}</h2>
    <div class="recommendWriterList">

        <dl ms-for="(index,item) in @masterList">
            <dt ms-on-click="askApp">
                <div class="circleImg">
                    <img ms-attr="{src: @item.logo,alt:@item.userName }">
                </div>
                <div class="txt">
                    <p class="writer" ms-text="@item.userName"></p>
                    <p>
                        <span>{{lk.lc_create}}:&nbsp;<span ms-text="@item.content_num"></span>{{lk.lc_piece}}</span>
                        <span>{{lk.lc_fensi}}:&nbsp;<span ms-text="@item.follow_num"></span></span>
                    </p>
                </div>
            </dt>
            <dd ms-if="@item.had_followed"><span style="cursor: auto">{{lk.label_content_master_had_watched}}</span></dd>
            <dd ms-if="!@item.had_followed"><span ms-on-click="@watchMaster(item._id)"><i class="fa fa-plus"
                                                                                          aria-hidden="true"></i>{{lk.user_action_type_collection}}</span></dd>
        </dl>

    </div>
    <div class="attentionAdd followMaster">
        <button type="button" onclick="askClassApp()" class="btn btn-primary btn-block">{{lk.lc_watch_all}}</button>
    </div>
</div>

<div class="rCard" ms-controller="communityTags">
    <h2>
        <span class="more"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i>{{lk.lc_change}}</span>
        {{lk.label_content_community_rc}}</h2>
    <div class="recommendGroupList">
        <dl ms-for="(index,item) in @communityList" ms-on-click="askApp">
            <dt>
                <img ms-attr="{src: @item.sImg,alt:@item.name }">
            </dt>
            <dd>
                <ul>
                    <li class="tit" ms-text="@item.name"></li>
                    <li class="countData">
                        <span><span ms-text="@item.watch_num"></span>{{lk.label_content_person}}</span>
                        <span> <span ms-text="@item.content_num"></span>{{lk.label_content_activer}}</span>
                    </li>
                </ul>
                <p ms-text="@item.comments">

                </p>
            </dd>
        </dl>
    </div>

    <div class="attentionAdd followCommunity">
        <a href="javascript:void(0)" onclick="askClassApp()" class="btn btn-primary  btn-block">{{lk.label_content_follow_all}}</a>
    </div>

</div>

<script>
    $(function () {
        if (recMastersVm) {
            recMastersVm.getTargetMasterList();
        }
        if (communityTagsVm) {
            communityTagsVm.getTargetCommunityList();
        }
    })
</script>