{% extends "./defaultTemp.html" %} {% block content %} {% import "./adsPannel.html" as adsPannel %}
<div class="container">
    <div class="row" style="margin-top:62px">
        <div class="col-md-12 dslCol" style="margin-bottom: 20px;">
            <dl class="lTabBox">
                <dd>
                    <div class="column-wrap">
                        {% if pageType == 'search' %}
                        <h1 alt="{{siteInfo.altkey}}{{targetSearchKey}}">{{lk.lc_search}}：{{targetSearchKey}}</h1>
                        {% elif pageType == 'tag' %}
                        <h1 alt="{{siteInfo.altkey}}{{targetTagName}}">{{lk.lc_content_tag}}：{{targetTagName}}</h1>
                        {% else %}
                        <h1 alt="{{siteInfo.altkey}}{{cateInfo.name}}">{{cateInfo.name}}</h1>
                        {% endif %}
                    </div>
                    {% include "./itemListTemp.html" %}
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}