<!--搜索面板-->
<div class="searchBoard">
    <h3>{{lk.lc_search}}</h3>
    <form class="form-inline" action="/content/searchResult/items">

        <input class="form-control search-input" type="text" placeholder="{{lk.lc_please_write_key}}" name="searchKey">

    </form>

</div>