{% if siteInfo.lang == 'zh-TW' %}

<span class="areaCode" id="areaCode">中國0086</span>
<div class="area_code_list">
    <dl class="code_list_main">
        <dt>常用</dt>
        <dd><span>中國</span><span>0086</span></dd>
        <dd><span>中國香港</span><span>00852</span></dd>
        <dd><span>台灣</span><span>00886</span></dd>
        <dd><span>中國澳門</span><span>00853</span></dd>
        <dd><span>美國</span><span>001</span></dd>
        <dt>A</dt>
        <dd><span>澳大利亞</span><span>0061</span></dd>
        <dd><span>中國澳門</span><span>00853</span></dd>
        <dt>B</dt>
        <dd><span>巴西</span><span>0055</span></dd>
        <dt>D</dt>
        <dd><span>德國</span><span>0049</span></dd>
        <dt>E</dt>
        <dd><span>俄羅斯</span><span>007</span></dd>
        <dt>F</dt>
        <dd><span>法國</span><span>0033</span></dd>
        <dt>H</dt>
        <dd><span>韓國</span><span>0082</span></dd>
        <dt>J</dt>
        <dd><span>加拿大</span><span>001</span></dd>
        <dt>M</dt>
        <dd><span>馬來西亞</span><span>0060</span></dd>
        <dd><span>美國</span><span>001</span></dd>
        <dt>R</dt>
        <dd><span>日本</span><span>0081</span></dd>
        <dt>T</dt>
        <dd><span>台灣</span><span>00886</span></dd>
        <dd><span>泰國</span><span>0066</span></dd>
        <dt>X</dt>
        <dd><span>中國香港</span><span>00852</span></dd>
        <dd><span>新加坡</span><span>0065</span></dd>
        <dt>Y</dt>
        <dd><span>印度</span><span>0091</span></dd>
        <dd><span>英國</span><span>0044</span></dd>
        <dt>Z</dt>
        <dd><span>中國</span><span>0086</span></dd>
    </dl>
</div>
<script>
    var countryCode = '';
    if ($('#siteLang').val() == 'zh-TW') {
        $('.areaCode').text('台灣00886');
        countryCode = '886';
    } else {
        $('.areaCode').text('中國0086');
        countryCode = '86';
    }
    if (countryCode) {
        if (window.regVm) {
            regVm.countryCode = countryCode;
        }
        if (window.userTellLoginVm) {
            userTellLoginVm.countryCode = countryCode;
        }
        if (window.userPwdLoginVm) {
            userPwdLoginVm.countryCode = countryCode;
        }
        if (window.reSetPsdVm) {
            reSetPsdVm.countryCode = countryCode;
        }
    }
</script>

{% else %}

<span class="areaCode" id="areaCode">中国 0086</span>
<div class="area_code_list">
    <dl class="code_list_main">
        <dt>常用</dt>
        <dd><span>中国</span><span>0086</span></dd>
        <dd><span>中国香港</span><span>00852</span></dd>
        <dd><span>中国台湾</span><span>00886</span></dd>
        <dd><span>中国澳门</span><span>00853</span></dd>
        <dd><span>美国</span><span>001</span></dd>
        <dt>A</dt>
        <dd><span>澳大利亚</span><span>0061</span></dd>
        <dd><span>中国澳门</span><span>00853</span></dd>
        <dt>B</dt>
        <dd><span>巴西</span><span>0055</span></dd>
        <dt>D</dt>
        <dd><span>德国</span><span>0049</span></dd>
        <dt>E</dt>
        <dd><span>俄罗斯</span><span>007</span></dd>
        <dt>F</dt>
        <dd><span>法国</span><span>0033</span></dd>
        <dt>H</dt>
        <dd><span>韩国</span><span>0082</span></dd>
        <dt>J</dt>
        <dd><span>加拿大</span><span>001</span></dd>
        <dt>M</dt>
        <dd><span>马来西亚</span><span>0060</span></dd>
        <dd><span>美国</span><span>001</span></dd>
        <dt>R</dt>
        <dd><span>日本</span><span>0081</span></dd>
        <dt>T</dt>
        <dd><span>中国台湾</span><span>00886</span></dd>
        <dd><span>泰国</span><span>0066</span></dd>
        <dt>X</dt>
        <dd><span>中国香港</span><span>00852</span></dd>
        <dd><span>新加坡</span><span>0065</span></dd>
        <dt>Y</dt>
        <dd><span>印度</span><span>0091</span></dd>
        <dd><span>英国</span><span>0044</span></dd>
        <dt>Z</dt>
        <dd><span>中国</span><span>0086</span></dd>
    </dl>
</div>
<script>
    var countryCode = '';
    if ($('#siteLang').val() == 'zh-TW') {
        $('.areaCode').text('台灣 00886');
        countryCode = '886';
    } else {
        $('.areaCode').text('中国 0086');
        countryCode = '86';
    }
    if (countryCode) {
        if (window.regVm) {
            regVm.countryCode = countryCode;
        }
        if (window.userTellLoginVm) {
            userTellLoginVm.countryCode = countryCode;
        }
        if (window.userPwdLoginVm) {
            userPwdLoginVm.countryCode = countryCode;
        }
        if (window.reSetPsdVm) {
            reSetPsdVm.countryCode = countryCode;
        }
    }
</script>


{% endif %}