<form name="tellLoginForm" ms-validate="@validate">
    <div class="login-input-group" style="overflow: visible">
        <span style="margin-right:25px;"><i class="fa fa-mobile"></i></span>
        {% include "./selectCountryCode.html" %}
        <input type="text" style="text-indent:80px;" class="phone-number" ms-duplex="@phoneNum" placeholder="{{lk.lc_basic_pl_tel}}" ms-rules="{required:true,number:true }"
            data-required-message="{{lk.lc_basic_pl_tel}}" data-message="{{lk.lc_basic_pl_tel}}" >
    </div>
    <div class="login-input-group" style="border-right: none">
        <span><i class="fa fa-random"></i></span>
        <input type="text" name="messageCode" ms-duplex="@messageCode" placeholder="{{lk.label_user_imageCode}}"
            ms-rules="{required:true,maxlength:6,minlength:6,number:true }" data-required-message="{{lk.validate_inputNull | inputNotNull(lk.label_user_imageCode)}}"
            data-message="{{lk.validate_inputCorrect | inputCurrent(lk.label_user_imageCode)}}" id="v-code">
        <button id="get-v-code" ms-on-click="@sendMsgCode" class="vCodeBtn">{{lk.lc_get_messageCode}}</button>
    </div>

    <div style="margin-top: 20px;">
        <button class="btn btn-primary btn-lg btn-block" type="submit">{{lk.lc_login_just}}</button>
    </div>
    <div style="margin-top: 10px;">
        <a href="/users/reg" class="btn btn-default btn-lg btn-block">{{lk.lc_register}}</a>
    </div>
</form>