{% if siteInfo.lang == 'zh-TW' %}
{% set endStr = '_zh-TW' %}
{% else %}
{% set endStr = '' %}
{% endif %}
<form name="tellRegForm" ms-validate="@validate">
    <div class="login-input-group" style="overflow: visible">
        <span style="margin-right:25px;"><i class="fa fa-mobile"></i></span>
        {% include "./selectCountryCode.html" %}
        <input type="text" class="phone-number" ms-duplex="@phoneNum" placeholder="{{lk.lc_basic_pl_tel}}"
            ms-rules="{required:true,number:true }" data-required-message="{{lk.lc_basic_pl_tel}}"
            data-message="{{lk.lc_basic_pl_tel}}" style="text-indent: 82px">
    </div>
    <div class="login-input-group">
        <span><i class="fa fa-lock"></i></span>
        <input type="password" placeholder="{{lk.lc_write_password}}" ms-duplex="@password" ms-rules="{required: true}"
            data-required-message="{{lk.lc_write_current_password}}" data-message="{{lk.lc_write_current_password}}">
    </div>
    <div class="login-input-group" style="border-right: none">
        <span><i class="fa fa-random"></i></span>
        <input type="text" name="messageCode" ms-duplex="@messageCode" placeholder="{{lk.label_user_imageCode}}"
            ms-rules="{required:true,maxlength:6,minlength:6,number:true }"
            data-required-message="{{lk.validate_inputNull | inputNotNull(lk.label_user_imageCode)}}"
            data-message="{{lk.validate_inputCorrect | inputCurrent(lk.label_user_imageCode)}}">
        <button ms-on-click="@sendMsgCode" class="vCodeBtn">{{lk.lc_get_messageCode}}</button>
    </div>

    <div class="agreement">
        <div class=" col-sm-12" style="margin-bottom: 10px;">
            {{lk.label_user_reg_tips_1}} <a href="/userAgreement{{endStr}}.html" class="link"
                target="_blank">{{lk.label_user_reg_agree_1}}</a>
            {{lk.lc_and}}<a href="/privacyServicePolicy{{endStr}}.html"
                target="_blank">{{lk.label_user_reg_agree_2}}</a>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <button type="submit" class="btn btn-primary btn-lg btn-block">{{lk.lc_register}}</button>
    </div>
    <div style="margin-top: 10px;">
        <a href="/users/login" class="btn btn-default btn-lg btn-block">{{lk.lc_login_just}}</a>
    </div>
</form>