{% set linkClass1 = 'link' %}
{% set linkClass2 = 'link' %}
{% set linkClass3 = 'link' %}
{% set linkClass4 = 'link' %}
{% set linkClass5 = 'link' %}
{% if pageType == 'index' %}
{% set linkClass1 = 'link active' %}
{% elif pageType == 'topic' %}
{% set linkClass4 = 'link active' %}
{% elif pageType == 'discover' %}
{% set linkClass5 = 'link active' %}
{% elif pageType == 'hot' %}
{% set linkClass2 = 'link active' %}
{% elif pageType == 'masters' %}
{% set linkClass3 = 'link active' %}
{% endif %}
<ul class="tabNav">
    <li><a href="/" class="{{linkClass1}}">{{lk.label_class_rc}}</a></li>
    <li><a href="/hot.html" class="{{linkClass2}}">{{lk.lc_hotDocuments}}</a></li>
    <li><a href="/masters.html" class="{{linkClass3}}">{{lk.label_content_find_masters}}</a></li>
    <li><a href="/topic.html" class="{{linkClass4}}">{{lk.label_content_special}}</a></li>
    <li><a href="/discover.html" class="{{linkClass5}}">{{lk.label_content_find}}</a></li>
</ul>