<div class="tab-recommend">
    {% for item in specialContentList.docs.slice(0, 9) %}
    <div class="tabCard">
        <div class="tabCardMain">
            <div class="lBox">
                <img src="{{item.sImg}}" alt="{{item.title}}">
            </div>
            <div class="rBox">
                <h3><a href="/details/{{item._id}}.html" target="_blank">{{item.title | cutwords(120,false)}}</a></h3>
                <a href="/details/{{item._id}}.html" target="_blank" class="desc">{{item.discription | cutwords(500)}}</a>
                <div>
                    <span class="titFrBox">{{item.uAuthor.userName}} <span class="time">{{item.updateDate}}</span></span>
                    <div class="tabCarActions">
                        <span><i class="fa fa-eye"></i> <span id="{{'clickNum_'+item._id}}">{{item.clickNum | toReadableNumberKM }}</span></span>
                        <span><i class="fa fa-thumbs-o-up"></i><span id="{{'thumbs_'+item._id}}">{{item.likeNum}}</span></span>
                        <span><i class="fa fa-commenting-o"></i><span id="{{'comments_'+item._id}}">{{item.commentNum}}</span></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}

    {% if specialContentList.docs.length > 10 %}
    <div class="listMore">
        <a href="/download.html">{{lk.label_flash_title_more}}&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    {% endif %}
</div>