{% if specialList.docs.length > 0 %}
<div class="tab-topic">
    {% for item in specialList.docs %}
    <div class="topic-box">
        <div class="topic-box-main">
            <div class="lBox">
                <h2>
                    <a href="/topicList.html?id={{ item._id }}">{{item.name}}</a>
                </h2>
                <div class="subTitle"> {{item.comments | cutwords(60)}} </div>
                <div class="desc">
                    {{item.creator.userName}}<Br>
                    <span>{{item.watch_num}} {{lk.label_content_person_watch}}</span>
                </div>
                {% if item.had_watched %}
                <a class="followTopic">{{lk.label_content_master_had_watched}}</a> {% else %} <a class="followTopic"
                    href="javascript:watchSpecial('{{item._id}}')">{{lk.user_action_tips_add_special}}</a>
                {% endif %}
            </div>
            <div class="rBox hidden-sm hidden-xs">
                <img src="{{item.sImg}}" alt="">
            </div>
        </div>

    </div>
    {% endfor %}
    {% include "./appendItemList.html" %}
</div>
{% endif%}