<template>
    <div class="adminUser">
        <User_ev_hisForm :dialogState="formState"></User_ev_hisForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="user_ev_his" :pageInfo="user_ev_hisList.pageInfo"></TopBar>
                <DataTable :pageInfo="user_ev_hisList.pageInfo" :dataList="user_ev_hisList.docs"></DataTable>
                <Pagination :pageInfo="user_ev_hisList.pageInfo" pageType="user_ev_his"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import User_ev_hisForm from './user_ev_hisForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            User_ev_hisForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'user_ev_hisList'
            ]),
            formState() {
                return this.$store.getters.user_ev_hisFormState
            }
        },
        mounted() {
            this.$store.dispatch('getUser_ev_hisList');
        }
    }
</script>

<style lang="">

</style>