<template>
    <div class="adminUser">
        <VipSetMealForm :dialogState="formState"></VipSetMealForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="vipSetMeal" :pageInfo="vipSetMealList.pageInfo"></TopBar>
                <DataTable :pageInfo="vipSetMealList.pageInfo" :dataList="vipSetMealList.docs"></DataTable>
                <Pagination :pageInfo="vipSetMealList.pageInfo" pageType="vipSetMeal"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import VipSetMealForm from './vipSetMealForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            VipSetMealForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'vipSetMealList'
            ]),
            formState() {
                return this.$store.getters.vipSetMealFormState
            }
        },
        mounted() {
            this.$store.dispatch('getVipSetMealList');
        }
    }
</script>

<style lang="">

</style>