<template>
  <div class="dr-VipSetMealForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      size="small"
      title="修改类别"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item :label="$t('vipSetMeal.time')" prop="time">
          <el-input-number
            size="small"
            :disabled="dialogState.edit"
            v-model="dialogState.formData.time"
            @change="handleVipTimeChange"
            :min="1"
            :max="50"
            label="套餐时间"
          ></el-input-number>
        </el-form-item>
        <el-form-item :label="$t('vipSetMeal.coins')" prop="coins">
          <el-input :disabled="dialogState.edit" size="small" v-model="dialogState.formData.coins"></el-input>
        </el-form-item>
        <el-form-item label="单位" prop="unit">
          <el-select :disabled="dialogState.edit" v-model="dialogState.formData.unit" placeholder="请选择单位">
            <el-option
              v-for="item in unitOption"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('vipSetMeal.state')" prop="state">
          <el-switch
          :disabled="dialogState.edit"
            :on-text="$t('main.radioOn')"
            :off-text="$t('main.radioOff')"
            v-model="dialogState.formData.state"
          ></el-switch>
        </el-form-item>
        <el-form-item :label="$t('vipSetMeal.default')" prop="default">
          <el-switch
            :on-text="$t('main.radioOn')"
            :off-text="$t('main.radioOff')"
            v-model="dialogState.formData.default"
          ></el-switch>
        </el-form-item>
        <el-form-item :label="$t('vipSetMeal.comments')" prop="comments">
          <el-input size="small" type="textarea" v-model="dialogState.formData.comments"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            size="medium"
            type="primary"
            @click="submitForm('ruleForm')"
          >{{dialogState.edit ? $t('main.form_btnText_update') : $t('main.form_btnText_save')}}</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array
  },
  data() {
    return {
      unitOption: [{ value: "MEC", label: "MEC" }],
      rules: {
        name: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("VipSetMeal.name")
            }),
            trigger: "blur"
          },
          {
            min: 1,
            max: 12,
            message: this.$t("validate.rangelength", { min: 1, max: 12 }),
            trigger: "blur"
          }
        ],
        comments: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("main.comments_label")
            }),
            trigger: "blur"
          },
          {
            min: 2,
            max: 30,
            message: this.$t("validate.ranglengthandnormal", {
              min: 2,
              max: 30
            }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    handleVipTimeChange() {},
    confirm() {
      this.$store.dispatch("hideVipSetMealForm");
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.dialogState.formData;
          // 更新
          if (this.dialogState.edit) {
            services.updateVipSetMeal(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideVipSetMealForm");
                this.$store.dispatch("getVipSetMealList");
                this.$message({
                  message: this.$t("main.updateSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          } else {
            // 新增
            services.addVipSetMeal(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideVipSetMealForm");
                this.$store.dispatch("getVipSetMealList");
                this.$message({
                  message: this.$t("main.addSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>