{% extends "../public/defaultTemp.html" %} {% block content %}
<div class="container masterCourseDetail" ms-controller="masterCourseDetail">
    <div class="row" style="margin-top:62px">
        <div class="col-md-12">
            <div class="masterCourseDetailCont">
                <div class="courseCont clearfloat">
                    <div class="courseList">
                        <div class="courseFl">
                            <div class="tit">{{classInfo.name}} <span>{{classInfo.author.userName}}</span></div>
                            <h4>{{lk.lc_study}}{{lk.lc_the}} {{classInfo.hadReadChapters}} {{lk.lc_chapter}}</h4>
                            <h5>{{lk.lc_total}} {{classInfo.update_catalog_num}} {{lk.lc_chapter}}</h5>
                            <a href="javascript:void(0)" onclick="askClassApp('2')" class="article">{{classInfo.comments}}</a>
                            <a href="javascript:void(0)" onclick="askClassApp('2')" class="courseBtn">{{lk.lc_study}}</a>
                        </div>
                        <div class="courseFr">
                            <img src="{{classInfo.sImg}}" alt="{{classInfo.name}}">
                        </div>
                    </div>
                </div>
                <div class="masterCourseDetailCt">
                    <ul class="masterCourseDetailTabNav">
                        <li><a href="javascript:;" aria-controls="catalog" class="link active">{{lk.classContent_label_catalog}}</a></li>
                        <li><a href="javascript:;" aria-controls="detail___{{classInfo.author._id}}" class="link">{{lk.lc_contentDetails}}</a></li>
                        <li><a href="javascript:;" aria-controls="feedback___{{classInfo._id}}" class="link">{{lk.lc_feedback}}</a></li>
                    </ul>
                    <div class="masterCourseDetailTab">
                        <ul>
                            {% if classInfo.update_catalog and classInfo.update_catalog.length>0 %}
                            {% for item in classInfo.update_catalog %}
                            <li><a href="javascript:void(0)" ms-on-click="@showClassTips()">{{item.catalogIndex}}.{{item.catalog}}</a></li>
                            {% endfor %}
                            {% else %}
                            <li class="text-center no-data">{{lk.label_no_data}}</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="masterCourseDetailTab">
                        <div class="userTop">
                            <div class="headPortrait"><img ms-attr="{src: @userDetails.logo,alt:@userDetails.userName }"
                                    alt=""></div>
                            <div class="userInfo">
                                <h3 ms-text="@userDetails.userName"> </h3>
                                <p class="industry" ms-text="@userDetails.comments"></p>
                                <p class="industry"><span ms-text="@userDetails.follow_num"></span>&nbsp;{{lk.label_content_person}}{{lk.user_action_type_collection}}
                                    | {{lk.lc_postMessage}} <span ms-text="@userDetails.content_num"></span>
                                    {{lk.lc_piece}}{{lk.lc_myDocument}}</span>
                                    <a href="javascript:void(0);" ms-visible="!@userDetails.had_followed" ms-on-click="@joinIn(userDetails._id)"
                                        class="editUser"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{lk.user_action_type_collection}}</a>
                                    <a href="javascript:void(0);" ms-visible="@userDetails.had_followed" class="editUser">{{lk.label_content_master_had_watched}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="masterCourseDetailTab">
                        <div class="fraction">
                            <span class="orange">{{classInfo.average | round(1)}} 分</span>
                            <a href="javascript:;" onclick="askClassApp('2')" class="fractionBtn">{{lk.lc_want_comments}}</a>
                        </div>
                        <div ms-visible="@feedbackList.length>0" class="feedback" ms-for="(index,item) in @feedbackList">
                            <div class="headPortrait"><img ms-attr="{src: @item.user.logo,alt:@item.user.userName }"
                                    alt=""></div>
                            <div class="userInfo">
                                <p class="industry"><span ms-text="@item.user.userName"></span> <span class="editUser"
                                        ms-text="@item.date"></span></p>
                                <p class="industry" ms-text="@item.comments"></span></p>
                            </div>
                        </div>
                        <div class="text-center no-data" ms-visible="@feedbackList.length==0">{{lk.label_no_data}}</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}