{% extends "../public/defaultTemp.html" %} {% block content %}
<div class="">
    <div class="">
        <div class="">
            {% include "../public/itemListTemp.html" %}
        </div>
    </div>
</div>
{% endblock %}