{% extends "../public/defaultTemp.html" %} {% block content %}
<script>
    window.onload = function () {
        var a = document.location.href; //
        if (a && a.indexOf("id=comments") != -1) {
            $('html, body').animate({
                scrollTop: $('#userComments').offset().top
            }, 1000)
        }
    }
</script>
<div class="container">
    <div class="row" style="margin-top:62px">
        <div class="col-md-9 dslCol">
            <div class="article">
                <div class="contentTags">
                    <ul>
                        {% for tag in documentInfo.tags %}
                        <li><a href="/tag/{{tag.name}}" target="_blank">{{tag.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <h2> {{documentInfo.title}}</h2>
                {% if documentInfo.type == '1' %}
                {% set contentCate = documentInfo.tags[0].name %}
                {% elif documentInfo.type == '2' %}
                {% set contentCate = documentInfo.categories[0].name %}
                {% endif %}
                <div class="userTop">
                    <div class="userInfo detail-topInfo">
                        <h3>{{documentInfo.uAuthor.userName}}</h3>
                        <div class="follow-me">
                            {% if documentInfo.uAuthor.group == '1' %}
                            {% if documentInfo.uAuthor.had_followed %}
                            <a href="javascript:void(0)" class="editUser">{{lk.label_content_master_had_watched}}</a>
                            {% else %}
                            <a href="javascript:watchMaster('{{documentInfo.uAuthor._id}}','detailFollow')" id="detailFollow"
                                class="editUser"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{lk.user_action_type_collection}}</a>
                            {% endif %}
                            {% endif %}
                        </div>
                        <span class="post-date">{{documentInfo.updateDate}}</span>
                    </div>
                </div>
                <div class="contetKeywords">
                    <ul>
                        {% for keyword in documentInfo.keywords %}
                        <li><a href="/keyword/{{keyword}}" target="_blank">{{keyword}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="articleCont">
                    <div>
                        {{documentInfo.comments | safe}}
                    </div>
                    <div class="speech">

                        <span class="textFl"><i class="fa fa-comment-o" aria-hidden="true"></i>{{contentCate}}</span>
                        <span class="textFr" onclick="askClassApp()"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{lk.user_action_type_report}}</span>
                    </div>
                    <div class="reward" ms-controller="rcStatic">
                        <a href="javascript:void(0);" ms-on-click="@askLike($event,'0','{{documentInfo._id}}')">
                            <i class="fa fa-cny cur"></i>
                            <p id="{{'reword_'+documentInfo._id}}">{{documentInfo.total_reward_num}}</p>
                        </a>
                        <a href="javascript:void(0);" ms-on-click="@askLike($event,'1','{{documentInfo._id}}')"><i
                                class="fa fa-thumbs-o-up"></i>
                            <p>赞&nbsp;<span id="{{'thumbs_'+documentInfo._id}}">{{documentInfo.likeNum}}</span></p>
                        </a>
                        <a href="javascript:void(0);" ms-on-click="@askLike($event,'2','{{documentInfo._id}}')"><i
                                class="fa fa-thumbs-o-down"></i>
                            <p>踩&nbsp;<span id="{{'despises_'+documentInfo._id}}">{{documentInfo.despiseNum}}</span></p>
                        </a>
                    </div>
                    {% include "../public/recContentList.html" %}
                    <div class="comment" id="userComments">
                        <h6>评论 <a href="javascript:void(0)" onclick="getDownloadPage()">{{lk.label_content_download_tips}}
                                ></a> </h6>
                        {% include "../public/msgBoard.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm contentContFr" ms-controller="_article_detail_author_info">
            <div class="frCont">
                <div class="headImg">
                    <img ms-attr="{src: @avatar}" alt="">
                </div>
                <div class="contentContFrTit" ms-text="@userName"></div>
                <p class="introduce" ms-text="@comments"></p>
                <p class="introduce"><span ms-text="@likes"></span>{{lk.user_action_type_give_thumbs_up}}... <span
                        ms-text="@fans"></span>{{lk.lc_fensi}}</p>
                <div class="recent">
                    <h4>{{lk.lc_recent_essence}}</h4>
                    <ul>
                        <li ms-for="item in @articles">
                            <p><a href="#" ms-attr="{title: @item.title, href: '/details/' + @item._id + '.html'}"
                                    ms-text="@item.title"></a></p>
                            <div class="cont">
                                <span class="time" ms-text="@item.updateDate"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-primary btn-block downloadBtn" href="/download.html" role="button">{{lk.label_content_download_tips1}}</a>
            </div>
        </div>
        <script>
            $(function () {
                var vm = avalon.define({
                    $id: '_article_detail_author_info',
                    userId: '{{ documentInfo.uAuthor._id }}',
                    avatar: '',
                    userName: '',
                    comments: '',
                    likes: 0,
                    fans: 0,
                    articles: [],

                    getUserInfo: function () {
                        getAjaxData('/api/v0/user/getUserInfoById?id=' + vm.userId, function (data) {
                            if (data.status === 200) {
                                vm.avatar = data.data.logo
                                vm.userName = data.data.userName
                                vm.comments = data.data.comments
                                vm.likes = data.data.total_likeNum
                                vm.fans = data.data.follow_num
                            }
                        });
                    },
                    getArticles: function () {
                        getAjaxData('/api/v0/content/getList?current=1&pageSize=3&userId=' +
                            vm.userId,
                            function (data) {
                                console.log(data);
                                if (data.status === 200 && data.data.docs.length) {
                                    vm.articles = data.data.docs
                                }
                            });
                    }
                })

                vm.getUserInfo()
                vm.getArticles()
            })
        </script>
    </div>
</div>
{% endblock %}