<template>
  <div class="regUser">
    <UserForm :dialogState="formState" :masterCategoryOptions="masterCategoryOptions"></UserForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="regUser" :ids="selectlist" :pageInfo="regUserList.pageInfo"></TopBar>
        <DataTable
          :pageInfo="regUserList.pageInfo"
          :dataList="regUserList.docs"
          @changeUserSelectList="changeSelect"
        ></DataTable>
        <Pagination :pageInfo="regUserList.pageInfo" pageType="regUser"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import UserForm from "./userForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {
      selectlist: []
    };
  },
  components: {
    DataTable,
    TopBar,
    UserForm,
    Pagination
  },
  methods: {
    changeSelect(ids) {
      this.selectlist = ids;
    }
  },
  computed: {
    ...mapGetters(["regUserList", "masterCategoryList"]),
    formState() {
      return this.$store.getters.regUserFormState;
    },
    masterCategoryOptions() {
      let currentMasterCategory = this.masterCategoryList.docs;
      let cateArr = [];
      for (const category of currentMasterCategory) {
        cateArr.push({ value: category._id, label: category.name });
      }
      return cateArr;
    }
  },
  mounted() {
    this.$store.dispatch("getRegUserList");
    this.$store.dispatch("getMasterCategoryList", { model: "full" });
  }
};
</script>

<style lang="">
</style>