<template>
    <div class="adminUser">
        <MbtManageForm :dialogState="formState"></MbtManageForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="mbtManage" :pageInfo="mbtManageList.pageInfo"></TopBar>
                <DataTable :pageInfo="mbtManageList.pageInfo" :dataList="mbtManageList.docs"></DataTable>
                <Pagination :pageInfo="mbtManageList.pageInfo" pageType="mbtManage"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import MbtManageForm from './mbtManageForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            MbtManageForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'mbtManageList'
            ]),
            formState() {
                return this.$store.getters.mbtManageFormState
            }
        },
        mounted() {
            this.$store.dispatch('getMbtManageList');
        }
    }
</script>

<style lang="">

</style>