<template>
  <div class="dr-MbtManageForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      size="small"
      title="添加MBT记录"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item label="用户" prop="user">
          <el-select
            v-model="dialogState.formData.user"
            filterable
            remote
            size="small"
            reserve-keyword
            placeholder="请输入要发放的用户名"
            :remote-method="remoteMethod"
            :loading="loading"
          >
            <el-option
              v-for="item in selectUserList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('mbtManage.coins')" prop="shareArticlScore">
          <el-input-number
            size="small"
            v-model="dialogState.formData.coins"
            @change="handleCoinsChange"
            :min="1"
            :max="5000"
            label="币数"
          ></el-input-number>
        </el-form-item>
        <el-form-item :label="$t('mbtManage.action')" prop="logs">
          <el-input size="small" type="textarea" v-model="dialogState.formData.logs"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            size="medium"
            type="primary"
            @click="submitForm('ruleForm')"
          >{{dialogState.edit ? $t('main.form_btnText_update') : $t('main.form_btnText_save')}}</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array
  },
  data() {
    return {
      selectUserList: [],
      loading: false,
      rules: {
        user: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("MbtManage.name")
            }),
            trigger: "blur"
          }
        ],
        logs: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("main.comments_label")
            }),
            trigger: "blur"
          },
          {
            min: 2,
            max: 30,
            message: this.$t("validate.ranglengthandnormal", {
              min: 2,
              max: 30
            }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    handleCoinsChange(value) {
      console.log(value);
    },
    remoteMethod(query) {
      if (query !== "") {
        this.loading = true;
        let _this = this;
        this.queryUserListByParams({ searchkey: query });
      } else {
        this.selectUserList = [];
      }
    },
    queryUserListByParams(params = {}) {
      let _this = this;
      services
        .regUserList(params)
        .then(result => {
          let specialList = result.data.data.docs;
          if (specialList) {
            _this.selectUserList = specialList.map(item => {
              return {
                value: item._id,
                label: item.userName
              };
            });
            _this.loading = false;
          } else {
            _this.selectUserList = [];
          }
        })
        .catch(err => {
          console.log(err);
          _this.selectUserList = [];
        });
    },
    confirm() {
      this.$store.dispatch("hideMbtManageForm");
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.dialogState.formData;
          // 更新
          if (this.dialogState.edit) {
          } else {
            // 新增
            services.addMbtManage(params).then(result => {
              if (result.data.status === 200) {
                this.$store.dispatch("hideMbtManageForm");
                this.$store.dispatch("getMbtManageList");
                this.$message({
                  message: this.$t("main.addSuccess"),
                  type: "success"
                });
              } else {
                this.$message.error(result.data.message);
              }
            });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>