<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="user" :label="$t('currencyApproval.user')">
        <template slot-scope="scope">{{scope.row.user.userName}}</template>
      </el-table-column>
      <el-table-column prop="unit" :label="$t('currencyApproval.unit')"></el-table-column>
      <el-table-column prop="coins" :label="$t('currencyApproval.coins')"></el-table-column>
      <el-table-column prop="walletAddress" :label="$t('currencyApproval.walletAddress')">
        <template slot-scope="scope">{{scope.row.walletAddress.wallet}}</template>
      </el-table-column>
      <el-table-column prop="state" :label="$t('currencyApproval.state')">
        <template slot-scope="scope">
          <span v-if="scope.row.state == '0'">待审核</span>
          <span v-if="scope.row.state == '1'">审核通过</span>
          <span v-if="scope.row.state == '2'">审核不通过</span>
        </template>
      </el-table-column>
      <el-table-column prop="uuid" :label="$t('currencyApproval.uuid')"></el-table-column>
      <el-table-column prop="comments" :label="$t('currencyApproval.comments')"></el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            :disabled="scope.row.state == '1'"
            plain
            round
            @click="editCurrencyApproval(scope.$index, dataList)"
          >
            <i class="fa fa-edit"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: [],
      green: { color: "#13CE66" },
      red: { color: "#FF4949" }
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editCurrencyApproval(index, rows) {
      let rowData = rows[index];
      this.$store.dispatch("showCurrencyApprovalForm", {
        edit: true,
        formData: rowData
      });
    }
  }
};
</script>