<template>
    <div class="adminUser">
        <CurrencyApprovalForm :dialogState="formState"></CurrencyApprovalForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="currencyApproval" :pageInfo="currencyApprovalList.pageInfo"></TopBar>
                <DataTable :pageInfo="currencyApprovalList.pageInfo" :dataList="currencyApprovalList.docs"></DataTable>
                <Pagination :pageInfo="currencyApprovalList.pageInfo" pageType="currencyApproval"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import CurrencyApprovalForm from './currencyApprovalForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            CurrencyApprovalForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'currencyApprovalList'
            ]),
            formState() {
                return this.$store.getters.currencyApprovalFormState
            }
        },
        mounted() {
            this.$store.dispatch('getCurrencyApprovalList');
        }
    }
</script>

<style lang="">

</style>