<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="user" :label="$t('reportRecord.user')">
        <template slot-scope="scope">{{scope.row.user.userName}}</template>
      </el-table-column>
      <el-table-column prop="comments" :label="$t('reportRecord.comments')"></el-table-column>
      <el-table-column prop="target_content" :label="$t('reportRecord.target_content')">
        <template slot-scope="scope">{{scope.row.target_content?scope.row.target_content.title:''}}</template>
      </el-table-column>
      <el-table-column prop="target_message" :label="$t('reportRecord.target_message')">
        <template
          slot-scope="scope"
        >{{scope.row.target_message?scope.row.target_message.content:''}}</template>
      </el-table-column>
      <el-table-column
        prop="target_communityContent"
        :label="$t('reportRecord.target_communityContent')"
      >
        <template
          slot-scope="scope"
        >{{scope.row.target_communityContent?scope.row.target_communityContent.comments:''}}</template>
      </el-table-column>

      <el-table-column prop="state" :label="$t('reportRecord.state')">
        <template slot-scope="scope">
          <span v-if="scope.row.state == '0'">待审核</span>
          <span v-if="scope.row.state == '1'">审核通过</span>
          <span v-if="scope.row.state == '2'">审核不通过</span>
        </template>
      </el-table-column>
      <el-table-column prop="approver" :label="$t('reportRecord.approver')">
        <template slot-scope="scope">{{scope.row.approver?scope.row.approver.userName:''}}</template>
      </el-table-column>
      <el-table-column prop="time" :label="$t('reportRecord.date')"></el-table-column>
      <el-table-column prop="updatetime" :label="$t('reportRecord.updatetime')"></el-table-column>

      <el-table-column :label="$t('main.dataTableOptions')" width="150">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            :disabled="scope.row.state == '1'"
            plain
            round
            @click="editReportRecord(scope.$index, dataList)"
          >
            <i class="fa fa-edit"></i>
          </el-button>
          <el-button
            size="mini"
            type="danger"
            plain
            round
            icon="el-icon-delete"
            @click="deleteReportRecord(scope.$index, dataList)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editReportRecord(index, rows) {
      let rowData = rows[index];
      this.$store.dispatch("showReportRecordForm", {
        edit: true,
        formData: rowData
      });
    },
    deleteReportRecord(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteReportRecord({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getReportRecordList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>