<template>
    <div class="adminUser">
        <ReportRecordForm :dialogState="formState"></ReportRecordForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="reportRecord" :pageInfo="reportRecordList.pageInfo"></TopBar>
                <DataTable :pageInfo="reportRecordList.pageInfo" :dataList="reportRecordList.docs"></DataTable>
                <Pagination :pageInfo="reportRecordList.pageInfo" pageType="reportRecord"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import ReportRecordForm from './reportRecordForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            ReportRecordForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'reportRecordList'
            ]),
            formState() {
                return this.$store.getters.reportRecordFormState
            }
        },
        mounted() {
            this.$store.dispatch('getReportRecordList');
        }
    }
</script>

<style lang="">

</style>