<template>
  <div class="block dr-pagination">
    <div v-if="pageInfo">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="pageInfo.current"
        :page-sizes="[10, 30, 50]"
        :page-size="pageInfo.pageSize"
        layout="sizes, prev, pager, next"
        :total="pageInfo.totalItems"
      ></el-pagination>
    </div>
  </div>
</template>
<style lang="">
.dr-pagination {
  text-align: center;
  margin: 15px auto;
}
</style>
<script>
export default {
  props: {
    pageInfo: Object,
    pageType: String
  },
  methods: {
    renderPageList(current = 1, pageSize = 10) {
      let searchkey = this.pageInfo ? this.pageInfo.searchkey : "";
      let state = this.pageInfo ? this.pageInfo.state : "";
      let user = this.pageInfo ? this.pageInfo.user : "";
      let targetCurrent = current;
      if (this.pageType === "content") {
        this.$store.dispatch("getContentList", {
          current: targetCurrent,
          pageSize,
          searchkey,
          state,
          userId: user
        });
      } else if (this.pageType === "adminUser") {
        this.$store.dispatch("getAdminUserList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "adminGroup") {
        this.$store.dispatch("getAdminGroupList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "contentMessage") {
        this.$store.dispatch("getContentMessageList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "contentTag") {
        this.$store.dispatch("getContentTagList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "special") {
        this.$store.dispatch("getSpecialList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "masterCategory") {
        this.$store.dispatch("getMasterCategoryList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "regUser") {
        this.$store.dispatch("getRegUserList", {
          current: targetCurrent,
          pageSize,
          searchkey,
          isTopBar: this.pageInfo.isTopBar || "0"
        });
      } else if (this.pageType === "backUpData") {
        this.$store.dispatch("getBakDateList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "systemOptionLogs") {
        let type = this.pageInfo ? this.pageInfo.type : "";
        this.$store.dispatch("getSystemLogsList", {
          current: targetCurrent,
          pageSize,
          searchkey,
          type
        });
      } else if (this.pageType === "systemNotify") {
        this.$store.dispatch("getSystemNotifyList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "systemAnnounce") {
        this.$store.dispatch("getSystemAnnounceList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "ads") {
        this.$store.dispatch("getAdsList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "siteMessage") {
        this.$store.dispatch("getSiteMessageList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "classType") {
        this.$store.dispatch("getClassTypeList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "classInfo") {
        this.$store.dispatch("getClassInfoList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "classContent") {
        this.$store.dispatch("getClassContentList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "classFeedback") {
        this.$store.dispatch("getClassFeedbackList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "community") {
        this.$store.dispatch("getCommunityList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "communityContent") {
        this.$store.dispatch("getCommunityContentList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "assignRunSnapshot") {
        this.$store.dispatch("getAssignRunSnapshotList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "userActionHis") {
        this.$store.dispatch("getUserActionHisList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "classScore") {
        this.$store.dispatch("getClassScoreList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "billRecord") {
        this.$store.dispatch("getBillRecordList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "invitationRecord") {
        this.$store.dispatch("getInvitionList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "mstt_book") {
        this.$store.dispatch("getMstt_bookList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "reward_his") {
        this.$store.dispatch("getReward_hisList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "review_his") {
        this.$store.dispatch("getReview_hisList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "user_mi_mp_his") {
        this.$store.dispatch("getUser_mi_mp_hisList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "user_ev_his") {
        this.$store.dispatch("getUser_ev_hisList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "user_reward_his") {
        this.$store.dispatch("getUser_reward_hisList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "threshold_master") {
        this.$store.dispatch("getThreshold_masterList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "action_limit_master") {
        this.$store.dispatch("getAction_limit_masterList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "weight_master") {
        this.$store.dispatch("getWeight_masterList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "classPayRecord") {
        this.$store.dispatch("getClassPayRecordList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "resetAmount") {
        this.$store.dispatch("getResetAmountList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "agreement") {
        this.$store.dispatch("getAgreementList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "helpCenter") {
        this.$store.dispatch("getHelpCenterList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "feedBack") {
        this.$store.dispatch("getFeedBackList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "currencyApproval") {
        this.$store.dispatch("getCurrencyApprovalList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "creativeRight") {
        this.$store.dispatch("getCreativeRightList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "reportRecord") {
        this.$store.dispatch("getReportRecordList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "identityAuthentication") {
        this.$store.dispatch("getIdentityAuthenticationList", {
          current: targetCurrent,
          pageSize,
          searchkey,
          type: "1"
        });
      } else if (this.pageType === "identityAuthenticationMaster") {
        this.$store.dispatch("getIdentityAuthenticationList", {
          current: targetCurrent,
          pageSize,
          searchkey,
          type: "2"
        });
      } else if (this.pageType === "signIn") {
        this.$store.dispatch("getSignInList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "openVipRecord") {
        this.$store.dispatch("getOpenVipRecordList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "vipSetMeal") {
        this.$store.dispatch("getVipSetMealList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "communityMessage") {
        this.$store.dispatch("getCommunityMessageList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "communityTag") {
        this.$store.dispatch("getCommunityTagList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "hotSearch") {
        this.$store.dispatch("getHotSearchList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "versionManage") {
        this.$store.dispatch("getVersionManageList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "mbtManage") {
        this.$store.dispatch("getMbtManageList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      } else if (this.pageType === "integralonfig") {
        this.$store.dispatch("getIntegralonfigList", {
          current: targetCurrent,
          pageSize,
          searchkey
        });
      }
      //ComponentPaginationEnd
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      let current = this.pageInfo ? this.pageInfo.current : 1;
      this.renderPageList(current, val);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      let pageSize = this.pageInfo ? this.pageInfo.pageSize : 10;
      this.renderPageList(val, pageSize);
    }
  },
  data() {
    return {};
  }
};
</script>