<template>
    <div class="adminUser">
        <SignInForm :dialogState="formState"></SignInForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="signIn" :pageInfo="signInList.pageInfo"></TopBar>
                <DataTable :pageInfo="signInList.pageInfo" :dataList="signInList.docs"></DataTable>
                <Pagination :pageInfo="signInList.pageInfo" pageType="signIn"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import SignInForm from './signInForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            SignInForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'signInList'
            ]),
            formState() {
                return this.$store.getters.signInFormState
            }
        },
        mounted() {
            this.$store.dispatch('getSignInList');
        }
    }
</script>

<style lang="">

</style>