<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="classContent" :label="$t('classFeedback.classTitle')" width="200">
        <template slot-scope="scope">{{scope.row.classContent.name}}</template>
      </el-table-column>
      <el-table-column
        prop="content"
        :label="$t('classFeedback.content')"
        width="280"
        show-overflow-tooltip
      >
        <template slot-scope="scope">{{scope.row.content | cutWords(20)}}</template>
      </el-table-column>
      <el-table-column prop="author" :label="$t('classFeedback.author')">
        <template slot-scope="scope">{{scope.row.author.userName}}</template>
      </el-table-column>
      <el-table-column prop="replyAuthor" :label="$t('classFeedback.replyAuthor')">
        <template slot-scope="scope">{{scope.row.replyAuthor?scope.row.replyAuthor.userName:''}}</template>
      </el-table-column>
      <el-table-column prop="date" :label="$t('classFeedback.date')">
        <template slot-scope="scope">{{scope.row.date}}</template>
      </el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150" fixed="right">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="danger"
            plain
            round
            icon="el-icon-delete"
            @click="deleteClassFeedback(scope.$index, dataList)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    deleteClassFeedback(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteClassFeedback({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getClassFeedbackList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>