<template>
    <div class="adminUser">
        <ClassFeedbackForm :dialogState="formState"></ClassFeedbackForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="classFeedback" :pageInfo="classFeedbackList.pageInfo"></TopBar>
                <DataTable :pageInfo="classFeedbackList.pageInfo" :dataList="classFeedbackList.docs"></DataTable>
                <Pagination :pageInfo="classFeedbackList.pageInfo" pageType="classFeedback"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import ClassFeedbackForm from './classFeedbackForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            ClassFeedbackForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'classFeedbackList'
            ]),
            formState() {
                return this.$store.getters.classFeedbackFormState
            }
        },
        mounted() {
            this.$store.dispatch('getClassFeedbackList');
        }
    }
</script>

<style lang="">

</style>