<template>
  <div class="dr-contentForm">
    <el-form
      :model="formState.formData"
      :rules="rules"
      ref="ruleForm"
      label-width="120px"
      class="demo-ruleForm"
    >
      <el-form-item :label="$t('contents.type')" prop="type">
        <el-radio-group @change="changeContentType" v-model="formState.formData.type">
          <el-radio
            class="radio"
            :disabled="formState.edit"
            label="1"
          >{{$t('contents.type_normal')}}</el-radio>
          <el-radio
            class="radio"
            :disabled="formState.edit"
            label="2"
          >{{$t('contents.type_special')}}</el-radio>
          <el-radio class="radio" :disabled="formState.edit" label="3">{{$t('contents.type_video')}}</el-radio>
          <el-radio class="radio" :disabled="formState.edit" label="4">{{$t('contents.type_audio')}}</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item :label="$t('contents.enable')" prop="state">
        <el-select size="small" v-model="formState.formData.state" placeholder="审核文章">
          <el-option
            v-for="item in contentState"
            :key="'kw_'+item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="formState.formData.state == '3'" label="驳回原因" prop="dismissReason">
        <el-input size="small" v-model="formState.formData.dismissReason"></el-input>
      </el-form-item>
      <el-form-item label="指定用户" prop="targetUser">
        <el-select
          size="small"
          v-model="formState.formData.targetUser"
          filterable
          remote
          reserve-keyword
          placeholder="请输入要分配的用户名"
          :remote-method="remoteUserMethod"
          :loading="userLoading"
        >
          <el-option
            v-for="item in selectUserList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('contents.title')" prop="title">
        <el-input size="small" v-model="formState.formData.title"></el-input>
      </el-form-item>

      <div v-if="formState.formData.type == '2'">
        <el-form-item :label="$t('contents.categories')" prop="categories">
          <el-select
            v-model="formState.formData.categories"
            filterable
            remote
            reserve-keyword
            placeholder="请输入专题名称"
            :remote-method="remoteMethod"
            :loading="loading"
          >
            <el-option
              v-for="item in selectSpecialList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
      </div>
      <div v-if="formState.formData.type != '2'">
        <el-form-item :label="$t('contents.stitle')" prop="stitle">
          <el-input size="small" v-model="formState.formData.stitle"></el-input>
        </el-form-item>

        <el-form-item label="关键字" prop="keywords">
          <el-input size="small" v-model="formState.formData.keywords"></el-input>
        </el-form-item>

        <el-form-item label="标签" prop="tags">
          <el-select
            size="small"
            v-model="formState.formData.tags"
            multiple
            filterable
            allow-create
            :placeholder="$t('validate.selectNull', {label: this.$t('contents.tags')})"
          >
            <el-option
              v-for="item in contentTagList.docs"
              :key="item._id"
              :label="item.name"
              :value="item._id"
            ></el-option>
          </el-select>
        </el-form-item>
      </div>
      <el-form-item :label="$t('contents.sImg')" prop="sImg">
        <el-upload
          class="avatar-uploader"
          action="/api/v0/upload/files?type=images"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
        >
          <img v-if="formState.formData.sImg" :src="formState.formData.sImg" class="avatar" />
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </el-form-item>
      <el-form-item :label="$t('contents.discription')" prop="discription">
        <el-input size="small" type="textarea" v-model="formState.formData.discription"></el-input>
      </el-form-item>

      <div v-if="formState.formData.type == '1'||formState.formData.type == '2'">
        <el-form-item :label="$t('contents.comments')" prop="comments">
          <Ueditor @ready="editorReady" ref="ueditor"></Ueditor>
        </el-form-item>
      </div>
      <div v-else-if="formState.formData.type == '3'">
        <el-form-item :label="$t('contents.type_video_file')" prop="videoUrl">
          <el-upload
            action
            :http-request="UploadVideos"
            :before-upload="beforeVideosAvatarUpload"
            :on-preview="handleVideosPreview"
            :before-remove="beforeVideosRemove"
            :on-remove="handleVideosRemove"
            :on-success="handleVideosSuccess"
            :on-exceed="handleVideosExceed"
            drag
            :limit="limit"
            :file-list="fileList"
          >
            <video
              v-if="formState.formData.videoUrl"
              :src="formState.formData.videoUrl"
              style="width:100%;height:100%"
              controls="controls"
            >your browser does not support the video tag</video>
            <div v-else>
              <svg-icon class-name="size-icon" icon-class="video" />
              <div class="el-upload__text">
                将文件拖到此处，或
                <em>点击上传</em>
              </div>
            </div>

            <div slot="tip" class="el-upload__tip">上传视频文件大小不能超过 5G</div>
          </el-upload>

          <el-progress
            v-show="showProgress"
            :text-inside="true"
            :stroke-width="15"
            :percentage="progress"
          ></el-progress>
        </el-form-item>
      </div>
      <div v-else>
        <el-form-item :label="$t('contents.type_audio_file')" prop="audioUrl">
          <el-upload
            action
            :http-request="UploadAudios"
            :before-upload="beforeAudiosAvatarUpload"
            :on-preview="handleAudiosPreview"
            :before-remove="beforeAudiosRemove"
            :on-remove="handleAudiosRemove"
            :on-success="handleAudiosSuccess"
            :on-exceed="handleAudiosExceed"
            drag
            :limit="limit"
            :file-list="audioFileList"
          >
            <audio
              controls="controls"
              v-if="formState.formData.audioUrl"
              :src="formState.formData.audioUrl"
            >您的浏览器不支持 audio 标签。</audio>
            <div v-else>
              <svg-icon class-name="size-icon" icon-class="audio" />
              <div class="el-upload__text">
                将文件拖到此处，或
                <em>点击上传</em>
              </div>
            </div>

            <div slot="tip" class="el-upload__tip">上传音频文件大小不能超过 5G</div>
          </el-upload>

          <el-progress
            v-show="showAudioProgress"
            :text-inside="true"
            :stroke-width="15"
            :percentage="audioProgress"
          ></el-progress>
        </el-form-item>
      </div>
      <el-form-item class="dr-submitContent">
        <el-button
          size="medium"
          type="primary"
          @click="submitForm('ruleForm')"
        >{{formState.edit ? $t('main.form_btnText_update') : $t('main.form_btnText_save')}}</el-button>
        <el-button size="medium" @click="backToList">{{$t('main.back')}}</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style lang="scss">
.dr-contentForm {
  margin: 15px 0;
  width: 80%;
  padding-bottom: 50px;
  .post-rate {
    .el-rate {
      margin-top: 10px;
    }
  }
  .dr-submitContent {
    position: fixed;
    z-index: 9999999;
    padding: 10px 30px;
    text-align: right;
    right: 0;
    bottom: 0;
    background: none;
    margin-bottom: 0;
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 200px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  .avatar-uploader-media-icon {
    font-size: 28px;
    color: #8c939d;
    width: 450px;
    height: 250px;
    line-height: 250px;
    text-align: center;
    .svg-icon {
      width: 2em;
      height: 1.5em;
    }
  }
  .avatar {
    width: 200px;
    height: 158px;
    display: block;
  }
  .el-upload {
    .svg-icon {
      width: 2em;
      height: 1.5em;
      font-size: 30px;
      margin-top: 42px;
      color: #ccc;
    }
  }
}
</style>

<script>
import { client, getFileNameUUID } from "@/utils/ali-oss"; //前面的ali-js文件内的两个封装函数
import services from "../../store/services.js";
import Ueditor from "../common/Ueditor.vue";

import _ from "lodash";
import { mapGetters, mapActions } from "vuex";
export default {
  props: {
    groups: Array,
    limit: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      fileList: [], //文件列
      audioFileList: [], //文件列
      showProgress: false, //进度条的显示
      showAudioProgress: false, //进度条的显示
      dataObj: {}, //存签名信息
      progress: 0, //进度条数据
      audioProgress: 0, //进度条数据
      videoCutImg: "",
      audioCutImg: "",
      contentState: [
        // { value: "0", label: "退回" },
        { value: "1", label: "待审核" },
        { value: "2", label: "审核通过" },
        { value: "3", label: "审核不通过" }
      ],
      loading: false,
      userLoading: false,
      selectUserList: [],
      selectSpecialList: [],
      content: "",
      simpleComments: "",
      isflash: false,
      config: {
        initialFrameWidth: null,
        initialFrameHeight: 320
      },
      imageUrl: "",
      flashPostConfig: {
        panneState: true
      },
      currentType: "1",
      rules: {
        sImg: [
          {
            required: true,
            message: this.$t("validate.selectNull", {
              label: "缩略图"
            }),
            trigger: "blur"
          }
        ],
        targetUser: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: "请指定用户"
            }),
            trigger: "blur"
          }
        ],
        title: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("contents.title")
            }),
            trigger: "blur"
          },
          {
            min: 2,
            max: 50,
            message: this.$t("validate.rangelength", { min: 2, max: 50 }),
            trigger: "blur"
          }
        ],
        stitle: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("contents.stitle")
            }),
            trigger: "blur"
          },
          {
            min: 2,
            max: 50,
            message: this.$t("validate.rangelength", { min: 2, max: 50 }),
            trigger: "blur"
          }
        ],
        tags: [
          {
            validator: (rule, value, callback) => {
              if (_.isEmpty(value)) {
                callback(
                  new Error(
                    this.$t("validate.selectNull", {
                      label: this.$t("contents.tags")
                    })
                  )
                );
              } else {
                callback();
              }
            },
            trigger: "change"
          }
        ],
        discription: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("contents.discription")
            }),
            trigger: "blur"
          },
          {
            min: 5,
            max: 300,
            message: this.$t("validate.rangelength", { min: 5, max: 100 }),
            trigger: "blur"
          }
        ],
        comments: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("contents.comments")
            }),
            trigger: "blur"
          },
          {
            min: 5,
            message: this.$t("validate.rangelength", { min: 5, max: 100000 }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  components: {
    Ueditor
  },
  methods: {
    changeContentType(type) {},
    remoteMethod(query) {
      if (query !== "") {
        this.loading = true;
        let _this = this;
        this.querySpecialListByParams({ searchkey: query });
      } else {
        this.selectSpecialList = [];
      }
    },
    querySpecialListByParams(params = {}) {
      let _this = this;
      services
        .specialList(params)
        .then(result => {
          let specialList = result.data.data.docs;
          if (specialList) {
            _this.selectSpecialList = specialList.map(item => {
              return {
                value: item._id,
                label:
                  item.name.length > 10
                    ? item.name.substring(0, 10) + "..."
                    : item.name
              };
            });
            _this.loading = false;
          } else {
            _this.selectSpecialList = [];
          }
        })
        .catch(err => {
          console.log(err);
          _this.selectSpecialList = [];
        });
    },
    remoteUserMethod(query) {
      if (query !== "") {
        this.userLoading = true;
        let _this = this;
        this.queryUserListByParams({ searchkey: query, group: "1" });
      } else {
        this.selectUserList = [];
      }
    },
    queryUserListByParams(params = {}) {
      let _this = this;
      services
        .regUserList(params)
        .then(result => {
          let specialList = result.data.data.docs;
          if (specialList) {
            _this.selectUserList = specialList.map(item => {
              return {
                value: item._id,
                label: item.userName
              };
            });
            _this.userLoading = false;
          } else {
            _this.selectUserList = [];
          }
        })
        .catch(err => {
          console.log(err);
          _this.selectUserList = [];
        });
    },
    inputEditor(value) {
      this.$store.dispatch("showSubstituteContentForm", {
        edit: this.formState.edit,
        formData: Object.assign({}, this.formState.formData, {
          markDownComments: value
        })
      });
    },
    editorReady(instance) {
      this.ueditorObj = instance;
      if (this.formState.edit) {
        setTimeout(() => {
          instance.setContent(this.formState.formData.comments);
          this.simpleComments = instance.getPlainTxt();
        }, 1500);
      } else {
        instance.setContent("");
      }
      instance.addListener("contentChange", () => {
        this.content = instance.getContent();
        this.simpleComments = instance.getPlainTxt();
        this.$store.dispatch("showSubstituteContentForm", {
          edit: this.formState.edit,
          formData: Object.assign({}, this.formState.formData, {
            comments: this.content,
            simpleComments: this.simpleComments
          })
        });
      });
    },

    handleAvatarSuccess(res, file) {
      let imageUrl = res.data.path;
      this.$store.dispatch("showSubstituteContentForm", {
        edit: this.formState.edit,
        formData: Object.assign({}, this.formState.formData, {
          sImg: imageUrl
        })
      });
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isPNG = file.type === "image/png";
      const isGIF = file.type === "image/gif";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG && !isPNG && !isGIF) {
        this.$message.error(this.$t("validate.limitUploadImgType"));
      }
      if (!isLt2M) {
        this.$message.error(
          this.$t("validate.limitUploadImgSize", { size: 2 })
        );
      }
      return (isJPG || isPNG || isGIF) && isLt2M;
    },

    handleChangeCategory(value) {
      console.log(value);
    },
    backToList() {
      this.$router.push("/content");
    },
    submitForm(formName, type = "") {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = Object.assign(
            { action: "substitute" },
            this.formState.formData
          );
          if (params.type == "1" || params.type == "2") {
            Object.assign(params, {
              comments: this.ueditorObj.getContent(),
              simpleComments: this.ueditorObj.getPlainTxt()
            });
          } else if (params.type == "3" || params.type == "4") {
            if (params.discription) {
              params.comments = params.discription;
            }
          }
          services.addContent(params).then(result => {
            if (result.data.status === 200) {
              this.$store.dispatch("showSubstituteContentForm");
              this.$message({
                message: this.$t("main.addSuccess"),
                type: "success"
              });
              this.$router.push("/content");
            } else {
              this.$message.error(result.data.message);
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 文件超出个数限制时的钩子
    handleVideosExceed(files, fileList) {
      this.$message.warning(`每次只能上传 ${this.limit} 个文件`);
    },
    // 点击文件列表中已上传的文件时的钩子
    handleVideosPreview(file) {},
    // 删除文件之前的钩子
    beforeVideosRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`);
    },
    // 文件列表移除文件时的钩子
    handleVideosRemove(file, fileList) {},
    // 文件上传成功时的钩子
    handleVideosSuccess(response, file, fileList) {
      this.fileList = fileList;
    },
    //文件上传前的校验
    beforeVideosAvatarUpload(file) {
      const isLt5G =
        file.size / 1024 / 1024 > 1 && file.size / 1024 / 1024 < 1024 * 5;
      const isLt30 = file.name.length < 30;
      if (
        [
          "video/mp4",
          "video/avi",
          "video/flv",
          "video/ogg",
          "video/mpg",
          "video/webm"
        ].indexOf(file.type) == -1
      ) {
        this.$message.error("请上传正确的视频格式");
        return false;
      }
      if (!isLt5G) {
        this.$message.error("上传视频大小要在1MB~5GB之间哦!");
        return false;
      }
      if (!isLt30) {
        this.$message.error("上传视频文件名称长度必须要小于30个文字哦!");
        return false;
      }
      // 请求后台接口拿配置参数
      return new Promise((resolve, reject) => {
        services
          .getAliOSSConfig()
          .then(response => {
            if (response.data && response.data.data) {
              this.dataObj = response.data.data; //接口返回配置参数
              resolve(true);
            } else {
              reject(false);
            }
          })
          .catch(err => {
            console.log(err);
            reject(false);
          });
      });
    },
    // http-request属性来覆盖默认的上传行为（即action="url"），自定义上传的实现
    UploadVideos(file) {
      const that = this;
      async function multipartUpload() {
        let temporary = file.file.name.lastIndexOf(".");
        let fileNameLength = file.file.name.length;
        let fileFormat = file.file.name.substring(
          temporary + 1,
          fileNameLength
        );
        let fileName = getFileNameUUID() + "." + fileFormat;
        client(that.dataObj)
          .multipartUpload(`upload/videos/${fileName}`, file.file, {
            progress: function(p) {
              //p进度条的值
              console.log(p);
              that.showProgress = true;
              that.progress = Math.floor(p * 100);
            }
          })
          .then(result => {
            //上传成功返回值，可针对项目需求写其他逻辑
            // TODO
            if (result && result.res && !_.isEmpty(result.res.requestUrls)) {
              let videoUrl = result.res.requestUrls[0].split("?uploadId")[0];
              that.$store.dispatch("showSubstituteContentForm", {
                edit: that.formState.edit,
                formData: Object.assign({}, that.formState.formData, {
                  videoUrl: videoUrl
                })
              });
              services.askScreenshot({ fileName });
            }
          })
          .catch(err => {
            console.log("err:", err);
          });
      }
      multipartUpload();
    },
    // 文件超出个数限制时的钩子
    handleAudiosExceed(files, fileList) {
      this.$message.warning(`每次只能上传 ${this.limit} 个文件`);
    },
    // 点击文件列表中已上传的文件时的钩子
    handleAudiosPreview(file) {},
    // 删除文件之前的钩子
    beforeAudiosRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`);
    },
    // 文件列表移除文件时的钩子
    handleAudiosRemove(file, fileList) {},
    // 文件上传成功时的钩子
    handleAudiosSuccess(response, file, fileList) {
      this.audioFileList = fileList;
    },
    //文件上传前的校验
    beforeAudiosAvatarUpload(file) {
      const isLt5G =
        file.size / 1024 / 1024 > 1 && file.size / 1024 / 1024 < 1024 * 5;
      const isLt30 = file.name.length < 30;
      if (
        ["audio/wmv", "audio/mp3", "audio/ogg", "audio/aac"].indexOf(
          file.type
        ) == -1
      ) {
        this.$message.error("请上传正确的音频格式");
        return false;
      }
      if (!isLt5G) {
        this.$message.error("上传音频大小要在1MB~5GB之间哦!");
        return false;
      }
      if (!isLt30) {
        this.$message.error("上传音频文件名称长度必须要小于30个文字哦!");
        return false;
      }
      // 请求后台接口拿配置参数
      return new Promise((resolve, reject) => {
        services
          .getAliOSSConfig()
          .then(response => {
            if (response.data && response.data.data) {
              this.dataObj = response.data.data; //接口返回配置参数
              resolve(true);
            } else {
              reject(false);
            }
          })
          .catch(err => {
            console.log(err);
            reject(false);
          });
      });
    },
    UploadAudios(file) {
      const that = this;
      async function multipartUpload() {
        let temporary = file.file.name.lastIndexOf(".");
        let fileNameLength = file.file.name.length;
        let fileFormat = file.file.name.substring(
          temporary + 1,
          fileNameLength
        );
        let fileName = getFileNameUUID() + "." + fileFormat;
        client(that.dataObj)
          .multipartUpload(`upload/audios/${fileName}`, file.file, {
            progress: function(p) {
              //p进度条的值
              console.log(p);
              that.showAudioProgress = true;
              that.audioProgress = Math.floor(p * 100);
            }
          })
          .then(result => {
            //上传成功返回值，可针对项目需求写其他逻辑
            if (result && result.res && !_.isEmpty(result.res.requestUrls)) {
              let audioUrl = result.res.requestUrls[0].split("?uploadId")[0];
              that.$store.dispatch("showSubstituteContentForm", {
                edit: that.formState.edit,
                formData: Object.assign({}, that.formState.formData, {
                  audioUrl: audioUrl
                })
              });
            }
          })
          .catch(err => {
            console.log("err:", err);
          });
      }
      multipartUpload();
    }
  },
  computed: {
    ...mapGetters(["contentTagList", "specialList"]),
    formState() {
      return this.$store.getters.substituteContentFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getContentTagList", {
      pageSize: 200
    });
  }
};
</script>
