{% extends "./public/defaultTemp.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div id="download" ms-controller="mbdownload">
    <input type="hidden" id="apkPath" value="{{apkPath}}">
    <section class="section section-dl">
        <div class="nav-bar">
            <div class="logo">
                <img src="/themes/dorawhite/images/common/logo-white.png" height="50" alt="">
                {{lk.label_download_title}}
            </div>
            <div class="links">
                <a href="/">{{lk.label_backto_index}}</a>
                {# <a href="https://www.masterchain.work">{{lk.label_download_site}}</a> #}
            </div>
        </div>
        <div class="download-area">
            <div class="row">
                <div class="btns">
                    <div class="dbtn ios-btn" ms-on-click="@downloadIos">
                        <i class="fa fa-apple"></i>
                        <span>IOS下载</span>
                    </div>
                    <div class="dbtn android-btn" ms-on-click="@downloadAndroid">
                        <i class="fa fa-android"></i>
                        <span>Android下载</span>
                    </div>
                    <div class="dbtn android-btn" ms-on-click="@downloadGoogle">
                        <i class="iconfont icon-googleplay"></i>
                        <span>GooglePlay下载</span>
                    </div>
                </div>
                <div class="qrcode">
                    <div>
                        <img src="/api/v0/content/qrImg?detailLink=https://www.masterchain.media/mb/download.html" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
{% endblock %}