{% extends "./public/defaultTemp.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div class="container" style="background-color:#fff">
    <div class="row" style="margin-top:62px">
        <div class="col-md-12 dslCol" style="min-height:400px;">

            {% if helpInfo %}
            <div>{{helpInfo.comments | safe}}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}