{% extends "./public/defaultTemp.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div class="help-title">
    <div class="container">
        {% if helpInfo %}
        <div class="col-md-12">
            <h3>{{helpInfo.name}}</h3>
        </div>
        {% endif %}
    </div>

</div>
<div class="container" style="background-color:#fff">
    <div class="row help-main" style="margin-top:30px">

        <div class="col-md-12 dslCol" style="min-height:400px;">

            {% if helpInfo %}
            <div>{{helpInfo.comments | safe}}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}