{% extends "./public/defaultTemp.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div class="container">
    <div class="row" style="margin-top:62px">
        <div class="col-md-9 dslCol">
            {{adsPannel.slider(adsList.docs,'T3DFbzMIjG')}}

            <dl class="lTabBox">
                <dt>
                    {% include "./public/topFloatNav.html" %}
                </dt>
                <dd>
                    {% include "./public/hotNewsList.html" %}
                </dd>
            </dl>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            {% include "./public/rightPannel.html" %}
        </div>
    </div>
</div>
{% endblock %}