{% extends "./public/defaultTemp.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div class="container">
    <div class="row" style="margin-top:62px">
        <div class="col-md-9 dslCol">
            {{adsPannel.slider(adsList.docs,'kYMDJLFDcb')}}

            <dl class="lTabBox">
                <dt>
                    {% include "./public/topFloatNav.html" %}
                </dt>
                <dd id="findMastersApp" class="discover">
                    <h3>{{lk.label_content_find_masters_1}}</h3>
                    <div class="discoverCol">
                        <ul>
                            {% set masterCates = masterCategories.docs.slice(0, 7) %}
                            {% for item in masterCates %}
                            <li>
                                <a href="javascript:;" class="findMasters__communityTag" data-id="{{item._id}}">
                                    <img src="{{item.sImg}}" alt="">
                                    <span class="mask"></span>
                                    <i>{{item.name}}</i>
                                    <span class="total">{{item.follow_num}}</span>
                                </a>
                            </li>
                            {% endfor %}

                            <li onclick="askClassApp()"><a href="javascript:void(0)"><span class="mask"></span><i>{{lk.label_flash_title_more}}
                                        &gt;</i></a></li>
                        </ul>
                    </div>
                </dd>
                <dd id="findMasters__mainContent">
                    <h3>{{lk.label_content_find_contents}}</h3>
                    {% include "./public/masterContentList.html" %}
                </dd>
                <dd id="findMasters__contents" ms-controller="findMasters__contents" style="padding: 20px; display: none;">
                    <div class="row" ms-for="item in @communities" style="margin-bottom: 20px;">
                        <div class="col-md-10">
                            <img ms-attr="{src: @item.logo}" alt="" class="pull-left" style="width: 80px; height: 80px; border-radius: 10px">
                            <div style="margin-left: 100px;">
                                <h4 style="font-size: 18px; font-weight: bold; margin-top: 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                                    ms-text="@item.userName"></h4>
                                <p style="font-size: 14px; color: #999;margin-top: 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                                    ms-text="@item.comments"></p>
                                <p style="font-size: 14px; color: #999;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                    <span style="margin-right: 2em;"><span ms-text="@item.follow_num"></span>
                                        {{lk.label_content_person}}</span>
                                    <span><span ms-text="@item.content_num"></span> {{lk.label_content_activer}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" ms-visible="!@item.had_followed" class="pull-right btn btn-primary"
                                ms-on-click="joinIn(@item._id)">+
                                {{lk.user_action_type_collection}}</button>
                            <button type="button" ms-visible="@item.had_followed" disabled class="pull-right btn btn-primary">
                                {{lk.label_content_master_had_watched}}</button>
                        </div>
                        <div ms-if="!@communities.length" class="text-center">{{lk.lc_content_list_nocontent}}</div>
                </dd>
            </dl>
            <script>
                $(function () {
                    var $mainContent = $('#findMasters__mainContent'),
                        $contents = $('#findMasters__contents')
                    var vm = avalon.define({
                        $id: 'findMasters__contents',
                        isShow: false,
                        communities: [],
                        getData: function (id) {
                            vm.isShow = true
                            getAjaxData('/api/v0/user/masterList?category=' + id, function (
                                data) {
                                if (data.status === 200) {
                                    vm.communities = data.data.docs;
                                } else {
                                    layer.msg(data.message, {
                                        icon: 2
                                    });
                                }
                            })
                        },
                        joinIn: function (id) {
                            getAjaxData('/api/v0/user/followMaster?masterId=' + id, function (
                                data) {
                                if (data.status === 200) {
                                    layer.msg(data.message, {
                                        icon: 1
                                    });
                                    vm.communities = vm.communities.map(function (item) {
                                        if (item._id === id) item.had_followed =
                                            true
                                        return item
                                    })
                                } else {
                                    layer.msg(data.message, {
                                        icon: 2
                                    });
                                }
                            })
                        }
                    })

                    $('.findMasters__communityTag').on('click', function () {
                        $mainContent.hide()
                        $contents.show()
                        vm.getData($(this).data('id'))
                    })
                })
            </script>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            {% include "./public/rightPannel.html" %}
        </div>
    </div>
</div>
{% endblock %}