{% extends "./public/defaultTemp.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div class="container">
    <div class="row" style="margin-top:62px">
        <div class="col-md-9 dslCol">
            {{adsPannel.slider(adsList.docs,'kYMDJLFDcb')}}

            <dl class="lTabBox">
                <dt>
                    {% include "./public/topFloatNav.html" %}
                </dt>
                <dd id="discoverApp" class="discover">
                    <h3>{{lk.label_content_find_special}}</h3>
                    <div class="discoverCol">
                        <ul>
                            {% set communityTags = communityTagsList.docs.slice(0, 7) %}
                            {% for item in communityTags %}
                            <li>
                                <a href="javascript:;" class="discover__communityTag" data-id="{{item._id}}">
                                    <img src="{{item.sImg}}" alt="">
                                    <span class="mask"></span>
                                    <i>{{item.name}}</i>
                                    <span class="total">{{item.community_num}}</span>
                                </a>
                            </li>
                            {% endfor %}

                            <li onclick="askClassApp()"><a href="javascript:void(0)"><span class="mask"></span><i>{{lk.label_flash_title_more}}
                                        &gt;</i></a></li>
                        </ul>
                    </div>
                </dd>
                <dd id="discover__mainContent">
                    <h3>{{lk.lc_new_document}}</h3>
                    {% include "./public/discover.html" %}
                </dd>
                <dd id="discover__communityContent" ms-controller="discover__communityContent" style="padding: 20px; display: none;">
                    <div class="row" ms-for="item in @communities" style="margin-bottom: 20px;">
                        <div class="col-md-10">
                            <img ms-attr="{src: @item.sImg}" alt="" class="pull-left" style="width: 80px; height: 80px; border-radius: 10px">
                            <div style="margin-left: 100px;">
                                <h4 style="font-size: 18px; font-weight: bold; margin-top: 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                                    ms-text="@item.name"></h4>
                                <p style="font-size: 14px; color: #999;margin-top: 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                                    ms-text="@item.comments"></p>
                                <p style="font-size: 14px; color: #999;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                    <span style="margin-right: 2em;"><span ms-text="@item.watch_num"></span>
                                        {{lk.label_content_person}}</span>
                                    <span><span ms-text="@item.content_num"></span> {{lk.label_content_activer}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button ms-visible="!@item.had_watched" type="button" class="pull-right btn btn-primary"
                                ms-on-click="joinIn(@item._id)">+
                                {{lk.label_content_follow}}</button>
                            <button ms-visible="@item.had_watched" type="button" disabled class="pull-right btn btn-primary">
                                {{lk.label_content_had_followed}}</button>
                        </div>
                    </div>
                    <div ms-if="!@communities.length" class="text-center">{{lk.lc_content_list_nocontent}}</div>
                </dd>
            </dl>
            <script>
                $(function () {
                    var $mainContent = $('#discover__mainContent'),
                        $communityContent = $('#discover__communityContent')
                    var vm = avalon.define({
                        $id: 'discover__communityContent',
                        isShow: false,
                        communities: [],
                        getData: function (id) {
                            vm.isShow = true
                            getAjaxData('/api/v0/community/getCommunity?tag=' + id, function (data) {
                                if (data.status === 200) {
                                    vm.communities = data.data.docs;
                                } else {
                                    layer.msg(data.message, {
                                        icon: 2
                                    });
                                }
                            })
                        },
                        joinIn: function (id) {
                            getAjaxData('/api/v0/community/addUsers?communityId=' + id, function (
                                data) {
                                if (data.status === 200) {
                                    layer.msg(data.message, {
                                        icon: 1,
                                        time: 800
                                    }, function () {
                                        vm.communities = vm.communities.map(
                                            function (item) {
                                                if (item._id === id) item.had_watched =
                                                    true
                                                return item
                                            })
                                    });

                                } else {
                                    layer.msg(data.message, {
                                        icon: 2
                                    });
                                }
                            })
                        }
                    })

                    $('.discover__communityTag').on('click', function () {
                        $mainContent.hide()
                        $communityContent.show()
                        vm.getData($(this).data('id'))
                    })
                })
            </script>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            {% include "./public/rightPannel.html" %}
        </div>
    </div>
</div>
{% endblock %}