{% extends "./public/defaultAppTemp.html" %} {% block content %}
<link rel="stylesheet" href="/plugins/intlTelInput/css/intlTelInput.css">
<div class="container" ms-controller="regAction">
    <div class="row">
        <div class="top-banner"></div>
        <div class="col-xs-12 form-box">
            <form class="form-horizontal" role="form" ms-validate="@validate">
                <div class="form-group ">
                    <div class="col-sm-12 prepend">
                        <span class="iconfont icon-user"></span>
                        {% include "./public/selectCountryCode.html" %}
                        <input type="text" type="tel" class="form-control input-lg phoneArea" ms-duplex="@phoneNum"
                            placeholder="{{lk.lc_basic_pl_tel}}" ms-rules="{required:true,number:true }"
                            data-required-message="{{lk.lc_basic_pl_tel}}" data-message="{{lk.lc_basic_pl_tel}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 prepend">
                        <span class="iconfont icon-lock"></span>
                        <input type="password" class="form-control input-lg" placeholder="{{lk.lc_write_password}}"
                            ms-duplex="@password" ms-rules="{required: true}"
                            data-required-message="{{lk.lc_write_current_password}}"
                            data-message="{{lk.lc_write_current_password}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 prepend">
                        <span class="iconfont icon-key"></span>
                        <input type="text" class="form-control input-lg" ms-duplex="@messageCode"
                            placeholder="{{lk.label_user_imageCode}}"
                            ms-rules="{required:true,maxlength:6,minlength:6,number:true }"
                            data-required-message="{{lk.validate_inputNull | inputNotNull(lk.label_user_imageCode)}}"
                            data-message="{{lk.validate_inputCorrect | inputCurrent(lk.label_user_imageCode)}}"
                            id="v-code">
                    </div>
                    <div class="sendCode col-xs-4">
                        <a href="javascript:void(0)" id="sendYzm" ms-on-click="@sendMsgCode"
                            class="btn btn-default btn-lg">{{lk.lc_get_messageCode}}</a>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-12 agreement">

                        <input type="checkbox" class="form-control" value='1' ms-duplex="choices" />
                        {{lk.label_user_reg_agree_4}} <a href="javascript:void(0)" ms-on-click="openUserAgreement('10')"
                            class="link">{{lk.label_user_reg_agree_1}}</a>
                        {{lk.lc_and}}<a href="javascript:void(0)"
                            ms-on-click="openUserAgreement('11')">{{lk.label_user_reg_agree_1}}</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="sub-btn">
                        <button type="submit"
                            class="btn btn-primary btn-lg btn-block">{{lk.label_user_reg_agree_3}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

<script src="/plugins/intlTelInput/js/intlTelInput.js"></script>
<script>
    $("#phone").intlTelInput({
        initialCountry: "cn",
        utilsScript: "/plugins/intlTelInput/js/utils.js"
    });
    $(function () {
        if ((navigator.userAgent.match(
                /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
            ))) {

        } else {
            $('.top-banner').css('height', '18rem');
        }
    })
</script>
{% endblock %}