{% extends "./public/defaultTemp.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div class="container masterCourse" ms-controller="masterClass">
    <div class="row" style="margin-top:62px">
        <div class="col-md-12">
            {{adsPannel.slider(adsList.docs,'iyEAnx7sVP')}}
            <dl class="lTabBox">
                <dt class="tabNavCont">
                    <ul class="tabNav">
                        <li class=""><a href="javascript:;" aria-controls="rc" class="link active">{{lk.label_class_rc}}</a></li>
                        <li><a href="javascript:;" aria-controls="vip" class="link">{{lk.label_class_vip}}</a></li>
                        <li><a href="javascript:;" aria-controls="yh" class="link">{{lk.label_class_yh}}</a></li>
                        <li><a href="javascript:;" aria-controls="jp" class="link">{{lk.label_class_jp}}</a></li>
                    </ul>
                    <a href="javascript:void(0)" ms-on-click="@getMyClass" class="myCourse">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;{{lk.label_class_myClass}}</a>
                </dt>
                <dd class="tab-cont masterCourseTab clearfloat">
                    {% include "./public/masterClassList.html" %}
                </dd>
                <dd class="tab-cont masterCourseTab clearfloat">
                    <div>
                        <div class="colLi" ms-visible="@vipClass.length>0" ms-for="(index,item) in @vipClass">
                            <a ms-attr="{href:'/classDetails/'+ @item._id + '.html'}" target="_blank" class="masterCourseTabCt">
                                <div class="pic" ms-css="{backgroundImage: 'url(' + @item.sImg + ')'}"></div>
                                <div class="cont">
                                    <h4 ms-attr="{title: @item.name}" ms-text="@item.name"></h4>
                                    <h5 ms-attr="{title: @item.author.userName}" ms-text="@item.author.userName"></h5>

                                    <h6 ms-if="@item.price && @item.vipPrice" ms-attr="{title: @item.vipPrice+' '+ @item.unit}">
                                        <span class="red" ms-text="@item.vipPrice+' '+ @item.unit"></span>
                                        <span class="normal" style="margin-left:10px;" ms-text="@item.price+' '+ @item.unit"></span></h6>

                                    <h6 ms-if="@item.price && !@item.vipPrice" ms-attr="{title: @item.price+' '+ @item.unit}"
                                        ms-text="@item.price+' '+ @item.unit"></h6>
                                    <p ms-visible="@item.priceType == '1'">{{lk.label_class_vip_free}}</p>

                                    <h6 ms-visible="@item.priceType == '0'">{{lk.label_class_free}}</h6>
                                </div>
                            </a>
                        </div>
                        <div class="text-center no-data" ms-visible="@vipClass.length==0">{{lk.label_no_data}}</div>
                    </div>
                </dd>
                <dd class="tab-cont masterCourseTab clearfloat">
                    <div>
                        <div class="colLi" ms-visible="@yhClass.length>0" ms-for="(index,item) in @yhClass">
                            <a ms-attr="{href:'/classDetails/'+ @item._id + '.html'}" target="_blank" class="masterCourseTabCt">
                                <div class="pic" ms-css="{backgroundImage: 'url(' + @item.sImg + ')'}"></div>
                                <div class="cont">
                                    <h4 ms-attr="{title: @item.name}" ms-text="@item.name"></h4>
                                    <h5 ms-attr="{title: @item.author.userName}" ms-text="@item.author.userName"></h5>

                                    <h6 ms-if="@item.price && @item.vipPrice" ms-attr="{title: @item.vipPrice+' '+ @item.unit}">
                                        <span class="red" ms-text="@item.vipPrice+' '+ @item.unit"></span>
                                        <span class="normal" style="margin-left:10px;" ms-text="@item.price+' '+ @item.unit"></span></h6>

                                    <h6 ms-if="@item.price && !@item.vipPrice" ms-attr="{title: @item.price+' '+ @item.unit}"
                                        ms-text="@item.price+' '+ @item.unit"></h6>
                                    <p ms-visible="@item.priceType == '1'">{{lk.label_class_vip_free}}</p>

                                    <h6 ms-visible="@item.priceType == '0'">{{lk.label_class_free}}</h6>
                                </div>
                            </a>
                        </div>
                        <div class="text-center no-data" ms-visible="@yhClass.length==0">{{lk.label_no_data}}</div>

                    </div>
                </dd>
                <dd class="tab-cont masterCourseTab clearfloat">
                    <div>
                        <div class="colLi" ms-visible="@jpClass.length>0" ms-for="(index,item) in @jpClass">
                            <a ms-attr="{href:'/classDetails/'+ @item._id + '.html'}" target="_blank" class="masterCourseTabCt">
                                <div class="pic" ms-css="{backgroundImage: 'url(' + @item.sImg + ')'}"></div>
                                <div class="cont">
                                    <h4 ms-attr="{title: @item.name}" ms-text="@item.name"></h4>
                                    <h5 ms-attr="{title: @item.author.userName}" ms-text="@item.author.userName"></h5>

                                    <h6 ms-if="@item.price && @item.vipPrice" ms-attr="{title: @item.vipPrice+' '+ @item.unit}">
                                        <span class="red" ms-text="@item.vipPrice+' '+ @item.unit"></span>
                                        <span class="normal" style="margin-left:10px;" ms-text="@item.price+' '+ @item.unit"></span></h6>

                                    <h6 ms-if="@item.price && !@item.vipPrice" ms-attr="{title: @item.price+' '+ @item.unit}"
                                        ms-text="@item.price+' '+ @item.unit"></h6>
                                    <p ms-visible="@item.priceType == '1'">{{lk.label_class_vip_free}}</p>

                                    <h6 ms-visible="@item.priceType == '0'">{{lk.label_class_free}}</h6>
                                </div>
                            </a>
                        </div>
                        <div class="text-center no-data" ms-visible="@jpClass.length==0">{{lk.label_no_data}}</div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}