{% extends "./public/defaultTemp.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div class="container">
    <div class="row" style="margin-top:62px">
        <div class="col-md-12 topCont">
            <dl class="lTabBox">
                <dd class=" autoHeight">
                    <div class="tab-topic">
                        <div class="topic-box">
                            <div class="topic-box-main">
                                <div class="lBox">
                                    <h2>
                                        {{ contentCategory.name }}
                                    </h2>
                                    <div class="subTitle">{{ contentCategory.comments }}</div>
                                    <div class="desc">
                                        {{contentCategory.creator.userName}}<Br>
                                        <span>{{contentCategory.watch_num}} {{lk.label_content_person_watch}}</span>
                                    </div>
                                    {% if contentCategory.had_watched %}
                                    <a href="javascript:void(0)" class="followTopic">{{lk.label_content_master_had_watched}}</a>
                                    {% else %}
                                    <a href="javascript:watchSpecial('{{item._id}}')" class="followTopic">{{lk.user_action_tips_add_special}}</a>
                                    {% endif %}
                                </div>
                                <div class="rBox hidden-sm hidden-xs">
                                    <img src="{{ contentCategory.sImg }}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-md-12 dslCol" style="margin-bottom: 20px;">
            <dl class="lTabBox">
                <dd>
                    {% include "./public/topicList.html" %}
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}