<template>
  <div class="dr-CommunityMessageForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      size="small"
      title="修改类别"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item label="社群内容">{{dialogState.formData.contentId.comments}}</el-form-item>
        <el-form-item label="回复者" prop="content">{{dialogState.formData.author.userName}}</el-form-item>
        <el-form-item label="回复内容" prop="content">{{dialogState.formData.content}}</el-form-item>
        <!-- <el-form-item>
          <el-button
            size="medium"
            type="primary"
            @click="submitForm('ruleForm')"
          >{{$t('communityMessage.reply')}}</el-button>
        </el-form-item>-->
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array
  },
  data() {
    return {
      rules: {}
    };
  },
  methods: {
    confirm() {
      this.$store.dispatch("hideCommunityMessageForm");
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let parentParams = this.dialogState.parentformData,
            repFormData = {};
          repFormData.relationMsgId = parentParams._id;
          repFormData.contentId = parentParams.contentId._id;
          repFormData.utype = "1";
          if (parentParams.author) {
            repFormData.replyAuthor = parentParams.author._id;
          } else if (parentParams.adminAuthor) {
            repFormData.adminReplyAuthor = parentParams.adminAuthor._id;
          }

          repFormData.content = this.dialogState.formData.content;
          // 新增
          services.addCommunityMessage(repFormData).then(result => {
            if (result.data.status === 200) {
              this.$store.dispatch("hideCommunityMessageForm");
              this.$store.dispatch("getCommunityMessageList");
              this.$message({
                message: this.$t("main.addSuccess"),
                type: "success"
              });
            } else {
              this.$message.error(result.data.message);
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>