<template>
  <div class="adminUser">
    <CommunityMessageForm :dialogState="formState"></CommunityMessageForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="communityMessage" :ids="selectlist" :pageInfo="communityMessageList.pageInfo"></TopBar>
        <DataTable :pageInfo="communityMessageList.pageInfo" :dataList="communityMessageList.docs"></DataTable>
        <Pagination :pageInfo="communityMessageList.pageInfo" pageType="communityMessage"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import CommunityMessageForm from "./communityMessageForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {
      selectlist: []
    };
  },
  components: {
    DataTable,
    TopBar,
    CommunityMessageForm,
    Pagination
  },
  methods: {
    changeSelect(ids) {
      this.selectlist = ids;
    }
  },
  computed: {
    ...mapGetters(["communityMessageList"]),
    formState() {
      return this.$store.getters.communityMessageFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getCommunityMessageList");
  }
};
</script>

<style lang="">
</style>