<template>
    <div class="adminUser">
        <Weight_masterForm :dialogState="formState"></Weight_masterForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="weight_master" :pageInfo="weight_masterList.pageInfo"></TopBar>
                <DataTable :pageInfo="weight_masterList.pageInfo" :dataList="weight_masterList.docs"></DataTable>
                <Pagination :pageInfo="weight_masterList.pageInfo" pageType="weight_master"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import Weight_masterForm from './weight_masterForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            Weight_masterForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'weight_masterList'
            ]),
            formState() {
                return this.$store.getters.weight_masterFormState
            }
        },
        mounted() {
            this.$store.dispatch('getWeight_masterList');
        }
    }
</script>

<style lang="">

</style>