<template>
  <div class="dr-ClassContentForm">
    <el-dialog
      :xs="20"
      :sm="20"
      :md="6"
      :lg="6"
      :xl="6"
      width="70%"
      size="small"
      title="课程审核"
      :visible.sync="dialogState.show"
      :close-on-click-modal="false"
    >
      <el-form
        :model="dialogState.formData"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item :label="$t('classContent.catalog')" prop="catalog">
          <el-input
            :disabled="dialogState.edit"
            size="small"
            v-model="dialogState.formData.catalog"
          ></el-input>
        </el-form-item>
        <el-form-item :label="$t('classContent.state')" prop="state">
          <el-select v-model="dialogState.formData.state" placeholder="审核课程">
            <el-option
              v-for="item in contentState"
              :key="'kw_'+item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item
          v-if="dialogState.formData.basicInfo.type=='0'"
          :label="$t('classContent.comments')"
          prop="comments"
        >
          <Ueditor @ready="editorClassReady" ref="ueditor"></Ueditor>
        </el-form-item>
        <el-form-item v-if="dialogState.formData.basicInfo.type=='1'" label="视频预览" prop="videoArr">
          <iframe
            v-if="dialogState.formData.videoArr && dialogState.formData.videoArr.length>0"
            :src="'/manage/classManagePreview.html?videoId='+dialogState.formData.videoArr[0]"
            width="100%"
            height="400px"
            frameborder="0"
          ></iframe>
        </el-form-item>
        <el-form-item v-if="dialogState.formData.basicInfo.type=='2'" label="音频预览" prop="audioArr">
          <iframe
            v-if="dialogState.formData.audioArr && dialogState.formData.audioArr.length>0"
            :src="'/users/classPreview.html?videoId='+dialogState.formData.audioArr[0]"
            width="100%"
            height="400px"
            frameborder="0"
          ></iframe>
        </el-form-item>
        <el-form-item>
          <el-button
            size="medium"
            type="primary"
            @click="submitForm('ruleForm')"
          >{{dialogState.edit ? $t('main.form_btnText_update') : $t('main.form_btnText_save')}}</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import Ueditor from "../common/Ueditor.vue";
import services from "../../store/services.js";
import _ from "lodash";
export default {
  props: {
    dialogState: Object,
    groups: Array
  },
  data() {
    return {
      contentState: [
        { value: "0", label: "退回" },
        { value: "1", label: "待审核" },
        { value: "2", label: "审核通过" }
      ],
      editorInstance: "",
      rules: {
        name: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("ClassContent.name")
            }),
            trigger: "blur"
          },
          {
            min: 1,
            max: 12,
            message: this.$t("validate.rangelength", { min: 1, max: 12 }),
            trigger: "blur"
          }
        ],
        comments: [
          {
            required: true,
            message: this.$t("validate.inputNull", {
              label: this.$t("main.comments_label")
            }),
            trigger: "blur"
          },
          {
            min: 20,
            max: 50000,
            message: this.$t("validate.ranglengthandnormal", {
              min: 20,
              max: 50000
            }),
            trigger: "blur"
          }
        ]
      }
    };
  },
  components: {
    Ueditor
  },
  methods: {
    setContents(contents) {
      if (this.editorInstance) {
        this.editorInstance.setContent(contents);
      }
    },
    editorClassReady(instance) {
      if (instance) {
        this.editorInstance = instance;
      }
      if (this.dialogState.edit) {
        instance.setContent(this.dialogState.formData.comments);
      } else {
        instance.setContent("");
      }
      instance.addListener("contentChange", () => {
        this.content = instance.getContent();
        this.simpleComments = instance.getPlainTxt();
        this.$store.dispatch("showClassContentForm", {
          edit: this.dialogState.edit,
          formData: Object.assign({}, this.dialogState.formData, {
            comments: this.content,
            simpleComments: this.simpleComments
          })
        });
      });
    },
    confirm() {
      this.$store.dispatch("hideClassContentForm");
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = {
            _id: this.dialogState.formData._id,
            state: this.dialogState.formData.state,
            basicInfo: this.dialogState.formData.basicInfo._id
          };

          services.updateClassContent(params).then(result => {
            if (result.data.status === 200) {
              this.$store.dispatch("hideClassContentForm");
              this.$store.dispatch("getClassContentList");
              this.$message({
                message: this.$t("main.updateSuccess"),
                type: "success"
              });
            } else {
              this.$message.error(result.data.message);
            }
          });

          // 更新
          // if (this.dialogState.edit) {
          //   services.updateClassContent(params).then(result => {
          //     if (result.data.status === 200) {
          //       this.$store.dispatch("hideClassContentForm");
          //       this.$store.dispatch("getClassContentList");
          //       this.$message({
          //         message: this.$t("main.updateSuccess"),
          //         type: "success"
          //       });
          //     } else {
          //       this.$message.error(result.data.message);
          //     }
          //   });
          // } else {
          //   // 新增
          //   services.addClassContent(params).then(result => {
          //     if (result.data.status === 200) {
          //       this.$store.dispatch("hideClassContentForm");
          //       this.$store.dispatch("getClassContentList");
          //       this.$message({
          //         message: this.$t("main.addSuccess"),
          //         type: "success"
          //       });
          //     } else {
          //       this.$message.error(result.data.message);
          //     }
          //   });
          // }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>