<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="catalog" :label="$t('classContent.catalog')"></el-table-column>
      <el-table-column prop="basicInfo" :label="$t('classContent.basicInfo')">
        <template slot-scope="scope">{{scope.row.basicInfo?scope.row.basicInfo.name:''}}</template>
      </el-table-column>
      <el-table-column prop="author" :label="$t('classContent.author')">
        <template slot-scope="scope">{{scope.row.author.userName}}</template>
      </el-table-column>
      <el-table-column prop="duration" :label="$t('classContent.duration')"></el-table-column>
      <el-table-column prop="state" :label="$t('classContent.state')" show-overflow-tooltip>
        <template slot-scope="scope">
          <i
            :class="scope.row.state=='2' ? 'fa fa-check-circle' : 'fa fa-minus-circle'"
            :style="scope.row.state=='2' ? green : red"
          ></i>
        </template>
      </el-table-column>
      <el-table-column :label="$t('main.dataTableOptions')" width="150">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            plain
            round
            @click="editClassContent(scope.$index, dataList)"
          >
            <i class="fa fa-edit"></i>
          </el-button>
          <el-button
            size="mini"
            type="danger"
            plain
            round
            icon="el-icon-delete"
            @click="deleteClassContent(scope.$index, dataList)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      green: { color: "#13CE66" },
      red: { color: "#FF4949" },
      loading: false,
      multipleSelection: []
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    editClassContent(index, rows) {
      let rowData = rows[index];
      this.$store.dispatch("showClassContentForm", {
        edit: true,
        formData: rowData
      });
      this.$emit("changeEditorContents", rowData.comments);
    },
    deleteClassContent(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteClassContent({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getClassContentList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>