<template>
  <div class="adminUser">
    <ClassContentForm :dialogState="formState" ref="contentFrom"></ClassContentForm>
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="classContent" :pageInfo="classContentList.pageInfo"></TopBar>
        <DataTable
          :pageInfo="classContentList.pageInfo"
          :dataList="classContentList.docs"
          @changeEditorContents="changeEditorContents"
        ></DataTable>
        <Pagination :pageInfo="classContentList.pageInfo" pageType="classContent"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import ClassContentForm from "./classContentForm";
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    ClassContentForm,
    Pagination
  },
  methods: {
    changeEditorContents(contents) {
      this.$refs.contentFrom.setContents(contents);
    }
  },
  computed: {
    ...mapGetters(["classContentList"]),
    formState() {
      return this.$store.getters.classContentFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getClassContentList");
  }
};
</script>

<style lang="">
</style>