<template>
    <div class="adminUser">
        <User_reward_hisForm :dialogState="formState"></User_reward_hisForm>
        <el-row class="dr-datatable">
            <el-col :span="24">
                <TopBar type="user_reward_his" :pageInfo="user_reward_hisList.pageInfo"></TopBar>
                <DataTable :pageInfo="user_reward_hisList.pageInfo" :dataList="user_reward_hisList.docs"></DataTable>
                <Pagination :pageInfo="user_reward_hisList.pageInfo" pageType="user_reward_his"></Pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import User_reward_hisForm from './user_reward_hisForm'
    import DataTable from './dataTable.vue';
    import TopBar from '../common/TopBar.vue';
    import Pagination from '../common/Pagination.vue';
    import {
        mapGetters,
        mapActions
    } from 'vuex'

    export default {
        name: 'index',
        data() {
            return {

            }
        },
        components: {
            DataTable,
            TopBar,
            User_reward_hisForm,
            Pagination
        },
        methods: mapActions([

        ]),
        computed: {
            ...mapGetters([
                'user_reward_hisList'
            ]),
            formState() {
                return this.$store.getters.user_reward_hisFormState
            }
        },
        mounted() {
            this.$store.dispatch('getUser_reward_hisList');
        }
    }
</script>

<style lang="">

</style>