<template>
  <div>
    <el-table
      align="center"
      v-loading="loading"
      ref="multipleTable"
      :data="dataList"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="class" :label="$t('classPayRecord.class')">
        <template slot-scope="scope">
          <span>{{scope.row.class.name}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="money" :label="$t('classPayRecord.money')"></el-table-column>
      <el-table-column prop="user" :label="$t('classPayRecord.user')">
        <template slot-scope="scope">
          <span>{{scope.row.user.userName}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="state" :label="$t('classPayRecord.state')">
        <template slot-scope="scope">
          <i
            :class="scope.row.state ? 'fa fa-check-circle' : 'fa fa-minus-circle'"
            :style="scope.row.state ? green : red"
          ></i>
        </template>
      </el-table-column>
      <el-table-column prop="learningProgress" :label="$t('classPayRecord.learningProgress')"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import services from "../../store/services.js";
export default {
  props: {
    dataList: Array,
    pageInfo: Object
  },
  data() {
    return {
      loading: false,
      multipleSelection: [],
      green: { color: "#13CE66" },
      red: { color: "#FF4949" }
    };
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    deleteClassPayRecord(index, rows) {
      this.$confirm(
        this.$t("main.del_notice"),
        this.$t("main.scr_modal_title"),
        {
          confirmButtonText: this.$t("main.confirmBtnText"),
          cancelButtonText: this.$t("main.cancelBtnText"),
          type: "warning"
        }
      )
        .then(() => {
          return services.deleteClassPayRecord({
            ids: rows[index]._id
          });
        })
        .then(result => {
          if (result.data.status === 200) {
            this.$store.dispatch("getClassPayRecordList", this.pageInfo);
            this.$message({
              message: this.$t("main.scr_modal_del_succes_info"),
              type: "success"
            });
          } else {
            this.$message.error(result.data.message);
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t("main.scr_modal_del_error_info")
          });
        });
    }
  }
};
</script>