<template>
  <div class="adminUser">
    <el-row class="dr-datatable">
      <el-col :span="24">
        <TopBar type="classPayRecord" :pageInfo="classPayRecordList.pageInfo"></TopBar>
        <DataTable :pageInfo="classPayRecordList.pageInfo" :dataList="classPayRecordList.docs"></DataTable>
        <Pagination :pageInfo="classPayRecordList.pageInfo" pageType="classPayRecord"></Pagination>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import DataTable from "./dataTable.vue";
import TopBar from "../common/TopBar.vue";
import Pagination from "../common/Pagination.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "index",
  data() {
    return {};
  },
  components: {
    DataTable,
    TopBar,
    Pagination
  },
  methods: mapActions([]),
  computed: {
    ...mapGetters(["classPayRecordList"]),
    formState() {
      return this.$store.getters.classPayRecordFormState;
    }
  },
  mounted() {
    this.$store.dispatch("getClassPayRecordList");
  }
};
</script>

<style lang="">
</style>